from .settings_dev import *

# # log all SQL statements:
# LOGGING['loggers']['django.db.backends'] = {
#     'level': 'DEBUG',
#     'handlers': ['console'],
#     'propagate': False,
# }

# # log all elasticsearch queries:
# LOGGING['loggers']['elasticsearch'] = {
#     'level': 'DEBUG',
#     'handlers': ['console'],
#     'propagate': False,
# }

# # log EVERYTHING:
# LOGGING['loggers'][''] = {
#     'handlers': ['console'],
#     'level': 'DEBUG',
#     'propagate': True,
# }