{% extends "layouts/full.html" %}
{% load static %}
{% load pipeline %}
{% load process_link %}
{% load md_chunk %}

{% block base_css %}
  {% stylesheet 'gallery' %}
{% endblock %}

{% block title %}Gallery: {{ section.title }}{% endblock %}
{% block meta_description %}Caselaw Access Project gallery: {{ section.title }}{% endblock %}
{% block top_section_style %}bg-black{% endblock %}
{% block row_style %}bg-tan{% endblock %}

{% block explainer %}
  {% if section.description %}{% md_chunk section.description %}{% endif %}
  Back to <a href="{% url 'gallery'%}">main Gallery page</a>.
{% endblock %}

{% block sidebar_menu_items %}
  {% for entry in section.entries.all|dictsort:"order" %}
    <li>
      <a class="list-group-item" href="#{{ entry.title|slugify }}">
        <span class="text">{{ entry.title }}</span>
      </a>
    </li>
  {% endfor %}
{% endblock %}


{% block main_content %}
  {% include "gallery/section_entries.html" %}
{% endblock %}
