{% extends "layouts/wide.html" %}
{% load pipeline %}
{% load render_bundle from webpack_loader %}

{% block extra_head %}
  {% render_bundle 'limericks' %}
  {% stylesheet 'gallery' %}
{% endblock %}

{% block title %}A Caselaw Limerick{% endblock %}
{% block meta_description %}Caselaw Access Project limericks{% endblock %}

{% block main_content %}
  <blockquote class="limerick-body">
    <!-- limerick goes here -->
  </blockquote>
  <button class="btn btn-primary" id="generate-limericks">
    New rhyme!
  </button>
{% endblock %}
