{% extends "layouts/wide.html" %}
{% load pipeline %}
{% load static %}
{% load django_vite %}

{% block extra_head %}
  <script src="{% static "js/limerick_lines.js" %}"></script>
  {% vite_asset 'static/js/generate_limericks.js' %}
  {% stylesheet 'gallery' %}
{% endblock %}

{% block title %}A Caselaw Limerick{% endblock %}
{% block meta_description %}Caselaw Access Project limericks{% endblock %}

{% block main_content %}
  <blockquote class="limerick-body">
    <!-- limerick goes here -->
  </blockquote>
  <button class="btn btn-primary" id="generate-limericks">
    New rhyme!
  </button>
{% endblock %}
