{% extends "layouts/wide.html" %}
{% load pipeline %}

{% block extra_head %}
  {% stylesheet 'gallery' %}
  {% javascript 'witchcraft_bundle' %}
{% endblock %}

{% block title %}Witchcraft in Law{% endblock %}
{% block meta_description %}
  Caselaw Access Project exploration of witchcraft
{% endblock %}
{% block full_content_style %}bg-black{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="witchcraft-info-box">
        <ul>
          <li class="item-set">
            <span class="title jur_name">Overall</span>
          </li>
          <li class="item-set">
            <span class="title num_appearances"></span> appearances
          </li>

          <li class="item-set">
            in <span class="title num_cases"></span> cases
          </li>

        </ul>
        <ul class="excerpt-box">
          <li class="item-set excerpts">
            Excerpts:
          </li>
        </ul>
        <a class="btn btn-inverse api-list-link"
           target="_blank"
           href=""><span class="jur_name_small"></span> in API</a>
      </div>

    </div>

    <div class="col-md-9 col-sm-12 col-xs-12">
      {% include "includes/usa_territories_white.svg" %}
    </div>


  </div>

{% endblock %}
