{% extends "layouts/wide.html" %}
{% load pipeline %}
{% load render_bundle from webpack_loader %}
{% load api_url %}

{% block extra_head %}
  {% stylesheet 'gallery' %}
{% endblock %}
{% block extra_footer %}
  <script>
    const urls = {
      caseApi: "{% load api_url %}"
    };
  </script>
  {% render_bundle 'witchcraft' %}
{% endblock %}

{% block title %}Witchcraft in Law{% endblock %}
{% block meta_description %}
  Caselaw Access Project exploration of witchcraft
{% endblock %}
{% block full_content_style %}bg-black{% endblock %}
{% block explainer %}
  <span class="color-white">
  A mapping of the appearance of the word &ldquo;witchcraft&rdquo; in caselaw.
  <br/><a href="https://lil.law.harvard.edu/blog/2018/10/31/witchcraft-in-u-s-caselaw/"
          target="_blank">
    Read more about it.
  </a>
  </span>
{% endblock %}
{% block main_content %}
  <div id="app"></div>
{% endblock %}
