{% extends "layouts/wide.html" %}
{% load static %}
{% load pipeline %}
{% load substring %}

{% block extra_head %}
  {% stylesheet 'gallery' %}
{% endblock %}

{% block title %}California Wordclouds{% endblock %}
{% block meta_description %}Caselaw Access Project California Wordclouds{% endblock %}
{% block explainer %}Most used words in California caselaw from 1853 to 2015{% endblock %}

{% block main_content %}
  <ul class="list-inline">
    {% for wordcloud in wordclouds %}
      <a class="wordcloud-item"
         title="{% substring full_string=wordcloud start_idx=0 end_idx=4 %}"
         href="{% static "" %}img/wordclouds/{{ wordcloud }}">
        <li class="list-item-inline">
          <img src="{% static "" %}img/wordclouds/{{ wordcloud }}"
               alt=""/>
          <p class="year">{% substring full_string=wordcloud start_idx=0 end_idx=4 %}</p>
        </li>
      </a>
    {% endfor %}
  </ul>
{% endblock %}
