{% extends "main_base.html" %}
{% load static %}
{% load pipeline %}
{% load substring %}

{% block extra_head %}
  {% stylesheet 'gallery' %}
{% endblock %}

{% block title %}Gallery | {% endblock %}

{% block meta_description %}
  Caselaw Access Project gallery
{% endblock %}

{% block content %}
  <div class="basic-page">
    <div class="full-content">
      <div class="top-section compressed">
        {% include "includes/page-title.html" with title="California Wordclouds" %}
        <div class="explainer-section">
          <div class="content">
            Most used words in California caselaw from 1853 to 2015
          </div>
        </div>
      </div>
      <div class="row">
        {# ==============> CONTENT <============== #}
        <div class="main-content">
          <ul class="list-inline">
            {% for wordcloud in wordclouds %}
              <a class="wordcloud-item"
                 title="{% substring full_string=wordcloud start_idx=0 end_idx=4 %}"
                 href="{% static "" %}img/wordclouds/{{ wordcloud }}">
                <li class="list-item-inline">
                  <img src="{% static "" %}img/wordclouds/{{ wordcloud }}"
                       alt=""/>
                  <p class="year">{% substring full_string=wordcloud start_idx=0 end_idx=4 %}</p>
                </li>
              </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
