{% extends "main_base.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% stylesheet 'about' %}
{% endblock %}

{% block title %}About | {% endblock %}

{% block meta_description %}
About the Caselaw Access Project
{% endblock %}


{% block content %}
  <div class="basic-page">
    <div class="full-content">
      <div class="row">
        <div class="page-title">
          <h1>
            <img alt=""
                 aria-hidden="true"
                 src='{% static "img/red-arrow-right.svg" %}'
                 class="decorative-arrow"/>
            About the Project
          </h1>
        </div>

      </div>
      <div class="row">
        {# ==============> MENU <============== #}
        <nav class="list-group sidebar-menu" aria-label="table of contents">
          <ul>
            <li><a class="list-group-item" href="#introduction">Introduction</a></li>
            <li><a class="list-group-item" href="#data">What data do we have?</a></li>
            <li><a class="list-group-item" href="#limits">Scope limits</a></li>
            <li><a class="list-group-item" href="#numbers">By the numbers</a></li>
            <li><a class="list-group-item" href="#data-quality">Data quality</a></li>
            <li><a class="list-group-item" href="#usage">Usage &amp; access</a></li>
            <li><a class="list-group-item" href="#press">Press</a></li>
            <li><a class="list-group-item" href="#contributors">Contributors</a></li>
          </ul>
        </nav>
        {# ==============> CONTENT <============== #}
          <div class="content">

            {# ==============> INTRODUCTION <============== #}
            <div class="page-section">
              <a name="introduction"></a>
              <p>
               <img class="img-fluid"
                 alt="A book of caselaw from the California Supreme Court with its binding removed is held with two hands next to a book scanner"
                 src="{% static "img/book-scan.jpg" %}">
              </p>
              <h2 class="subtitle">Introduction</h2>
              <p>
                <span class="highlighted">
                  The Caselaw Access Project (&#8220;CAP&#8221;) expands public access to U.S. law.
                </span>
              </p>
              <p>
                Our goal is to make all published U.S. court decisions freely available to the public online,
                in a consistent format, digitized from the collection of the Harvard Law Library.
              </p>
            </div>

            {# ==============> DATA <============== #}
            <div class="page-section">
              <a name="data"></a>
              <h2 class="subtitle">
                What data do we have?
              </h2>
              <p>
                CAP includes all official, book-published United States case law — every volume designated as an official
                report of decisions by a court within the United States.
              </p>
              <p>
                Our scope includes all state courts, federal courts, and territorial courts for American
                Samoa, Dakota Territory, Guam, Native American Courts, Navajo Nation, and the Northern Mariana
                Islands. Our earliest case is from 1658, and our most recent cases are from 2018.
              </p>
              <p>
                Each volume has been converted into structured, case-level data broken out by majority and dissenting
                opinion, with human-checked metadata for party names, docket number, citation, and date.
              </p>
              <p>
                We also plan to share (but have not yet published) page images and page-level OCR data for all volumes.
              </p>
            </div>

            {# ==============> LIMITS <============== #}
            <div class="page-section">
              <a name="limits"></a>
              <h2 class="subtitle">
                Scope limits
              </h2>
              <p>CAP does not include:</p>
              <ul class="bullets">
                <li>
                  New cases as they are published. We currently include volumes published through
                  June, 2018, and may or may not include additional volumes in the future.
                </li>
                <li>
                  Cases not designated as officially published, such as most lower court decisions.
                </li>
                <li>
                  Non-published trial documents such as party filings, orders, and exhibits.
                </li>
                <li>
                  Parallel versions of cases from regional reporters, unless those cases were
                  designated by a court as official.
                </li>
              </ul>
              <p>
                Cases published after 1922 are redacted of potentially-copyrighted material added by publishers.
              </p>
            </div>

            {# ==============> NUMBERS <============== #}
            <div class="page-section">
              <a name="numbers"></a>
              <h2 class="subtitle">
                By the numbers
              </h2>
              <p>
                Here are some tsv-formatted spreadsheets with specific counts from our collection, and links to view
                those cases in the API:
              </p>
              <ul>
                <li>
                  <a href="{% static "downloads/cases_by_reporter.tsv" %}">Case Count by Reporter Series</a>
                </li>
                <li>
                  <a href="{% static "downloads/cases_by_jurisdiction.tsv" %}">Case Count by Jurisdiction</a>
                </li>
                <li>
                  <a href="{% static "downloads/cases_by_decision_date.tsv" %}">Case Count by Decision Date</a>
                </li>
              </ul>
            </div>

            {# ==============> DATA QUALITY <============== #}
            <div class="page-section">
              <a name="data-quality"></a>
              <h2 class="subtitle">
                Data quality
              </h2>
              <p>
                Our data inevitably includes countless errors as part of the digitization process.
                <span class="highlighted">The public launch of this project is only the start of discovering
                errors, and we hope you will help us in finding and fixing them.</span>
              </p>
              <p>
                Some parts of our data are higher quality than others. Case metadata, such as the party names, docket
                number, citation, and date, has received human review. Case text and general head matter has been
                generated by machine OCR and has not received human review.</p>
              <p>
                You can report errors of all kinds at
                <a href="https://github.com/harvard-lil/capstone/labels/Data">our Github issue tracker</a>, where you
                can also see currently known issues. We particularly welcome metadata corrections, feature requests,
                and suggestions for large-scale algorithmic changes. We are not currently able to process individual
                OCR corrections, but welcome general suggestions on the OCR correction process.
              </p>
            </div>

            {# ==============> USAGE <============== #}
            <div class="page-section">
              <a name="usage"></a>
              <h2 class="subtitle">
                Usage &amp; access
              </h2>
              <p>
                <span class="highlighted">The CAP data is free for the public to use and access.</span>
              </p>
              <p>
                Case metadata, such as the case name, citation, court, date, etc.,
                is freely and openly accessible without limitation.
                Full case text can be freely viewed or downloaded but
                you must register for an account to do so, and currently you may
                view or download no more than 500 cases per day. In addition,
                research scholars can qualify for bulk data access by agreeing to certain use and redistribution restrictions.
              </p>
              <p>
                Access limitations on full text and bulk data are a component of Harvard’s
                collaboration agreement with Ravel Law, Inc. (now part of Lexis-Nexis).
                These limitations will end, at the latest, in March of 2024.
                In addition, these limitations apply only to cases from
                jurisdictions that continue to publish their official case law in print form.
                Once a jurisdiction transitions from print-first publishing to digital-first publishing,
                these limitations cease. Thus far, Illinois and Arkansas have made this important and positive
                shift and, as a result, all historical cases from these jurisdictions are freely available to the public
                without restriction. We hope many other jurisdictions will follow their example soon.
              </p>
            </div>

            {# ==============> PRESS <============== #}
            <div class="page-section">
              <a name="press"></a>
              <h2 class="subtitle">
                Press
              </h2>
              <ul>
                {% for news_item in news %}
                  <li class="item-set">
                    <p class="item-title">
                      <a href="{{ news_item.url }}" target="_blank">{{ news_item.title }}</a>
                    </p>
                    <span class="color-red">
                      {{ news_item.publication }}
                    </span>
                    <span class="color-orange">
                       &bull;
                    </span>
                    <span class="item-date">
                      {{ news_item.date }}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </div>

            {# ==============> CONTRIBUTORS <============== #}
            <div class="page-section">
              <a name="contributors"></a>
              <h2 class="subtitle">
                Contributors
              </h2>

                <ul>
                  {% for key,contributor in contributors.items %}
                    {% if contributor.name %}
                      <li class="item-set">
                        <span class="item-name">
                          {% if contributor.hash %}
                            <a href="https://lil.law.harvard.edu/about/#{{ contributor.hash }}" target="_blank">
                              {{ contributor.name }}
                            </a>
                          {% else %}
                            {{ contributor.name }}
                          {% endif %}
                        </span>
                        <span class="color-red">
                          &rarr;
                        </span>
                        <span>
                          {{ contributor.role }}
                        </span>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
