{% extends "main_base.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% javascript 'base' %}
{% endblock %}

{% block content %}
  {% include "includes/nav.html" %}
  <div class="basic-page">
    <div class="full-content">
      <div class="row">
        <div class="page-title">
          <h1>
            <img alt="›" src='{% static "img/red-arrow-right.svg" %}'
                 class="decorative-arrow"/>
            About the Project
          </h1>
        </div>

      </div>
      <div class="row">
        {# ==============> MENU <============== #}
        <div class="list-group sidebar-menu">
          <a class="list-group-item" href="#overview">Overview</a>
          <a class="list-group-item" href="#data">What data?</a>
          <a class="list-group-item" href="#usage">Usage &amp; access</a>
          <a class="list-group-item" href="#press">Press</a>
          <a class="list-group-item" href="#contributors">Contributors</a>
        </div>
        {# ==============> CONTENT <============== #}
          <div class="content">

            {# ==============> OVERVIEW <============== #}
            <div class="page-section">
              <p>
               <img class="img-fluid"
                 alt="Scanning reporters"
                 src="{% static "img/book-scan.jpg" %}">
              </p>
              <a name="overview"></a>
              <p>
                The Caselaw Access Project (&#8220;CAP&#8221;) is an effort to expand public access to U.S. law.
              </p>
              <p>
                The written decisions of state and federal courts in the U.S.
                are not widely and freely accessible to the public online.
                Instead, they’re maintained primarily in bound volumes and expensive databases that few can access.
                We aim to intervene in this problem by making all published U.S. court decisions freely available to the public online.
              </p>
            </div>

            {# ==============> DATA <============== #}
            <div class="page-section">
              <a name="data"></a>
              <h4 class="subtitle">
                What data do we have?
              </h4>
              <p>
                Short blurb about what kind of data we have.
                We took xyz reporters and stripped them of abc proprietary data. This is what we have. Voluptas maxime earum non et voluptatem nulla recusandae. Expedita ut esse sit voluptatem soluta rerum. Sit sapiente animi id necessitatibus ea accusamus. Nobis veritatis odit maxime.
              </p>
              <p>
                Voluptas maxime earum non et voluptatem nulla recusandae. Expedita ut esse sit voluptatem soluta rerum. Sit sapiente animi id necessitatibus ea accusamus. Nobis veritatis odit maxime.
              </p>
            </div>

            {# ==============> USAGE <============== #}
            <div class="page-section">
              <a name="usage"></a>
              <h4 class="subtitle">
                Usage &amp; access
              </h4>
              <p>
                The CAP data is free for the public to use and access.
              </p>
              <p>
                Case metadata, such as the case name, citation, court, date, etc.,
                is freely and openly accessible without limitation.
                Full case text can be freely viewed or downloaded but
                you must register for an account to do so, and currently you may
                view or download no more than 500 cases per day. In addition,
                researchers can qualify for bulk data access by agreeing to certain use and redistribution restrictions.
              </p>
              <p>
                Access limitations on full text and bulk data are a component of Harvard’s
                collaboration agreement with Ravel Law, Inc. (now part of Lexis-Nexis).
                These limitations will end, at the latest, in March of 2024.
                In addition, these limitations apply only to cases from
                jurisdictions that continue to publish their official case law in print form.
                Once a jurisdiction transitions from print-first publishing to digital-first publishing,
                these limitations cease. Thus far, Illinois and Arkansas have made this important and positive
                shift and, as a result, all historical cases from these jurisdictions are freely available to the public
                without restriction. We hope many other jurisdictions will follow their example soon.
              </p>
            </div>

            {# ==============> PRESS <============== #}
            <div class="page-section">
              <a name="press"></a>
              <h4 class="subtitle">
                Press
              </h4>
              <ul>
                {% for news_item in news %}
                  <li class="item-set">
                    <p class="item-title darker">
                      <a href="{{ news_item.url }}" target="_blank">{{ news_item.title }}</a>
                    </p>
                    <span class="color-red">
                      {{ news_item.publication }}
                    </span>
                    <span class="color-orange">
                       &bull;
                    </span>
                    <span class="item-date">
                      {{ news_item.date }}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </div>

            {# ==============> CONTRIBUTORS <============== #}
            <div class="page-section">
              <a name="contributors"></a>
              <h4 class="subtitle">
                Contributors
              </h4>

                <ul>
                  {% for key,contributor in contributors.items %}
                    {% if contributor.name %}
                      <li class="item-set">
                        <span class="item-name">
                          {% if contributor.hash %}
                            <a href="https://lil.law.harvard.edu/about/#{{ contributor.hash }}" target="_blank">
                              {{ contributor.name }}
                            </a>
                          {% else %}
                            {{ contributor.name }}
                          {% endif %}
                        </span>
                        <span class="color-red">
                          &rarr;
                        </span>
                        <span>
                          {{ contributor.role }}
                        </span>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
