{% extends "main_base.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% javascript 'base' %}
  {% stylesheet 'api' %}
  {% stylesheet 'tools' %}
{% endblock %}

{% block title %} — API{% endblock %}

{% block meta_description %}
  Caselaw Access Project API
{% endblock %}

{% block content %}
  <div class="basic-page">
    <div class="full-content">
      <div class="row">
        <div class="page-title">
          <h1>
            <img alt="›" src='{% static "img/red-arrow-right.svg" %}'
                 class="decorative-arrow"/>
            CAPAPI
          </h1>
        </div>

      </div>
      <div class="row">
        {# ==============> MENU <============== #}
        <div class="list-group sidebar-menu">
          <a class="list-group-item" href="#overview">Overview</a>
          <a class="list-group-item" href="#registration">Registration</a>
          <a class="list-group-item" href="#usage">Using CAPAPI</a>
          <a class="list-group-item" href="#beginners">Begginer's Introduction</a>
          <a class="list-group-item" href="#examples">Usage Examples</a>
          <a class="list-group-item" href="#endpoints">Endpoint Documentation</a>
          <a class="list-group-item" href="#restrictions">Usage Restrictions</a>
          <a class="list-group-item" href="#glossary">Glossary</a>
        </div>
        {# ==============> CONTENT <============== #}
        <div class="content">

          {# ==============> OVERVIEW <============== #}
          <div class="page-section">
            <p>
              <img class="img-fluid"
                   alt="Scanning reporters"
                   src="{% static "img/vacuum-seal.jpg" %}">
            </p>
            <a id="overview"></a>
            <p>
              The Caselaw Access Project API, also known as CAPAPI, serves all official, published US
              court cases, and
              their related metadata, from 1658 to 2018. We digitized every case in this database during
              the first
              phase of the Caselaw Access Project, which we embarked upon in 2013. Before that, nearly
              every case
              was sitting in its original binding on Harvard Law Library shelves.
              <a href="/">Click here to learn more about the project.</a>
            </p>
            <p>
              CAPAPI is RESTful, and serves most of its data in JSON, but case text is also available in
              plain
              text, HTML, and XML. Though APIs are primarily useful to developers, anybody with a web
              browser
              can interact with it, though the interface is a bit clunky. (Perhaps, one day, some of you
              ambitious software developers in the audience will make a lovely, open-source case browsing
              application using this API. *nudge* *nudge*) <a href="#getting_started">Click here for some
              usage examples.</a>
            </p>
            <p>
              Our goal in undertaking this project was to make the data as open as possible. While there
              are
              restrictions that affect some users trying to access more than 500 cases per day, metadata
              for every
              case in every jurisdiction, and all cases from Illinois and Arkansas are available without
              restriction; you don't even need to be logged in or use an API key. <a href="#restrictions">Click
              here for more information on access restrictions, what type of users aren't subject to them,
              and how
              you can advocate to eliminate them in your legal jurisdiction.</a>
            </p>
          </div>
          {# ==============> REGISTER  <============== #}
          <div class="page-section">
            <a id="registration"></a>
            <h4 class="subtitle">
              Registration
            </h4>
            <p>
              <a href="user/register/">Click here to register an account.</a>
            </p>
            <p>
              Your account will give you access to 500 cases per day. <a href="#restrictions">Click
              here for more information on access restrictions, what type of users and jurisdictions
              aren't
              subject to them, and how you can advocate to eliminate them in your legal jurisdiction.</a>
            </p>

          </div>
          {# ==============> USING CAPAPI <============== #}
          <div class="page-section">
            <a id="usage"></a>
            <h4 class="subtitle">
              Basic CAPAPI Usage
            </h4>
            <p>
              <a href="/api/v1">Click here to visit the API in your web browser.</a>
            </p>
            <p>
              CAPAPI is a <a href="#def-restful">RESTful</a> API based on
              <a href="http://www.django-rest-framework.org/">Django Rest Framework.</a>. This means it can be accessed
              with standard web tools, like <a href="#def-curl">curl</a>, http request libraries in your favorite
              programming language, and even web browsers. If you're already feeling lost, you might want to pick up
              some of the background information we've put into the <a href="#beginners">beginner's introduction</a>.
            </p>
            <p>
              The return format for most of the data is JSON, but cases are available in HTML, and their original XML.
              In addition, the cases are avaible with
            </p>
            <p>
              Authenticating to retrieve non-<a href="#def-whitelisted">whitelisted</a> cases is simple. If you're using
              a web browser, just log in to the site. Programmatically, or from the command line, just pass the
              <code>"Authorization: Token your-token-here"</code> header in your request. For example, if your
              authentication token is abcd12345, a curl command would look like this:
            </p>
              <blockquote>
                <code>curl -H "Authorization: abcd12345" "{{ request.build_absolute_uri }}api/v1/cases/?limit=1&full_case=true"</code>
              </blockquote>

            <p>
              The API defaults to returning one hundred items per response. If you want more than one hundred items, you
              can page through subsequent items using the <i>offset</i> parameter. For example, if you want the second
              page of one hundred items, set the offset value to 100. For convenience, the API response includes a
              <i>next</i> key containing the URL to the next page of results.
            </p>


          </div>
          {# ==============> BEGINNERS <============== #}
          <div class="page-section">
            <a id="beginners"></a>
            <h4 class="subtitle">
              Beginner's Introduction
            </h4>
            <p>
              Are you a little lost in all the technical jargon? Here's a good place to start. This is by no means a
              complete introduction to using APIs, but it might be just enough to help situate a technically inclined
              person who's a bit outside of their comfort zone.
            </p>
            <p>
              Fundamentally, an API is no different from a regular website: A program on your computer sends a bit
              of data to a server, the server processes that data, and then sends a response. If you know how to
              read a URL, you can interact with web-based services in ways that aren't limited to clicking on the
              links and buttons on the screen.
            </p>
            <p>
              Consider the following <a href="#def-url">URL</a>, which will
              <a href="https://www.google.com/search?q=CAP">perform a google search for the word "CAP."</a>
            </p>
            <pre><code>https://www.google.com/search?q=CAP</code></pre>
            <p>
              Let's break it down into its individual parts:
            </p>
            <pre><code>https://</code></pre>
            <p>
              This first part tells your web browser which protocol to use: this isn't very
              important for our purposes, so we'll ignore it.
            </p>
            <pre><code>www.google.com</code></pre>
            <p>
              The next part is a list of words, separated by periods, between the initial double-slash, and before the
              subsequent single slash. Many people refer to this as the domain, which is only partly true; the important
              takeaway here is that it points to a specific server, which is just another computer on the internet.
            </p>
            <pre><code>/search</code></pre>
            <p>
              The next section, which is comprised of everything between the slash after the server name and the
              question mark, is called the path. It's called a path because, in the earlier days of the web, it
              was a path to a specific file on the web server. These days, it's more likely that the path will
              point to a specific <a href="#def-endpoint">endpoint</a>.
            </p>
            <p>
              You can think of an endpoint as a distinct part of a program, which could require specific inputs,
              and/or provide different results. For example, the "login" endpoint on a website might accept a
              valid username and a password for input, and return a message that you've successfully logged in. A
              "register" endpoint might accept various bits of identifying information, and return a screen that
              says your account was successfully registered.
            </p>
            <p>
              Though there is only one part of this particular path, <code>search</code>, developers usually
              organize paths into hierarchical lists separated by slashes. Hypothetically, if the developers at
              Google decided that one generalized search endpoint wasn't sufficiently serving people who wanted to
              search for books or locations, they could implement more specific endpoints such as
              <code>/search/books</code> and <code>/search/locations</code>.
            </p>
            <pre><code>?q=CAP</code></pre>
            <p>
              The final section of the URL is where you'll find the parameters, and is comprised of everything
              after the question mark. Parameters are a way of passing individual pieces of data, or values, to
              the endpoint to help it perform its job. In this case, the parameter tells the <code>/search</code>
              endpoint what to search for. Without this parameter, the response wouldn't be particularly useful.
            </p>
            <p>
              A URL can contain many parameters, separated by ampersands, but in this instance, there is only one
              parameter: the rather cryptically named "q," which is short for "query," that has a value of "CAP."
              Parameter names are arbitrary— Google's developers could just as easily have set the parameter name
              to <code>?query=CAP</code>, but decided that "q" would sufficiently communicate its purpose.
            </p>
            <p>
              The Google developers designed their web search endpoint to accept other parameters, too. For
              example, there is an even more cryptically named parameter, 'tbs' which will limit the age of the
              documents returned in the search results. The parameters <code>?q=CAP&tbs=qdr:y</code> will perform
              a web search for "CAP" and limit the results to documents less than a year old.
            </p>
            <p>
              So when you're working with CAPAPI, the same principles apply. Rather than http://www.google.com, you'll
              be using {{ request.build_absolute_uri }}. Rather than using the /search?q= endpoint and parameter, you'll
              be using one of our <a href="#endpoints">endpoints and the parameters we've defined</a>. One important
              difference is the purpose of the structured data we're returning, vs. the visual, browser-oriented data
              that google is returning with their search engine.
            </p>
            <p>
              When you perform a query in a web browser using our API, there are some links and buttons, but the data
              itself is in a text-based format with lots of brackets and commas. This format is called JSON, or
              JavaScript Object Notation. We use this format because software developers can easily utilize data in that
              format in their own programs. We do intend to have a more user-friendly case browser at some point soon,
              but we're not quite there yet.
            </p>
            <p>
              OK! That about does it for our beginner's introduction to web-based APIs. Please check out our
              <a href="#examples">usage examples</a> section to see some of the ways you can put these principles to
              work in CAPAPI. If you have any suggestions for making this documentation better, we'd appreciate your
              taking the time to let us know in an issue report
              <a href="https://github.com/harvard-lil/capstone/issues">in our code repository on github.com</a>.
            </p>
            <p>
              Thanks, and good luck!
            </p>
          </div>
          {# ==============> EXAMPLES <============== #}
          <div class="page-section">
            <a id="examples"></a>
            <h4 class="subtitle">
              Usage Examples
            </h4>
            <p>
              This is a non-exhaustive set of examples intended to orient new users. The
              <a href="#endpoints">endpoints</a> section contains more comprehensive documentation about the URLs and
              their parameters.
            </p>
            <dl>
              {# ====> single case <==== #}
              <dt>
                Retrieve a single case, by its ID
              </dt>
              <dd class="example-link">
                <a href="/api/v1/cases/{{ case_id }}/">{{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/</a>
              </dd>
              <dd>
                <p class="example-description">
                  This example uses the <a href="#endpoint-case">single case</a> endpoint, and will retrieve the
                  metadata for a single case.
                </p>
                <lh>Modification with Parameters:</lh>
                <ul class="parameter-list">
                  <li class="list-group-item">
                    <lh>With HTML-formatted Case Body and Metadata</lh>
                    <ul>
                      <li class="example-mod-url"><a href="/api/v1/cases/{{ case_id }}/">
                        {{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/</a>
                      </li>
                      <li class="example-mod-description">To ingest a JSON object with both metadata and a field
                        containing an easily stylable HTML case body, set the <code>body_format</code> parameter to
                        <code>html</code>. Set it to <code>xml</code> to get the case body with its original markup.
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <lh>Raw original XML document, with METS data</lh>
                    <ul>
                      <li class="example-mod-url">
                        <a href="/api/v1/cases/{{ case_id }}/?full_case=true&body_format=xml">
                          {{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/?full_case=true&format=xml
                        </a>
                      </li>
                      <li class="example-mod-description">To get the document by itself, without the JSON enclosure and
                        metadata, use the <code>format</code> parameter. Set it to HTML and get a display-ready,
                        standalone HTML document.
                      </li>
                    </ul>
                  </li>
                </ul>
              </dd>
              {# ====> filter cases <==== #}

              <dt>
                Retrieve a list of cases by citation
              </dt>
              <dd class="example-link">
                <a href="/api/v1/cases/?cite={{ case_metadata.citations.0.cite }}">
                  {{ request.build_absolute_uri }}api/v1/cases/?cite={{ case_metadata.citations.0.cite }}
                </a>
              </dd>
              <dd>
                <p class="example-description">
                  This example uses the <a href="#endpoint-cases">cases</a> endpoint, and will retrieve every case with
                  the citation {{ case_metadata.citations.0.cite }}.
                </p>
                <p>
                  There are many parameters with which you can filter the cases result. Check the
                  <a href="#endpoint-cases">cases</a> endpoint documentation for a complete list of the parameters, and
                  what values they accept.
                </p>
                <lh>Modification with Parameters:</lh>
                <ul class="parameter-list">
                  <li class="list-group-item">
                    <lh>Add a date range filter</lh>
                    <ul>
                      <li class="example-mod-url">
                        <a href="/api/v1/cases/?cite={{ case_metadata.citations.0.cite }}&decision_date_min=1900-12-30&decision_date_max=2000-12-30">
                          {{ request.build_absolute_uri }}api/v1/cases/?cite={{ case_metadata.citations.0.cite }}&decision_date_min=1900-12-30&decision_date_max=2000-06-15
                        </a>
                      </li>
                      <li class="example-mod-description">You can combine any of these parameters to refine your search.
                        Here, we have the same search as in the first example, but will only recieve results from within
                        the specified dates.
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <lh>Raw original XML document, with METS data</lh>
                    <ul>
                      <li class="example-mod-url">
                        <a href="/api/v1/cases/{{ case_id }}/?full_case=true&body_format=xml">
                          {{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/?full_case=true&format=xml
                        </a>
                      </li>
                      <li class="example-mod-description">To get the document by itself, without the JSON enclosure and
                        metadata, use the <code>format</code> parameter. Set it to HTML and get a display-ready,
                        standalone HTML document.
                      </li>
                    </ul>
                  </li>
                </ul>
              </dd>
            </dl>

            {# ====> Paginate <==== #}
              <dt>
                Traversing Pages of Results
              </dt>
              <dd class="example-link">
                <a href="/api/v1/cases/?offset=100">{{ request.build_absolute_uri }}api/v1/cases/?offset=100</a>
              </dd>
              <dd>
                <p class="example-description">
                  All queries in CAPAPI default to, and are limited to 100 results. This query will still return 100
                  results, but it will skip 100, so you'll start at 101 rather than 1, and get the subsequent 100
                  results.
                </p>
                <lh>Modification with Parameters:</lh>
                <ul class="parameter-list">
                  <li class="list-group-item">
                    <lh>Get smaller list of results</lh>
                    <ul>
                      <li class="example-mod-url">
                        <a href="/api/v1/cases/?offset=10&limit=10">
                          {{ request.build_absolute_uri }}api/v1/cases/?offset=20&limit=10
                        </a>
                      </li>
                      <li class="example-mod-description">Combining the offset and limit parameters, you can get a
                        customize your pagination to fit your needs. This URL will recieve 10 results starting at the
                        20th result.
                      </li>
                    </ul>
                  </li>
                </ul>
              </dd>
            </dl>
            {# ====> get reporters for a jurisdiction <==== #}
            <dt>
                Get all reporters in a jurisdiction
              </dt>
              <dd class="example-link">
                <a href="/api/v1/reporters/?jurisdictions=ark">
                  {{ request.build_absolute_uri }}/api/v1/reporters/?jurisdictions=ark</a>
              </dd>
              <dd>
                <p class="example-description">
                  This example uses the <a href="#endpoint-reporters">reporter</a> endpoint, and will retrieve all
                  reporters in Arkansas.
                </p>
              </dd>
            </dl>
          </div>
          {# ==============> ENDPOINTS <============== #}
          <div class="page-section">
            <a id="endpoints"></a>
            <h4 class="subtitle">
              Endpoints
            </h4>
            <p>
              <dl>

                {# ==============> BASE <============== #}
                <a id="endpoint-base"></a>
                <dt>
                 API Base
                </dt>
                <dd class="endpoint-link">
                  <a href="/api/v1/">{{ request.build_absolute_uri }}api/v1/</a>
                </dd>
                <dd>
                  <p class="endpoint-description">
                    This is the base <a href="#def-endpoint">endpoint</a> of CAPAPI. It just lists all of the available
                    <a href="#def-endpoint">endpoints</a>.
                  </p>
                </dd>

                {# ==============> CASES <============== #}
                <dt>
                  <a id="endpoint-cases"></a>
                  Case Browse/Search Endpoint
                </dt>
                <dd class="endpoint-link">
                  <a href="/api/v1/cases/">{{ request.build_absolute_uri }}api/v1/cases/</a>
                </dd>
                <dd>
                  <p class="endpoint-description">
                    This is the primary endpoint; you use it to browse, search for, and retrieve cases. If you know the
                    numeric ID of your case in our system, you can append it to the <a href="#def-path">path</a> to
                    retrieve a <a href="#endpoint-case">single case</a>.
                  </p>
                  <lh>Endpoint Parameters:</lh>
                  <ul class="parameter-list">
                    <li class="list-group-item">
                      <lh><code class="parameter-name">name_abbreviation</code></lh>
                      <ul>
                        <li class="param-data-type"> An arbitrary <a href="#def-string">string</a></li>
                        <li class="param-description"> e.g. <code>People v. Smith</code></li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">decision_date_min</code></lh>
                      <ul>
                        <li class="param-data-type"> <code>YYYY-MM-DD</code></li>
                        <li class="param-description"> </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">decision_date_max</code></lh>
                      <ul>
                        <li class="param-data-type"> <code>YYYY-MM-DD</code></li>
                        <li class="param-description"> </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">docket_number</code></lh>
                      <ul>
                        <li class="param-data-type"> An arbitrary <a href="#def-string">string</a></li>
                        <li class="param-description"> </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">citation</code></lh>
                      <ul>
                        <li class="param-data-type"> e.g. <code>1 Ill. 21</code></li>
                        <li class="param-description"> </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">reporter</code></lh>
                      <ul>
                        <li class="param-data-type"> integer</li>
                        <li class="param-description"> a <a href="#endpoint-reporters">reporter</a> id </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">court</code></lh>
                      <ul>
                        <li class="param-data-type"> <a href="#def-slug">slug</a> </li>
                        <li class="param-description"> a <a href="#endpoint-courts">court</a> <a href="#def-slug">slug</a> </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">jurisdiction</code></lh>
                      <ul>
                        <li class="param-data-type"> <a href="#def-slug">slug</a></li>
                        <li class="param-description"> a <a href="#endpoint-jurisdictions">jurisdiction</a> <a href="#def-slug">slug</a> </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">search</code></lh>
                      <ul>
                        <li class="param-data-type"> An arbitrary <a href="#def-string">string</a></li>
                        <li class="param-description"> A full-text search query</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">offset</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If your query
                          yielded 500 results and the <code>offset</code> parameter was not set, your code would return
                          result 1-101. If you set <code>offset=100</code> then you would get the second set of 100.
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">limit</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If set lower
                          than 100, the <code>limit</code> parameter will limit the number of results to your
                          specification.
                        </li>
                      </ul>
                    </li>
                  </ul>


                </dd>

                {# ==============> CASE <============== #}
                <dt>
                  <a id="endpoint-case"></a>
                  Single Case Endpoint
                </dt>
                <dd class="endpoint-link">
                  <a href="/api/v1/cases/">{{ request.build_absolute_uri }}api/v1/cases/</a>
                </dd>
                <dd>
                  <p class="endpoint-description">
                    This is the way to retrieve a single case.
                  </p>
                  <lh>Endpoint Parameters:</lh>
                  <ul class="parameter-list">
                    <li class="list-group-item">
                      <lh><code class="parameter-name">full_case</code></lh>
                      <ul>
                        <li class="param-data-type"> <code>true</code> or <code>false</code></li>
                        <li class="param-description">  When set to <code>true</code>, this parameter loads the case body. It is
                      required for setting both <code>body_format</code> and <code>format</code>.
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">body_format</code></lh>
                      <ul>
                        <li class="param-data-type"> <code>html</code> or <code>xml</code></li>
                        <li class="param-description"> This will return a JSON enclosure with metadata, and a field containing the case in XML or HTML.</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">format</code></lh>
                      <ul>
                        <li class="param-data-type"> <code>html</code> or <code>xml</code></li>
                        <li class="param-description"> This will return the case in HTML or its original XML with no JSON enclosure or
                      Metadata</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">offset</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If your query
                          yielded 500 results and the <code>offset</code> parameter was not set, your code would return
                          result 1-101. If you set <code>offset=100</code> then you would get the second set of 100.
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">limit</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If set lower
                          than 100, the <code>limit</code> parameter will limit the number of results to your
                          specification.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </dd>

                {# ==============> reporters <============== #}
                <dt>
                  <a id="endpoint-reporters"></a>
                  Reporters
                </dt>
                <dd>
                  <a href="/api/v1/reporters/">{{ request.build_absolute_uri }}api/v1/reporters/</a>
                  <p class="endpoint-description">
                    This will return a list of reporter series.
                  </p>
                  <lh>Endpoint Parameters:</lh>
                  <ul class="parameter-list">
                    <li class="list-group-item">
                      <lh><code class="parameter-name">full_name</code></lh>
                      <ul>
                        <li class="param-data-type"> e.g. Illinois Appellate Court Reports</li>
                        <li class="param-description"> the full reporter name</li>
                      </ul>
                    <li class="list-group-item">
                    <lh><code class="parameter-name">short_name</code></lh>
                      <ul>
                        <li class="param-data-type"> e.g. Ill. App.</li>
                        <li class="param-description"> the abbreviated name for the reporter</li>
                      </ul>
                    <li class="list-group-item">
                    <lh><code class="parameter-name">start_year</code></lh>
                      <ul>
                        <li class="param-data-type"> YYYY</li>
                        <li class="param-description"> the earliest year reported on in the series</li>
                      </ul>
                    <li class="list-group-item">
                    <lh><code class="parameter-name">end_year</code></lh>
                      <ul>
                        <li class="param-data-type"> YYYY</li>
                        <li class="param-description"> the latest year reported on in the series</li>
                      </ul>
                    <li class="list-group-item">
                    <lh><code class="parameter-name">volume_count</code></lh>
                      <ul>
                        <li class="param-data-type"> integer</li>
                        <li class="param-description"> filter on the number of volumes in a reporter
                        series</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">offset</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If your query
                          yielded 500 results and the <code>offset</code> parameter was not set, your code would return
                          result 1-101. If you set <code>offset=100</code> then you would get the second set of 100.
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">limit</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If set lower
                          than 100, the <code>limit</code> parameter will limit the number of results to your
                          specification.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </dd>

                {# ==============> jurisdictions <============== #}
                <dt>
                  <a id="endpoint-jurisdictions"></a>
                  Jurisdictions
                </dt>
                <dd>
                  <a href="/api/v1/jurisdictions/">{{ request.build_absolute_uri }}api/v1/jurisdictions/</a>
                  <p class="endpoint-description">
                    This will return a list of jurisdictions.
                  </p>
                  <lh>Endpoint Parameters:</lh>
                  <ul class="parameter-list">
                    <li class="list-group-item">
                      <lh><code class="parameter-name">id</code></lh>
                      <ul>
                        <li class="param-data-type"> integer</li>
                        <li class="param-description"> get jurisdiction by ID</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">name</code></lh>
                      <ul>
                        <li class="param-data-type"> e.g. <code>Ill.</code></li>
                        <li class="param-description"> abbreviated jurisdiction name</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">name_long</code></lh>
                      <ul>
                        <li class="param-data-type"> e.g. <code>Illinois</code></li>
                        <li class="param-description"> full jurisdiction name</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">whitelisted</code></lh>
                      <ul>
                        <li class="param-data-type"> <code>true</code> or <code>false</code></li>
                        <li class="param-description"> filter for <a href="#def-whitelisted">whitelisted</a> cases</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">slug</code></lh>
                      <ul>
                        <li class="param-data-type"> a <a href="#def-slug">slug</a></li>
                        <li class="param-description"> filter on the jurisdiction <a href="#def-slug">slug</a></li>
                      </ul>
                    </li>
                     <li class="list-group-item">
                       <lh><code class="parameter-name">offset</code></lh>
                       <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If your query
                          yielded 500 results and the <code>offset</code> parameter was not set, your code would return
                          result 1-101. If you set <code>offset=100</code> then you would get the second set of 100.
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">limit</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If set lower
                          than 100, the <code>limit</code> parameter will limit the number of results to your
                          specification.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </dd>

                {# ==============> courts <============== #}
                <dt>
                  <a id="endpoint-courts"></a>
                  Courts
                </dt>
                <dd>
                  <a href="/api/v1/courts/">{{ request.build_absolute_uri }}api/v1/courts/</a>
                  <p class="endpoint-description">
                    This will return a list of courts.
                  </p>
                  <lh>Endpoint Parameters:</lh>
                  <ul class="parameter-list">
                    <li class="list-group-item">
                      <lh><code class="parameter-name">slug</code></lh>
                      <ul>
                        <li class="param-data-type"> a <a href="#def-slug">slug</a></li>
                        <li class="param-description"> filter on the court <a href="#def-slug">slug</a></li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">name</code></lh>
                      <ul>
                        <li class="param-data-type"> e.g. <code>Illinois Appellate Court</code></li>
                        <li class="param-description"> full court name</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">name_abbreviation</code></lh>
                      <ul>
                        <li class="param-data-type">e.g. <code>Ill. App. Ct.</code></li>
                        <li class="param-description"> abbreviated court name</li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">jurisdiction</code></lh>
                      <ul>
                        <li class="param-data-type"> <a href="#def-slug">slug</a></li>
                        <li class="param-description"> <a href="#endpoint-jurisdictions">jurisdiction</a> <a href="#def-slug">slug</a></li>
                      </ul>
                    </li>
                     <li class="list-group-item">
                       <lh><code class="parameter-name">offset</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If your query
                          yielded 500 results and the <code>offset</code> parameter was not set, your code would return
                          result 1-101. If you set <code>offset=100</code> then you would get the second set of 100.
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">limit</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If set lower
                          than 100, the <code>limit</code> parameter will limit the number of results to your
                          specification.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </dd>

                {# ==============> volumes <============== #}
                <dt>
                  <a id="endpoint-volumes"></a>
                  Volumes
                </dt>
                <dd>
                  <a href="/api/v1/volumes/">{{ request.build_absolute_uri }}api/v1/volumes/</a>
                  <p class="endpoint-description">
                    This will return a list of cases, starting from the beginning.
                  </p>
                  <lh>Endpoint Parameters:</lh>
                  <ul class="parameter-list">
                    <li class="list-group-item">
                      <lh><code class="parameter-name">offset</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If your query
                          yielded 500 results and the <code>offset</code> parameter was not set, your code would return
                          result 1-101. If you set <code>offset=100</code> then you would get the second set of 100.
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">limit</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If set lower
                          than 100, the <code>limit</code> parameter will limit the number of results to your
                          specification.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </dd>

                <dt>
                  <a id="endpoint-volumes"></a>
                  Citations
                </dt>
                <dd>
                  <a href="/api/v1/citations/">{{ request.build_absolute_uri }}api/v1/citations/</a>
                  <p class="endpoint-description">
                    This will return a list of citations.
                  </p>
                  <lh>Endpoint Parameters:</lh>
                  <ul class="parameter-list">
                    <li class="list-group-item">
                      <lh><code class="parameter-name">offset</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If your query
                          yielded 500 results and the <code>offset</code> parameter was not set, your code would return
                          result 1-101. If you set <code>offset=100</code> then you would get the second set of 100.
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <lh><code class="parameter-name">limit</code></lh>
                      <ul>
                        <li class="param-data-type">integer</li>
                        <li class="param-description">
                          The result offset. By default, CAPAPI will return 100 results for your query. If set lower
                          than 100, the <code>limit</code> parameter will limit the number of results to your
                          specification.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              </dl>
            </p>
          </div>
          {# ==============> RESTRICTIONS <============== #}
          <div class="page-section">
            <a id="restrictions"></a>
            <h4 class="subtitle">
              Restrictions
            </h4>
            <p>
              The agreement with our project partner, <a href="http://ravellaw.com">Ravel</a>, stipulates that only
              bonafide <a href="#def-academic-user">academic researchers</a> can access more than 500 cases per day, so
              all <a href="#def-registered-user">registered users</a> are subject to this restriction. However, this
              stipulation does not apply to jurisdictions with digital-first publishing, that is, they make their cases
              freely available online in a citable, machine-readable format. We call these
              <a href="#def-whitelisted">whitelisted</a> jurisdictions. Currently, Illinois and Arkansas are the only
              whitelisted jurisdictions.
            </p>
            <p>
              We would love to whitelist more jurisdictions! If you are involved in US case publishing, we'd love to
              talk to you about going digital-first. Please <a href="mailto:lil@law.harvard.edu">send us an email at
              lil@law.harvard.edu</a> and introduce yourself!
            </p>
            <p>
              If you think you qualify as a bonafide <a href="#def-academic-user">academic researcher</a> and would like
              unrestricted access to non-<a href="#def-whitelisted">whitelisted</a> cases, email us at
              <a href="mailto:lil@law.harvard.edu">lil@law.harvard.edu</a>.
            </p>
            <p>
              If you are interested in licensing this data for commercial use,
              <a href="http://info.ravellaw.com/contact-us-form">Click here to contact Ravel for more information.</a>
            </p>
            <p>

            </p>
            <p>
            <dl>
              <dt>
                <a id="def-anonymous-user"></a>
                Anonymous Users
              </dt>
              <dd>
                <ul>
                  <li class="list-group-item">Access all metadata</li>
                  <li class="list-group-item">Unlimited API access to all cases from
                    <a href="#def-whitelisted"> whitelisted </a> jurisdictions
                  </li>
                  <li class="list-group-item">Bulk Download all cases from <a href="#def-whitelisted">
                    whitelisted </a> jurisdictions
                  </li>
                </ul>
              </dd>

              <dt>
                <a id="def-registered-user"></a>
                Registered Users
              </dt>
              <dd>
                <ul>
                  <li class="list-group-item">Access all metadata</li>
                  <li class="list-group-item">Unlimited API access to all cases from <a
                      href="#def-whitelisted"> whitelisted </a>
                    jurisdictions
                  </li>
                  <li class="list-group-item">Access to 500 cases per day from non-<a
                      href="#def-whitelisted">whitelisted</a> jurisdictions
                  </li>
                  <li class="list-group-item">Bulk Download all cases from <a href="#def-whitelisted">
                    whitelisted </a> jurisdictions
                  </li>
                </ul>
              </dd>

              <dt>
                <a id="def-academic-user"></a>
                Academic Users
              </dt>
              <dd>
                <ul>
                  <li class="list-group-item">Access all metadata</li>
                  <li class="list-group-item">Unlimited API access to all cases</li>
                  <li class="list-group-item">Bulk Downloads from all jurisdictions</li>
                </ul>
              </dd>

              <dt>
                <a id="def-academic-user"></a>
                Commercial Users
              </dt>
              <dd>
                <a href="http://info.ravellaw.com/contact-us-form">Click here to contact Ravel for more
                  information.</a>
              </dd>
            </dl>
            </p>
          </div>
          {# ==============> GLOSSARY <============== #}
          <div class="page-section">
            <a id="glossary"></a>
            <h4 class="subtitle">
              Glossary
            </h4>
            <p>
              This is a list of technical or project-specific terms we use in this docuemntation. These are stub
              definitions to help you get unstuck, but they should not be conisdered authoratative or complete. A quick
              Google search should provide more context for any of these terms.
            </p>
            <p>
            <dl>
              <dt>
                <a id="def-jurisdiction"></a>
                Jurisdiction
              </dt>
              <dd>
                For most cases, jurisdiction usually means its state, territory, or tribal area, or . For some volumes,
                Jurisdiction the jurisid
              </dd>

              <dt>
                <a id="def-reporter"></a>
                Reporter
              </dt>
              <dd>
                In this project, we use the term 'reporter' to refer to a reporter series. We'd consider F2d. a
                reporter.
              </dd>

              <dt>
                <a id="def-whitelisted"></a>
                Whitelisted
              </dt>
              <dd>
                While most cases in the database are subject to a 500 case per day access limit, jurisdictions that
                publish their cases in a citable, machine-readable format are not subject to this limit.
                <a href="#restrictions">Click here for more information on access restrictions, what type of users
                  aren't subject to them, and how you can advocate to eliminate them in your legal jurisdiction.</a>
              </dd>

              <dt>
                <a id="def-curl"></a>
                curl
              </dt>
              <dd>
                <a href="https://curl.haxx.se/">curl</a> is a simple <a href="#def-command-line">command line</a> tool
                for retrieving data over the internet. It's similar to a web browser in that it will retrieve the
                contents of a <a href="#def-url">url</a>, but it will dump the text contents to a terminal, rather than
                show a rendered version in a graphical browser window.
              </dd>

              <dt>
                <a id="def-command-line"></a>
                Command Line
              </dt>
              <dd>
                This is the textual interface for interacting with a computer. Rather than interacting with the system
                through windows and mouse clicks, commands are typed and output is rendered in its textual form. On mac,
                the default Command Line program is Terminal. On Windows, the program is cmd.exe.
              </dd>

              <dt>
                <a id="def-url"></a>
                URL
              </dt>
              <dd>
                A URL, or Uniform Resource Locator, is an internet address that generally contains a communication
                protocol, a server name, a path to a file or endpoint, and possibly parameters to pass to the endpoint.
              </dd>

              <dt>
                <a id="def-api"></a>
                API
              </dt>
              <dd>
                API is an acronym for Application Programming Interface. Broadly, it is a way for one computer program
                to transfer data to another computer program. CAPAPI is a <a href="#def-restful">RESTful</a> API
                designed with the intent of distributing court case data.
              </dd>

              <dt>
                <a id="def-restful"></a>
                RESTful
              </dt>
              <dd>
                A RESTful <a href="#def-api">API</a> is based on
                <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP</a>, and makes use of its
                built-in verbs(commands), such as GET and POST.
              </dd>

              <dt>
                <a id="def-server"></a>
                Server
              </dt>
              <dd>
                A server is just a computer on the internet that was configured to respond to requests from other
                computers. A web server will respond to requests from a web browser. An email server will respond to
                requests from email programs, and or other email servers which are sending it messages.
              </dd>

              <dt>
                <a id="def-endpoint"></a>
                Endpoint
              </dt>
              <dd>
                You can think of an endpoint as a distinct part of a program, which could require specific inputs,
                and/or provide different results. For example, the "login" endpoint on a website might accept a valid
                username and a password for input, and return a message that you've successfully logged in. A "register"
                endpoint might accept various bits of identifying information, and return a screen that says your
                account was successfully registered.
              </dd>

              <dt>
                <a id="def-parameter"></a>
                URL Parameter
              </dt>
              <dd>
                For our purposes, a parameter is just a piece of data with a label that can be passed to an
                <a href="#def-endpoint">endpoint</a> in a web request.
              </dd>

              <dt>
                <a id="def-parameter"></a>
                URL Path
              </dt>
              <dd>
                TODO: do this
                <a href="#def-endpoint">endpoint</a> in a web request.
              </dd>

              <dt>
                <a id="def-string"></a>
                String
              </dt>
              <dd>
                A string, as a type of data, just means an arbitrary (or string) of
                <a href="#def-character">characters</a>. A word is a string. This whole sentence is a string. "h3ll0.!"
                is a string.
              </dd>

              <dt>
                <a id="def-character"></a>
                Character
              </dt>
              <dd>
                A letter, number, space, or piece of punctuation. Multiple characters together make up a
                <a href="#def-string">string</a>.
              </dd>

              <dt>
                <a id="def-special-character"></a>
                Special Characters
              </dt>
              <dd>

                <a href="#def-character">Characters</a> that have significance to a program. For example, URLs can't
                contain certain pieces of punctuation. Whether any given character is deemed 'special' depends on the
                context.
              </dd>

              <dt>
                <a id="def-slug"></a>
                Slug
              </dt>
              <dd>
                A <a href="#def-string">string</a> with <a href="#def-special-character">special characters</a> removed
                for ease of inclusion in a <a href="#def-url">URL</a>.
              </dd>

            </dl>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}