{% extends "layouts/narrow.html" %}
{% load pipeline %}
{% load bootstrap4 %}

{% block extra_head %}
  {% stylesheet 'contact' %}
{% endblock %}

{% block title %}Contact{% endblock %}
{% block meta_description %}Caselaw Access Project contact{% endblock %}
{% block full_content_style %}bg-yellow{% endblock %}

{% block main_content %}
  Email us at <a class="contact_email" href="mailto:{{ email }}">{{ email }}</a> or fill out this form.
  <br/><br/>
  <form action="{% url 'contact' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <br/>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
{% endblock %}
