{% extends "layouts/narrow.html" %}
{% load pipeline %}

{% block extra_head %}
  {% stylesheet 'contact' %}
{% endblock %}

{% block title %}Contact{% endblock %}
{% block meta_description %}Caselaw Access Project contact{% endblock %}
{% block full_content_style %}bg-yellow{% endblock %}

{% block main_content %}
  <br/>
  <br/>
  <p>Thank you! We will be in touch shortly.</p>
  <p>
    <a href="{% url "contact" %}" class="btn btn-secondary">Back</a>
    <a href="/" class="btn btn-primary">Home</a>
  </p>
{% endblock %}
