{% extends "layouts/wide.html" %}
{% load pipeline %}
{% load static %}
{% load startswith %}

{% block title %}{{ meta.title }}{% endblock %}
{% block base_css %}{% stylesheet "unified_docs" %}{% endblock %}

{% block content %}
  <div id="container" class="gr_container no-nav">
    <nav class="breadcrumb" tabindex="0" onclick="toggle_mobile_nav();">
      <div class="row">
        <div class="col-10">
          {% autoescape off %}
            {{ breadcrumb }}
          {% endautoescape %}
        </div>
        <div class="col-2 expand-nav-div">
          <img id="expand-nav-arrow" height="15" width="30" class="unexpanded"
               src="{% static 'img/arrows/expand-arrow-blocked-black.svg' %}">
        </div>
      </div>
    </nav>
    <nav class="doc-nav show-nav">
      <div id="docs_toc" class="panel-group w-100 pl-0">
        {% for item in toc %}
          {% if not item.label == "Index" %}
              <div class="panel-heading">
                <div class="panel-title">
                  <a class="top-level-label" data-toggle="collapse" href="#collapse1_{{ item.url }}"
                     data-target="#collapse1_{{ item.url }}">{{ item.label }}</a>
                </div>
              </div>

              {% if req_doc_path|startswith:item.url %}
                <div id="collapse1_{{ item.url }}" class="panel-collapse show collapse">
              {% else %}
                <div id="collapse1_{{ item.url }}" class="panel-collapse collapse">
              {% endif %}
            <ul class="top-level-item pl-0">
              <li class="top-level-structure">
                {% include "includes/docs_toc.html" with toc=item.children %}
              </li>
            </ul>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <div id="document-contents" class="doc-main">
      {{ content }}
    </div>

    <header class="title"><h1>{{ meta.title }}</h1></header>
    <aside class="explainer">
      <p>
        {{ meta.explainer }}
      </p>
    </aside>
  </div>
  <script>
    function toggle_mobile_nav(force_hide = false) {
      let container = document.getElementById("container");
      let viz_state = container.classList.contains("show-nav") ? ["show-nav", "no-nav"] : ["no-nav", "show-nav"];
      if (!window.matchMedia('(max-width: 767px)').matches || (force_hide && viz_state === container.classList.contains("no-nav"))) {
        return
      }
      container.classList.replace(...viz_state);
    }

    page_toc_items = document.getElementsByClassName("doc-toc-item");
    for (let local_link of page_toc_items) {
      local_link.addEventListener("click", function () {
        if (window.matchMedia('(max-width: 767px)').matches) {
          toggle_mobile_nav(true);
        }
      })
    }

    breadcrumb = document.getElementsByClassName('breadcrumb')[0]
    breadcrumb.addEventListener('keydown', (event) => {
      if (document.activeElement === breadcrumb && (event.code === 'Space' || event.code === 'Enter')) {
        breadcrumb.click();
      }
    });
  </script>
{% endblock content %}
