{% extends "layouts/wide.html" %}
{% load pipeline %}

{% block extra_head %}
  {% stylesheet 'error' %}
{% endblock %}

{% block title %} {{ type }} | {{ title }}{% endblock %}
{% block content_title %}{{ title }}{% endblock %}
{% block meta_description %}Caselaw Access Project {{ type }}{% endblock %}
{% block top_section_style %}bg-black{% endblock %}

{% block explainer %}
  <div class="middle-text">{{ middle }}</div>
  <div class="bottom-text">
    {{ bottom }}
  </div>
  <div class="action-text">
    {{ action }}
  <div>
{% endblock %}
