{% extends "main_base.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% stylesheet 'error' %}
{% endblock %}

{% block title %} {{ type }} | {{ title }}{% endblock %}

{% block meta_description %}
Caselaw Access Project {{ type }}
{% endblock %}


{% block content %}
    <div class="basic-page">
    <div class="full-content">
      <div class="top-section bg-black">
        <div class="title-section">
          <h1 class="page-title" id="overview">
            <img alt=""
                 aria-hidden="true"
                 src='{% static "img/red-arrow-right.svg" %}'
                 class="decorative-arrow"/>
            {{ title }}
          </h1>
        </div>
        <div class="explainer-section">
          <div class="content">
            <div class="middle-text">{{ middle }}</div>
            <div class="bottom-text">
              {{ bottom }}
            </div>
            <div class="action-text">
              {{ action }}
            <div>
          </div>
        </div>
      </div>
      </div>
    </div>
{% endblock %}
