{% extends "layouts/full.html" %}
{% load static %}
{% load pipeline %}

{% block title %}Fetch Cases{% endblock %}
{% block title_section %}{% endblock %}
{% block top_section_style %}bg-tan simple-section{% endblock %}
{% block meta_description %}
  Extract citations from a block of text and link to matching cases
{% endblock %}
{% block explainer %}{% endblock %}
{% block sidebar_menu %}{% endblock %}
{% block base_css %}{% stylesheet 'fetch' %}{% endblock %}

{% block main_content %}
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  <div class="fetch-page">
    <form method="POST" class="row bg-tan">
      <div class="col-centered col-lg-9">
        <h2 class="page-title">
          <img alt="" aria-hidden="true" src="{% static 'img/arrows/violet-arrow-right.svg' %}"
               class="decorative-arrow"/>
          Extract Citations
        </h2>
        <br/>
        <div class="row">
          Extract citations from a block of text and link to matching cases.
        </div>
        <div class="form-group">
          <textarea name="q" class="form-control" id="q" rows="3" aria-describedby="qHelp">{{ text }}</textarea>
          <small id="qHelp" class="form-text text-muted">
            Enter a single citation, a column copied from a spreadsheet, or document text.
            No text is saved on the server.
          </small>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary">Find Citations</button>
        </div>
      </div>
    </form>

    {% if text %}
      <div class="col-centered col-lg-8 col-sm-10">
        {% if citations %}
          <p id="results_count_focus" tabindex="-1" class="hitcount">Extracted citation results</p>
          <form method="POST">
            {% for citation in citations %}
              <div class="result">
                <div class="result-title">
                  "{{ citation.before }}
                  <span class="font-weight-bold">{{ citation.cite }}</span>
                  {{ citation.after }}"
                </div>
                <ul>
                  {% if citation.cases %}
                    {% for case in citation.cases %}
                      <li>
                        {% if case.pdf_available %}
                          <input type="checkbox" name="case_ids" value="{{ case.pk }}" id="case-id-{{ case.pk }}"
                                 checked>
                        {% endif %}

                        <a href="{{ case.get_full_frontend_url }}" target="_blank">
                          {{ case.full_cite }}
                        </a>
                        {% if case.pdf_available %}
                          &middot; <a href="{{ case.get_pdf_url }}" target="_blank">PDF</a>
                        {% endif %}
                      </li>
                    {% endfor %}
                  {% else %}
                    <li class="no-results">No cases found.</li>
                  {% endif %}
                </ul>
              </div>
            {% endfor %}
            {% if not request.user.is_authenticated %}
              <p class="error">
                You must be
                <a href='{% url "login" %}{% if request %}?next={{ request.build_absolute_uri }}{% endif %}'>
                  logged in
                </a>
                to download a zip file.
              </p>
            {% endif %}
            {% if request.user.is_authenticated %}
              <label class="d-block">Download checked PDFs as a zip file:</label>
            {% endif %}
            <button type="submit" class="btn btn-primary" name="download" value="1"
                    {% if not request.user.is_authenticated %}disabled{% endif %}>
              Download zip
            </button>
          </form>
        {% else %}
          <i>No citations found.</i>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}