{% extends "main_base.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% javascript 'base' %}
  {% stylesheet 'gallery' %}
{% endblock %}

{% block title %} — Gallery{% endblock %}

{% block meta_description %}
Caselaw Access Project gallery
{% endblock %}


{% block content %}
  <div class="basic-page inverse">
    <div class="full-content">
      <div class="row">
        <div class="page-title">
          <h1>
            <img alt="›" src='{% static "img/red-arrow-right.svg" %}'
                 class="decorative-arrow"/>
            Gallery
          </h1>
        </div>
      </div>
      <div class="row">
        {# ==============> MENU <============== #}
        <div class="list-group sidebar-menu">
          <a class="list-group-item" href="#wordclouds">Wordclouds</a>
          <a class="list-group-item" href="#limericks">Limericks</a>
        </div>
        {# ==============> CONTENT <============== #}
        <div class="content">

          {# ==============> OVERVIEW <============== #}
          <div class="page-section">
            <a name="overview"></a>
            <p>
              Sky is the limit!
              <br/> Here are some examples of what’s possible.
            </p>
          </div>
          <div class="page-section">
            <a name="wordclouds"></a>
            <div class="row">
              <div class="project-image">
                <a href="/gallery/wordclouds"
                   aria-label="Go to wordclouds example">
                  <img class="main-img rounded"
                     alt="Wordcloud from 1930, California"
                     src="{% static "img/wordclouds-1933.png" %}">
                </a>
              </div>
              <div class="project-description">
                <h6 class="subtitle">Wordclouds</h6>
                <p>
                  Most used words for every year of California caselaw from 1852 to 2015.
                </p>
                <p class="social">
                  <span class="website">
                    <a href="/gallery/wordclouds"
                       aria-label="Go to wordclouds example"></a>
                  </span>

                  <span class="github">
                    <!-- TODO: link to project's github-->
                    <a href="#" target="_blank"
                       alt="See source code"
                       aria-label="Go to wordclouds source code"></a>
                  </span>

                </p>
              </div>
            </div>
          </div>
          <div class="page-section">
            <a name="limericks"></a>
            <div class="row">
              <div class="project-image">
                <a href="/gallery/limericks"
                   aria-label="Go to limericks example">
                  <img class="main-img"
                     alt="Limericks out of caselaw text"
                     src="{% static "img/limerick-btn.png" %}">
                </a>
              </div>
              <div class="project-description">
                <h6 class="subtitle">
                  Limericks
                </h6>
                <p>
                  Generate rhymes using caselaw!
                </p>
                <p class="social">
                  <span class="website">
                    <a href="/gallery/limericks"
                       aria-label="Go to limericks example"></a>
                  </span>

                  <span class="github">
                    <!-- TODO: link to project's github-->
                    <a href="#" target="_blank"
                       alt="See source code"
                       aria-label="Go to limericks source code"></a>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}