{% extends "layouts/full.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% stylesheet 'gallery' %}
{% endblock %}

{% block title %}Gallery{% endblock %}
{% block meta_description %}Caselaw Access Project gallery{% endblock %}
{% block top_section_style %}bg-violet-dark{% endblock %}

{% block explainer %}
  The sky's the limit! Here are some examples of what's possible.
  <br/>
  Want to have your project featured on this site?
  Email us  <a class="contact_email" href="mailto:{{ email }}">{{ email }}</a>,
  or send us a
  <a href="https://github.com/harvard-lil/capstone/pulls" target="_blank">pull request.</a>
  Thinking of adding a small code example? Consider contributing to our
  <a href="https://github.com/harvard-lil/cap-examples" target="_blank">cap-examples repo</a>.
{% endblock %}

{% block sidebar_menu %}
  <nav id="sidebar-menu" aria-label="table of contents">
    <div class="content">
      <ul class="list-group">
        <li>
          <a class="list-group-item" href="#h2o">
            <span class="text">H2O</span>
          </a>
        </li>
        <li>
          <a class="list-group-item" href="#wordclouds">
            <span class="text">Wordclouds</span>
          </a>
        </li>
        <li>
          <a class="list-group-item" href="#limericks">
            <span class="text">Limericks</span>
          </a>
        </li>
        <li>
          <a class="list-group-item" href="#witchcraft">
            <span class="text">Witchcraft</span>
          </a>
        </li>
        <li>
          <a class="list-group-item" href="#gavelfury">
            <span class="text">GAVELFURY</span>
          </a>
        </li>
        <li>
          <a class="list-group-item" href="#examples">
            <span class="text">Code Examples</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block main_content %}
  {# =============> H2O <============= #}
  <div class="page-section">
    <div class="row">
      <div class="project-image">
        <a href="https://opencasebook.org/"
           aria-label="H2O homepage"
           title="H2O homepage"
           id="h2o"
           target="_blank">
          <img class="main-img rounded"
               alt=""
               src="{% static "img/h2o.png" %}">
        </a>
      </div>
      <div class="project-description">
        <h2 class="subtitle simple-subtitle" id="h2o">
          <a href="https://opencasebook.org/">
            H2O
          </a>
        </h2>
        <p>
          H2O uses the
          <a href="{% url "api" %}">
            CAP API
          </a>
          to provide free caselaw textbooks for anyone.
        </p>
        <p class="social">
          <span class="github">
            <a href="https://github.com/harvard-lil/h2o" target="_blank"
               title="H2O source code on Github"
               aria-label="H2O source code on Github"></a>
          </span>

          <span class="website">
            <a href="https://opencasebook.org/"
               aria-label="H2O homepage"
               title="H2O homepage"
               target="_blank">
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>

  {# =============> WORDCLOUDS <============= #}
  <div class="page-section">
    <div class="row">
      <div class="project-image">
        <a href="{% url "wordclouds" %}"
           title="Wordcloud homepage"
           id="wordclouds"
           aria-label="Wordcloud homepage">
          <img class="main-img rounded"
               alt=""
               src="{% static "img/wordclouds-1933.png" %}">
        </a>
      </div>
      <div class="project-description">
        <h2 class="subtitle simple-subtitle" id="wordclouds">
          <a href="{% url "wordclouds" %}">
            Wordclouds
          </a>
        </h2>
        <p>
          Graphics showcasing the most-used words in California caselaw each year between 1852 and 2015.
        </p>
        <p class="social">
          <span class="github">
            <a href="https://github.com/harvard-lil/cap-examples-old/blob/master/make_wordclouds.py" target="_blank"
               title="Wordcloud source code on Github"
               aria-label="Wordcloud source code on Github"></a>
          </span>
          <span class="website">
            <a href="{% url "wordclouds" %}"
               title="Wordcloud homepage"
               aria-label="Wordcloud homepage"></a>
          </span>
        </p>
      </div>
    </div>
  </div>
  {# =============> LIMERICKS <============= #}
  <div class="page-section">
    <div class="row">
      <div class="project-image">
        <a href="{% url "limericks" %}"
           id="limericks"
           aria-label="Limericks homepage">
          <img class="main-img rounded"
               alt=""
               src="{% static "img/limerick.png" %}">
        </a>
      </div>
      <div class="project-description">
        <h2 class="subtitle simple-subtitle" id="limericks">
          <a href="{% url "limericks" %}">
            Limericks
          </a>
        </h2>
        <p>
          Generate rhymes using caselaw!
        </p>
        <p class="social">
          <span class="github">
            <a href="https://github.com/harvard-lil/cap-examples-old/blob/master/generate_limerick.py" target="_blank"
               title="Limericks source code on Github"
               aria-label="Limericks source code on Github"></a>
          </span>

          <span class="website">
            <a href="{% url "limericks" %}"
               title="Limericks homepage"
               aria-label="Limericks homepage"></a>
          </span>
        </p>
      </div>
    </div>
  </div>
  {# =============> WITCHCRAFT <============= #}
  <div class="page-section">
    <div class="row">
      <div class="project-image">
        <a href="{% url "witchcraft" %}"
           id="witchcraft"
           aria-label="Witchcraft homepage">
          <img class="main-img"
               alt=""
               src="{% static "img/witchcraft.png" %}">
        </a>
      </div>
      <div class="project-description">
        <h2 class="subtitle simple-subtitle" id="witchcraft">
          <a href="{% url "witchcraft" %}">
            Witchcraft in Caselaw
          </a>
        </h2>
        <p>
          See all instances of "witchcraft" charted out on the U.S. map.
        </p>
        <p class="color-violet">Happy Halloween!</p>
        <p class="social">
          <span class="github">
            <a href="https://github.com/harvard-lil/cap-examples/blob/master/api_wordsearch/wordsearch.py"
               target="_blank"
               title="Witchcraft source code on Github"
               aria-label="Witchcraft source code on Github"></a>
          </span>

          <span class="website">
            <a href="{% url "witchcraft" %}"
               title="Witchcraft homepage"
               aria-label="Witchcraft homepage"></a>
          </span>
        </p>
      </div>
    </div>
  </div>
  {# =============> GAVELFURY <============= #}
  <div class="page-section">
    <div class="row">
      <div class="project-image">
        <a href="http://www.gavelfury.com/"
           id="gavelfury"
           target="_blank"
           aria-label="GAVELFURY homepage">
          <img class="main-img"
               alt=""
               src="{% static "img/fury.png" %}">
        </a>
      </div>
      <div class="project-description">
        <h2 class="subtitle simple-subtitle" id="gavelfury">
          <a href="http://www.gavelfury.com/">
            GAVELFURY
          </a>
        </h2>
        <p>
          See all instances of "!"
        </p>
        <p class="social">
          <span class="website">
            <a href="http://www.gavelfury.com/"
               title="GAVELFURY homepage"
               target="_blank"
               aria-label="GAVELFURY homepage"></a>
          </span>
        </p>
      </div>
    </div>
  </div>
  {# =============> CODE EXAMPLES <============= #}
  <div class="page-section">
    <div class="row">
      <div class="project-image">
        <a href="https://github.com/harvard-lil/cap-examples"
           id="limericks"
           aria-label="Limericks homepage">
          <img class="main-img"
               alt=""
               src="{% static "img/examples.png" %}">
        </a>
      </div>

      <div class="project-description">
        <h2 class="subtitle simple-subtitle" id="examples">
          <a href="https://github.com/harvard-lil/cap-examples">
            Code examples
          </a>
        </h2>
        <p>
          See some ways of getting started with the data! Examples are written in Python.
        </p>
        <p class="social">
          <span class="github">
            <a href="https://github.com/harvard-lil/cap-examples"
               target="_blank"
               title="Examples source code on Github"
               aria-label="Examples source code on Github"></a>
          </span>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
