{% extends "main_base.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% stylesheet 'index' %}
  {% javascript 'map_mouseovers' %}
{% endblock %}

{% block content %}
  <section class="bg-black">
    <div class="splash-quote">
      <h3>
        <img class="decorative-arrow"
             alt=""
             aria-hidden="true"
             src='{% static "img/red-arrow-right.svg" %}'/>
        Three hundred and sixty years of United States caselaw
        <img class="decorative-arrow left"
             alt=""
             aria-hidden="true"
             src='{% static "img/red-arrow-left.svg" %}'/>
      </h3>
    </div>
      <img class="decorative-mountains-purple"
           alt=""
           aria-hidden="true"
           src="{% static "img/purple-mountains.png" %}">
      <img class="decorative-mountains-red"
           alt=""
           aria-hidden="true"
           src="{% static "img/red-mountains.png" %}">
  </section>

  <!-- About -->
  <section id="section-about"
           class="bg-gradient section-purple">
    <div class="content">
      <div class="row">
        <div class="content-small-screen numbers">
          <div class="row">
            <div class="small-screen-number-col">
              <h1>{{ numbers.cases }}</h1>
            </div>
            <div class="small-screen-number-col">
              <h4 class="font-weight-bold">
                Million
              </h4>
              <img class="" alt="‹"
                src='{% static "img/red-arrow-left.svg" %}'/>

              <h5>
                Unique cases
              </h5>
            </div>
            <hr/>
            <div class="small-screen-number-col">
              <h3>{{ numbers.reporters }}</h3>
              <h5>Reporters</h5>
            </div>
            <div class="small-screen-number-col">
              <h3 class="pages-scanned-number">{{ numbers.pages_scanned }}M</h3>
              <h5>Pages scanned</h5>
            </div>
          </div>
        </div>
        <div class="content-left">
          <h1 class="font-serif section-title">
            <img class="decorative-arrow"
                 alt=""
                 aria-hidden="true"
                 src='{% static "img/red-arrow-right.svg" %}'>
              What data do we have?
          </h1>
          <div class="numbers numbers-vertical">
            <ul>
              <li class="item-set">
                <h1 class="num_cases">{{ numbers.cases }}M</h1>
                <p>Unique cases</p>
              </li>
              <li class="item-set">
                <h1 class="num_reporters">{{ numbers.reporters }}</h1>
                <p>Reporters</p>
              </li>
              <li class="item-set">
                <h1 class="num_pages">{{ numbers.pages_scanned }}M</h1>
                <p>Pages scanned</p>
              </li>
            </ul>
          </div>

        </div>
        <div class="content-right">
          <h5>
            Planning, scanning, digitizing, and enabling access since 2013
          </h5>
          <div class="map">

            {% include "includes/usa_territories_white.svg" %}
          </div>
          <div class="numbers numbers-horizontal">
            <div class="row">
              <div class="col-4">
                <h1 class="num_cases">{{ numbers.cases }}M</h1>
                <p>Unique cases</p>
              </div>
              <div class="col-4">
                <h1 class="num_reporters">{{ numbers.reporters }}</h1>
                <p>Reporters</p>
              </div>
              <div class="col-4">
                <h1 class="num_pages">{{ numbers.pages_scanned }}M</h1>
                <p>Pages scanned</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About -->


  <!-- Dive in -->
  <section id="section-dive-in" class="section-default">
    <div class="content">
      <div class="row">
        <div class="content-left">
          <!-- section title -->
          <h1 class="font-serif section-title">
            <img class="decorative-arrow"
                 alt=""
                 aria-hidden="true"
                 src='{% static "img/red-arrow-right.svg" %}'>
              Dive in!
          </h1>
        </div>
        <div class="content-right">
          <!-- section subtitle -->
          <h5 class=" section-subtitle">
            Start exploring the data! Here are some tools you can use to check it out.
          </h5>

          <h6>
            <span class="section-symbol color-red">&#167;</span>
            <span class="color-violet">API</span>
          </h6>
          <p>The API allows users to browse and download cases using a few short commands.</p>
          <h6>
            <span class="section-symbol color-red">&#167;</span>
            <span class="color-violet">Bulk data</span>
          </h6>
          <p>Download whole zip files of whitelisted jurisdictions like Illinois.</p>
          <br/>
          <a href="/tools"
             class="btn btn-default"
             >Browse tools</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /Dive in -->

  <!-- Showcase -->
  <section id="section-gallery" class="bg-black section-default">
    <div class="content">
      <div class="row">
        <div class="content-left">
          <!-- section title -->
          <h1 class="font-serif section-title">
            <img class="decorative-arrow"
                 alt=""
                 aria-hidden="true"
                 src='{% static "img/red-arrow-right.svg" %}'>
              Gallery
          </h1>
        </div>
        <div class="content-right">
          <!-- section subtitle -->
          <h5 class="section-subtitle">
            Sky’s the limit. See some early experiments made possible by the opening up of caselaw data.
          </h5>
          <h6>
            <span class="section-symbol color-yellow">&#167;</span>
            <span>Wordclouds</span>
          </h6>
          <p>Atque quo omnis veritatis. Quia occaecati consequatur suscipit eum debitis perspiciatis amet tempora.</p>
          <h6>
            <span class="section-symbol color-yellow">&#167;</span>
            <span>Limericks</span>
          </h6>
          <p>Atque quo omnis veritatis. Quia occaecati consequatur suscipit eum debitis perspiciatis amet tempora.</p>
          <br/>
          <a class="btn btn-inverse"
             href="/showcase#overview">See gallery</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /Showcase -->

  <!-- Links -->
  <section id="section-links" class="section-default">
     <div class="content">
      <div class="row">
        <div class="content-left">
          <!-- section title -->
          <h1 class="font-serif section-title">
            <img class="decorative-arrow"
                 alt=""
                 aria-hidden="true"
                 src='{% static "img/red-arrow-right.svg" %}'>
              Links &amp; press
          </h1>
        </div>
        <div class="content-right">
          <!-- section subtitle -->
          <h5 class=" section-subtitle">
            What's been written about Caselaw Access Project around the web
          </h5>
          <ul>
          {% for news_item in news %}
            <li class="item-set">
              <p class="item-title">
                <a href="{{ news_item.url }}"
                   title="Go to {{ news_item.publication }} to read {{ news_item.title }}"
                   target="_blank">{{ news_item.title }}</a>
              </p>
              <span class="item-origin">
                {{ news_item.publication }}
              </span>
              <span class="item-date">
                {{ news_item.date }}
              </span>
            </li>
          {% endfor %}
          </ul>
          <br/>
          <a href="/about#press"
             title="Read more Caselaw Access Project press"
             class="btn btn-default">See more</a>
        </div>
      </div>
     </div>
  </section>
  <!-- /Links -->

{% endblock %}

