{% extends "base.html" %}
{% load static %}
{% load pipeline %}

{% block extra_head %}
  {% javascript 'base' %}
{% endblock %}

{% block content %}
  {% include "includes/menu.html" %}
  <section class="bg-tan">
    <div class="row">
      <div class="col-6 m-auto text-center">
        <h2 class="georgia">
          A complete collection of  published United States caselaw  from 1640 to 2017
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <img class="img-fluid" src="{% static "img/mountains.png" %}">
    </div>
  </section>
{% endblock %}