{% load static %}{% load pipeline %}{% load capweb_static %}{% load render_bundle from webpack_loader %}<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# social #}
    {% if page_image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{% capweb_static page_image %}">
      <meta property="og:image"  content="{% capweb_static page_image %}">
    {% else %}
      <meta name="twitter:image" content="{% capweb_static "img/og_image/api.jpg" %}">
      <meta property="og:image"  content="{% capweb_static "img/og_image/api.jpg" %}">
      <meta name="twitter:card" content="summary">
    {% endif %}

    <meta name="twitter:site" content="@caselawaccess">
    <meta name="twitter:creator" content="@HarvardLIL">

    {% if page_title %}
      <meta property="og:title" content="{{ page_title }}">
      <meta name="twitter:title" content="{{ page_title }}">
    {% else %}
      <meta property="og:title" content="Caselaw Access Project">
      <meta name="twitter:title" content="Caselaw Access Project">
    {% endif %}

    {% if page_description %}
      <meta property="og:description" content="{{ page_description }}">
      <meta name="twitter:description" content="{{ page_description }}">
    {% else %}
      <meta property="og:description" content="Explore American Caselaw">
      <meta name="twitter:description" content="Explore American Caselaw">
    {% endif %}

    {% if page_url %}
      <meta property="og:url" content="{{ page_url }}">
    {% else %}
      <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endif %}

    <meta property="og:type" content="article">

    {# favicon #}
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "img/favicon/android-chrome-144x144.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon/favicon.ico" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#0075FF">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{% static "img/favicon/mstile-150x150.png" %}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% if title %}{{ title }}{% endif %}{% endblock title %}{% block title_suffix %} | Caselaw Access Project{% endblock title_suffix %}</title>
    <meta name="description" content="{% block meta_description %}Explore American Caselaw{% endblock meta_description %}">

    {% stylesheet "base" %}
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'base' %}
    {% block extra_head %}{% endblock %}
  </head>
  <body class="hamburger-menu-closed" tabindex="-1">

    {% include "includes/nav.html" %}
    <main class="main-content flex-xl-nowrap" id="main">
      {% block content %}{% endblock content %}
    </main>

    {% if not hide_footer %}
      {% block footer %}
          {% include "includes/footer.html" %}
      {% endblock %}
    {% endif %}
  </body>
</html>
