{% extends "layouts/narrow.html" %}

{% block title %}Enter password{% endblock %}
{% block meta_description %}Caselaw Access Project password protected page{% endblock %}

{% block main_content %}
  <form method="post">
    {% csrf_token %}
    <label for="password">Please enter the password to access this page:</label>
    <input type="text"
           name="password"
           class="form-control{% if message %} is-invalid{% endif %}"
           id="password"
           placeholder="password"
           required>
    {% if message %}
      <div class="invalid-feedback">
        {{ message }}
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
