{% extends "layouts/full.html" %}
{% load static %}
{% load pipeline %}
{% load api_url %}
{% load snippet %}
{% load django_vite %}
{% block base_css %}{% stylesheet 'search' %}{% endblock %}

{% block top_section_style %}{% endblock %}
{% block title %}Search{% endblock %}
{% block title_section %}{% endblock %}
{% block meta_description %}
  Search the Caselaw Access Project
{% endblock %}
{% block sidebar_menu %}{% endblock %}

{% block main_content %}
  <div class="layout-shift-buffer">
    <div id="app" class="content"></div>
  </div>

  <script>
    const config = {
      urls: {
        api_root: "{% api_url "api-root" %}v1/",
        static: "{% static "" %}",
        search_docs: "{% url 'search-docs' %}",
        trends: "{% url 'trends' %}"
      },
      choices: {
        "jurisdiction": {% snippet 'search_jurisdiction_list' '[]' %},
        "reporter": {% snippet 'search_reporter_list' '[]' %},
        "whitelisted": [["true", "Whitelisted"], ["false", "Not Whitelisted"]],
      },
      maxYear: {{ CASE_MAX_YEAR }},
    };
  </script>
  <noscript>
    This search interface requires javascript, even for basic functionality. If you can not or will not use
    javascript, your best bet is to directly use <a href="{% api_url "api-root" %}">the API this search interface
    queries.</a> There is no data available in this search interface that is not available through the API.
  </noscript>
  {% vite_asset 'static/js/search/main.js' %}
{% endblock %}
