{% extends "layouts/full.html" %}
{% load pipeline %}
{% load api_url %}

{% block extra_head %}
  {% stylesheet 'tools' %}
{% endblock %}

{% block title %}Tools for accessing caselaw{% endblock %}
{% block meta_description %}Caselaw Access Project Tools{% endblock %}
{% block top_section_style %}bg-black{% endblock %}
{% block explainer %}
  The capstone of the Caselaw Access Project is a robust set of tools which facilitate access to the cases
  and their associated metadata. We currently offer three ways to access the data: our
  <a href="{% api_url "api-root" %}">API</a>, <a href="{% url "bulk-download" %}">bulk downloads</a>, and
  <a href="{% url "search" %}">search</a>.
{% endblock %}
{% block row_style %}bg-tan{% endblock %}

{% block sidebar_menu_items %}
  <li>
    <a class="list-group-item" href="#api">
      <span class="text">API</span>
    </a>
  </li>
  <li>
    <a class="list-group-item" href="#bulk">
      <span class="text">Bulk Data</span>
    </a>
  </li>
  <li>
    <a class="list-group-item" href="#search">
      <span class="text">Search</span>
    </a>
  </li>
{% endblock %}
{% block main_content_style %}{% endblock %}
{% block main_content %}
  {# ==============> API  <============== #}
  <h2 class="subtitle" id="api">The API</h2>
  <p>
    Our open-source API is the best option for anybody interested in programmatically accessing our
    metadata, full-text search, or individual cases.
  </p>
  <div class="btn-group">
    <a class="btn-primary" href="{% api_url "api-root" %}">API</a>
    <a class="btn-secondary" href="{% url "api" %}">DOCS</a>
  </div>

  {# ==============> BULK!! <============== #}
  <h2 class="subtitle" id="bulk">Bulk Data</h2>
  <p>
    If you need a large collection of cases, you will probably be best served by our bulk data downloads.
    Bulk downloads for Illinois and Arkansas are available without a login, and unlimited bulk files are available to
    research scholars.
  </p>
  <div class="btn-group">
    <a class="btn-primary" href="{% url "bulk-download" %}">BULK DATA</a>
    <a class="btn-secondary" href="{% url "bulk-docs" %}">DOCS</a>
  </div>

  {# ==============> SEARCH <============== #}
  <h2 class="subtitle" id="search">Search</h2>
  <p>
    Our search interface offers access to all of the same cases and most of our metadata with an intuitive,
    flexible interface.
  </p>
  <div class="btn-group">
    <a class="btn-primary" href="{% url "search" %}">SEARCH</a>
    <a class="btn-secondary" href="{% url "search-docs" %}">DOCS</a>
  </div>
{% endblock %}
