{% extends "layouts/full.html" %}
{% load pipeline %}
{% load api_url %}

{% block extra_head %}
  {% stylesheet 'tools' %}
{% endblock %}

{% block title %}Tools for Accessing Caselaw{% endblock %}
{% block meta_description %}Caselaw Access Project Tools{% endblock %}
{% block top_section_style %}bg-black{% endblock %}

{% block explainer %}
  The capstone of the Caselaw Access Project is a robust set of tools which facilitate access to the cases
  and their associated metadata. We currently offer two ways to access the data: our
  <a href="{% url "api" %}">API</a>, and <a href="{% url "bulk-docs" %}">bulk downloads</a>.
{% endblock %}

{% block sidebar_menu %}
  <nav id="sidebar-menu" aria-label="table of contents">
    <div class="content">
      <ul class="list-group">
        <li>
          <a class="list-group-item" href="#api">
            <span class="text">API</span>
          </a>
        </li>
        <li>
          <a class="list-group-item" href="#bulk">
            <span class="text">Bulk Data</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block main_content %}
  {# ==============> API  <============== #}
  <div class="page-section">
    <h2 class="subtitle" id="api">
      <a href="{% url "api" %}">The API</a>
    </h2>
    <p>
        Our open-source API is the best option for anybody interested in programmatically accessing our
        metadata, full-text search, or individual cases.
    </p>
    <ul>
      <li><a href="{% api_url "api-root" %}">Browse the API</a></li>
      <li><a href="{% url "api" %}">API docs</a></li>
    </ul>
  </div>

  {# ==============> BULK!! <============== #}
  <div class="page-section">
    <h2 class="subtitle" id="bulk">
      <a href="{% url "bulk-docs" %}">Bulk Downloads</a>
    </h2>
    <p>
      If you need a large collection of cases, you will probably be best served by our bulk data downloads.
      Bulk downloads for Illinois and Arkansas are available without a login, and unlimited bulk files are available to
      research scholars.
    </p>
    <ul>
      <li><a href="{% url "bulk-docs" %}">Bulk file documentation</a></li>
    </ul>
  </div>
{% endblock %}
