{% extends "layouts/full.html" %}
{% load static %}
{% load pipeline %}
{% load api_url %}
{% load snippet %}
{% load render_bundle from webpack_loader %}
{% block row_style %}bg-tan{% endblock %}

{% block base_css %}
  {% stylesheet 'trends' %}
{% endblock %}

{% block top_section_style %}bg-tan simple-section{% endblock %}
{% block title_section %}
{% endblock %}
{% block meta_description %}
  Historical trends in United States caselaw from the Caselaw Access Project
{% endblock %}
{% block sidebar_menu %}{% endblock %}

{% block main_content %}
<div id="app" class="content"></div>
<script>
  const urls = {
    api_root: "{% api_url "api-root" %}v1/",
    static: "{% static "" %}",
    search_page: "{% url "search" %}#/cases",
    docs_page: "{% url "trends-docs" %}"
  };

  const snippets = {
    jurisdictions: {% snippet 'search_jurisdiction_list' '[]' %}
  };
</script>
<noscript>
  This interface requires javascript, even for basic functionality. If javascript is not an option, your best
  bet is to directly use <a href="{% api_url "api-root" %}">the API this search interface
  queries.</a> There is no data available in this search interface that is not available through the API.
</noscript>
{% render_bundle 'trends' %}
{% endblock %}
