{% extends "layouts/full.html" %}
{% load static %}
{% load pipeline %}
{% load api_url %}
{% load snippet %}
{% load django_vite %}
{% block row_style %}bg-tan{% endblock %}

{% block base_css %}
  {% stylesheet 'trends' %}
{% endblock %}

{% block top_section_style %}bg-tan simple-section{% endblock %}
{% block title_section %}
{% endblock %}
{% block meta_description %}
  Historical trends in United States caselaw from the Caselaw Access Project
{% endblock %}
{% block sidebar_menu %}{% endblock %}

{% block main_content %}
<div id="app" class="content"></div>
<script>
  const config = {
    urls: {
      api_root: "{% api_url "api-root" %}v1/",
      static: "{% static "" %}",
      search_page: "{% url "search" %}#/cases",
      docs_page: "{% url "trends-docs" %}"
    },
    snippets: {
      jurisdictions: {% snippet 'search_jurisdiction_list' '[]' %}
    },
    maxYear: {{ CASE_MAX_YEAR }},
  };
</script>
<noscript>
  This interface requires javascript.
</noscript>
{% vite_asset 'static/js/trends/main.js' %}
{% endblock %}
