{% extends "main_base.html" %}
{% load pipeline %}

{% block content %}
  <div class="container header-margin">
    <h3>CSRF verification failed</h3>
    <p>
      This usually means you submitted an out-of-date form or have an issue with your browser cookies.
    </p>
    <p>
      Please try going back to the previous page, refreshing, and submitting again. If that doesn't work, try
      deleting your browser cookies for this site, or <a href="mailto:info@capapi.org">contact us</a>.
    </p>
  </div>
{% endblock %}