{% load static %}
{% load pipeline %}


<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caselaw Access Project{% block title %}{% endblock title %}</title>
    <meta name="robots" content="noindex">
    <meta name="description" content="{% block meta_description %}Explore American Caselaw{% endblock meta_description %}">

    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    {% stylesheet 'base' %}
  </head>
  <body>
    <header class="header navbar flex-column flex-md-row">
      <div class="col-12">
        <a href="/" title="CAP mainpage">
          <img class="header-logo"
               src="{% static "img/logo-small-blue.png" %}"
               alt="CAP Logo"/>
        </a>
        <span class="header-text"> CASELAW ACCESS PROJECT</span>
        <a href="https://lil.law.harvard.edu" target="_blank">
          <img class="lil-logo"
               src="{% static "img/LIL-logo.png" %}"
               alt="Library Innovation Lab" />
        </a>
      </div>
    </header>
    <div class="main-content header-margin" id="main" role="main">
        {% block content %}{% endblock content %}
    </div>

    {% if template_name != 'docs' and template_name != 'terms' %}
      {#  hiding footer in docs, showing info in sidebar #}
      {% include "includes/footer.html" %}
    {% endif %}
  </body>
</html>
