{% load static %}
{% load pipeline %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caselaw Access Project{% block title %}{% endblock title %}</title>
    <meta name="robots" content="noindex">
    <meta name="description" content="{% block meta_description %}Explore American Caselaw{% endblock meta_description %}">
    {% stylesheet 'base' %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% include "includes/header.html" %}
    <div class="main-content header-margin flex-xl-nowrap" id="main" role="main">
        {% block content %}{% endblock content %}
    </div>

    {% if not hide_footer %}
      {#  hiding footer in docs, showing info in sidebar #}
      {% include "includes/footer.html" %}
    {% endif %}
  </body>
</html>
