{% extends "layouts/narrow.html" %}
{% load pipeline %}

{% block title %}Bulk downloads{% endblock %}
{% block meta_description %}Caselaw Access Project Bulk Access{% endblock %}

{% block extra_head %}
  {% stylesheet 'tools' %}
{% endblock %}

{% block main_content %}
  <div class="page-section">
    See our <a href="{% url "bulk-docs" %}">bulk data docs</a> for an explanation of these files.
  </div>
  {% if exports.public %}
    <div class="page-section">
      <h2 class="subtitle">
        Public Bulk Data
      </h2>
      <p>Click a link to download.</p>
      {% include "includes/download_list.html" with zips=exports.public %}
    </div>
  {% endif %}
  <div class="page-section">
    <h2 class="subtitle">
      Bulk Data for Academic Research
    </h2>
    {% if exports.private %}
      <p>
        The following jurisdictions are available for download under your academic research agreement.
        Click a link to download.
      </p>
      {% include "includes/download_list.html" with zips=exports.private %}
    {% else %}
      <p>
        Bulk downloads of the remaining jurisdictions are freely available for academic research.
        Please <a href="mailto:info@capapi.org">contact us</a> for access.
      </p>
    {% endif %}
  </div>
{% endblock %}
