{% extends "layouts/narrow.html" %}
{% load pipeline %}

{% block title %}Bulk downloads{% endblock %}
{% block meta_description %}Caselaw Access Project Bulk Access{% endblock %}

{% block extra_head %}
  {% stylesheet 'tools' %}
{% endblock %}

{% block main_content %}
  <div class="page-section">
    See our <a href="{% url "bulk-docs" %}">bulk data docs</a> for an explanation of these files.
  </div>
  {% if exports.public %}
    <div class="page-section">
      <h2 class="subtitle">
        Public Bulk Data
      </h2>
      <p>Click a link to download.</p>
      {% include "includes/download_list.html" with zips=exports.public %}
    </div>
<p>Explore our Illinois Public Bulk Data on <a href="https://dataverse.harvard.edu/dataverse/caselawaccess">Harvard Dataverse</a> and <a href="https://www.kaggle.com/harvardlil/caselaw-dataset-illinois">Kaggle</a>.<p>
  {% endif %}
  <div class="page-section">
    <h2 class="subtitle">
      Bulk Data for Academic Research
    </h2>
    {% if exports.private %}
      <p>
        The following jurisdictions are available for download under your scholarly research agreement.
        Click a link to download.
      </p>
      {% include "includes/download_list.html" with zips=exports.private %}
    {% elif request.user.harvard_access and not request.user.harvard_ip %}
      <p>You will have access to bulk data when accessing this page from a Harvard IP address.</p>
    {% else %}
      <p>
        Bulk downloads of the remaining jurisdictions are freely available to research scholars.
        To request access, please log in, visit your <a href="{% url "user-details" %}">account page</a>,
        and click "Request unlimited research access."
      </p>
      <p>
        For more information about our access limits, or details on requesting bulk data for commercial use, see the
        <a href="{% url "api" %}">Access Limits section of our API documentation</a>.
      </p>
    {% endif %}
  </div>
{% endblock %}
