{% extends "layouts/centered.html" %}
{% load pipeline %}
{% load static %}
{% load capweb_static %}

{% block base_css %}{% stylesheet 'case' %}{% endblock %}
{% block title %}{{ citation_full }}{% endblock %}

{% block content %}
  <div class="case-container header-margin">
    <div class="metadata text-center col-centered">
      {% if not request.user.is_authenticated %}
        <div class="alert alert-success" role="alert">
          Welcome to the Caselaw Access Project! We allow free access to up to 500 cases per person per day &mdash; see
          our
          <a href="{% url 'terms' %}">terms of use</a> for details. <a href="{% url 'register' %}">Sign up for an
          account</a>
          to use our API or apply for unlimited research scholar access.
        </div>
      {% endif %}
      <div class="court">
        <a href="{{ metadata.court.url }}">
          {{ metadata.court.name }}</a>
      </div>
      <h4 class="case-name">{{ metadata.name }}</h4>
      <div class="citations">
        {{ metadata.citations }}
      </div>
      <div class="docket-number">
        {{ metadata.docket_number }}
      </div>
      <div class="decision_date">
        {{ metadata.decision_date }}
      </div>
    </div>

    {% if reason == 'error_auth_required' %}
      <div class="name">
        <div class="alert-warning text-center">
          <h6 class="case-viewing-error">
            You must be signed in to see the full case.
          </h6>
        </div>
      </div>
    {% elif reason == 'full_case_param_missing' %}
      <section class="name text-center">
        <div class="alert-warning text-center">
          <h6 class="case-viewing-error">
            Full case parameter is missing in HTML request.</h6>
        </div>
        <p>
          To retrieve the full case body, you must specify <span style='font-family: monospace; font-style: normal;'>full_case=true</span>
          in the URL.
        </p>
        <p>If you only want metadata you must specify
          <span style='font-family: monospace; font-style: normal;'>format=json</span>
          in the URL.</p>
        <p>We only serve standalone metadata in JSON format.")</p>
      </section>
    {% elif reason == 'other' %}
      <div class="alert-warning text-center">
        <h6 class="case-viewing-error">
          Could not load case body</h6>
      </div>
    {% else %}
      {{ case_html|safe }}
    {% endif %}

  </div>
  <script>
    /*
    This bit of script selects the citation input and copies it. It then informs the users that the citation was copied
    by applying the citation_copied class.
     */

    function copyCitation() {
      let citation_container = document.getElementById("citation_container");
      let cite = document.getElementById("citation_for_copy");
      cite.select();
      document.execCommand("copy");
      citation_container.classList.add("citation_copied");
    }
  </script>
  <script type="application/ld+json">
 {
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id":"{{ frontend_url }}"
  },
  "headline": "{{ metadata.name_abbreviation }}",
  "isAccessibleForFree": "False",
  {% if not metadata.jurisdiction.whitelisted %}
  "hasPart": {
    "@type": "WebPageElement",
    "isAccessibleForFree": "False",
    "cssSelector": ".casebody"
  },
  {% endif %}
  "author": {
    "@type": "Organization",
    "name": "{{ metadata.court.name }}"
    },
  "genre": "Law",
  "keywords": "{{ metadata.citations }}, {{ metadata.name_abbreviation }}",
  "publisher": {
    "@type": "Organization",
    "name": "Harvard Law School Library Innovation Lab",
    "logo": {
      "@type": "ImageObject",
      "url":"{% capweb_static "img/lil-logo-black.png" %}",
      "width": 693,
      "height": 361
    }
  },
   "image": "{% capweb_static "img/og_image/api.jpg" %}",
   "datePublished": "{{ metadata.decision_date }}",
   "dateModified": "2018-10-29",
   "dateCreated": "{{ metadata.decision_date }}",
   "description": "{{ metadata.name }}"
 }

  </script>
{% endblock %}
