{% extends "base.html" %}
{% load pipeline %}
{% load static %}
{#{% block style %}#}
{#  {% stylesheet 'viz' %}#}
{#{% endblock %}#}
{##}
{% block extra_head %}
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="{% static "js/chart.js" %}"></script>
  <script src="{% static "js/data-viz.js" %}"></script>
  {% stylesheet 'viz' %}
{% endblock %}
{##}
{% block meta_description %}
The Caselaw Access Project Data Visualization
{% endblock %}
{% block content %}
  <div class="container header-margin">
    <div class="row">
    <h3>Just how much data is there?</h3>
    </div>
    <div class="row">
      <div class="col-3 jurisdiction-list">
        <ul class="list-group jurisdiction-list-group">
          <li class="list-group-item jurisdiction-item">
            <a class="a-item a-item-totals"
               id="jurisdiction-item-totals">
              Total
            </a>
          </li>

           {% for id, val in jurisdictions_for_handlebars.items %}
             {% if val.name_long %}

               <li class="list-group-item jurisdiction-item">
                 <a class="a-item a-item-{{ val.name_long }}"
                    id="jurisdiction-item-{{ id }}">
                   {{ val.name_long }}
                 </a>
               </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-3">
        <h5 class="selected-jurisdiction"></h5>
        {% include 'includes/us/us_territories.svg' %}
        {% include 'includes/us/us_territories_together.svg' %}
      </div>
      <div class="col-6 count-data">
        <ul class="list-group data-list-group">
          <li class="list-group-item data-item">
            Reporters
            <span id="reporter-count" class="count"></span>
          </li>
          <li class="list-group-item data-item">
            Volumes
            <span id="volume-count" class="count"></span>
          </li>
            <li class="list-group-item data-item">
              Cases
              <span id="case-count" class="count"></span>
            </li>
          <li class="list-group-item data-item">
            Courts
            <span id="court-count" class="count"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="chart-container">
        <canvas id="caseChart"></canvas>
      </div>
    </div>
  </div>

  <script>
    let reporter_count = JSON.parse("{{ reporter_count|escapejs }}");
    let case_count = JSON.parse("{{ case_count|escapejs }}");
    let court_count = JSON.parse("{{ court_count|escapejs }}");
    let jurisdiction_data = JSON.parse("{{ jurisdictions|escapejs }}");
    let case_count_per_year = JSON.parse("{{ case_count_per_year|escapejs }}");
  </script>

{% endblock %}

