{% extends "base.html" %}
{% load pipeline %}
{% block extra_head %}
  {% stylesheet 'docs' %}
{% endblock %}

{% block title %} | API guide{% endblock %}

{% block meta_description %}
  The Caselaw Access Project API guide
{% endblock %}


{% block content %}
  <div class="flex-xl-nowrap" id="api-overview">

    {% include "includes/api-doc-toc.html" %}

    <div class="col-xs-9 col-md-10 docs reading-body">
      <div class="page-header cont-fixed border-bottom">
        <div class="row">
          <h1 class="col centered-text">
            <span class="blue-text">CAP</span> API
          </h1>
        </div>
      <div class="row">
        <h3 class="col centered-text font-header-semibold">
          Explore United States Caselaw</h3>
      </div>
      <div class="row">
        <h5 class="col centered-text font-body">
          Read the documentation below to get started
        </h5>
      </div>
        <div class="row">
          <div class="alpha-banner col centered-text">
            CAPAPI is an early-access alpha project of the
            <a href="https://lil.law.harvard.edu" target="_blank">Harvard Library Innovation Lab.</a>
            <br/>
            We welcome early users, but we may become unavailable for long periods or change without warning!
            <br/>
            Have thoughts? Send feedback <a href="mailto:info@capapi.org">by email</a> or file issues
            <a href="https://github.com/harvard-lil/capstone" target="_blank">on our Github.</a>
          </div>
        </div>

    </div>

      <section class="border-bottom">
        <a class="anchor-offset"
           id="overview-section"
           aria-label="API Overview"></a>
        <h2 id="overview-section" class="section-title">
          API Overview
        </h2>

        <p class="body-text">
        This API lets you traverse U.S. caselaw from the 1600s
        to the present day.
        <br/>
        You can access the API with a web browser, via the command line, or
        with your favorite programming language.
        <br/>
        See the
        <a href="#getting-started-section">Getting Started</a>
        section below.
        </p>

        <p class="body-text">
          The API can be browsed anonymously or, with an API key,
          as a registered user.
            <br />
            You can get the details about access
            restrictions and the exceptions, which we call whitelisted
            jurisdictions,
            <a href="#restrictions-and-whitelists-section">here</a>.
            <br />
            Here's a quick summary:
        </p>

        <p class="subsection">All users can</p>
        <ul>
          <li>
            see unlimited metadata.
          </li>
        </ul>

        <p class="subsection">Anonymous users can</p>
        <ul>
          <li>
            read the full text of all cases from whitelisted jurisdictions,
            presently including
            {% for jur in whitelisted_jurisdictions %}
            {{ jur.name_long }}{% if not loop.last and loop.length > 2%}, {% endif %}{% if loop.revindex0 == 1 %} and {% endif %}{% endfor %}.
            <br />
          </li>
        </ul>

        <p class="subsection">Registered users can</p>
        <ul>
          <li>
            additionally request the full text of up to 500 cases per
            day from non-whitelisted jurisdictions.
          </li>
        </ul>
      </section>

      <section class="border-bottom">
        <a class="anchor-offset"
           id="registration-section"
           aria-label="Register for an API key"></a>

        <h3 class="section-title">Register for an API key</h3>
        <a href="{% url "register" %}"
           class="btn blue-button">
            REGISTER
        </a>
        <a href="/user/login"
           class="btn blue-button">
            LOGIN
        </a>
        <br/>
        Register, or log in to retrieve your API key and see your daily remaining case allowance.

        <p class="body-text">
          Currently, we allow users to view 500 cases per day.
          If you are a researcher and require access to more cases,
          please write to us at <a href="mailto:info@capapi.org">info@capapi.org</a>.
        </p>
      </section>

      <section class="border-bottom">
        <a class="anchor-offset"
           id="getting-started-section"
           aria-label="Getting Started"></a>

        <h2 class="section-title">Getting Started</h2>
        <p class="body-text">
          Case metadata are viewable in your browser. The main entry point is
                  <ul>
          <li>
            <a href="/api/v1/cases/">{{ request.build_absolute_uri }}api/v1/cases/</a>
          </li>
        </ul>

        </p>

        <p class="body-text">
          On the command line, you might use curl:
          <br/>
            <pre><code>curl -H "Accept: application/json" {{ request.build_absolute_uri }}api/v1/cases/</code></pre>
        or
          <pre><code>curl {{ request.build_absolute_uri }}api/v1/cases/</code></pre>
        </p>

        <p class="body-text">
          You can also use your favorite programming language. As you work on your program,
          you may find it helpful to experiment with constructing URLs in the browser,
          which offers interfaces for filtering and pagination.
        </p>

        <p class="subsection">
          Searching cases by citation
        </p>
        The easiest way to find a specific case is by
        <a href="https://en.wikipedia.org/wiki/Case_citation"
           aria-label="Wikipedia entry for caselaw citation">citation</a>.
        For instance, you could find 1 Ill. 21 with either of these URLs:
        <ul>
          <li>
            <a href="/api/v1/cases/1 Ill. 21">
              {{ request.build_absolute_uri }}api/v1/cases/1 Ill. 21</a>
            <br />
            <a href="/api/v1/cases/?cite=1-Ill-21">
              {{ request.build_absolute_uri }}api/v1/cases/?cite=1-ill-21</a>
          </li>
        </ul>

        <p class="subsection">
          Pagination
        </p>
        The API defaults to returning one hundred items per response.
        If you want more than one hundred items, you can page through
        subsequent items using the <i>offset</i> parameter. For
        example, if you want the second page of one hundred items, set
        the offset value to 100. For convenience, the API response
        includes a <i>next</i> key containing the URL to the next page
        of results.

        </section>
        <section class="border-bottom">
          <a class="anchor-offset"
           id="example-endpoints-section"
           aria-label="Main Endpoint Examples"></a>
          <h2
            class="section-title">
          Main Endpoint Examples
          </h2>
          A single case (metadata only):
          <pre><a href="/api/v1/cases/{{ case_id }}/">{{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/</a></pre>

          One or more cases with the same citation:
          <pre><a href="/api/v1/cases/?cite={{ case_metadata.citations.0.cite }}">{{ request.build_absolute_uri }}api/v1/cases/?cite={{ case_metadata.citations.0.cite }}</a></pre>
          <!--<pre class="json-response">{{ case_metadata }}</pre>-->
          <p class="body-text subsection">Case text</p>
          A request for full case text must include the query parameter <code>full_case=true</code>:

          <pre><a href="/api/v1/cases/{{ case_id }}/?full_case=true">{{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/?full_case=true</a></pre>

          For cases not in <a href="#restrictions-and-whitelists-section">whitelisted</a> jurisdictions, include your <a href="#registration-section">API key</a> as an Authorization header:

          <pre><code>curl -H "Authorization: Token your-token-here" "{{ request.build_absolute_uri }}api/v1/cases/?limit=1&full_case=true"</code></pre>

          <p class="body-text subsection">Query parameter examples</p>
          All cases under a certain jurisdiction:
          <pre><a href="/api/v1/cases/?jurisdiction=Ill.">{{ request.build_absolute_uri }}api/v1/cases/?jurisdiction=Ill.</a></pre>

          A specified number of cases:
          <pre><a href="/api/v1/cases/?limit=5">{{ request.build_absolute_uri }}api/v1/cases/?limit=5</a></pre>

          Using offset to page through results:
          <pre><a href="/api/v1/cases/?offset=10">{{ request.build_absolute_uri }}api/v1/cases/?offset=10</a></pre>

          Searching by earliest date (using format YYYY-MM-DD):
          <pre><a href="/api/v1/cases/?decision_date_min=2000-11-01">{{ request.build_absolute_uri }}api/v1/cases/?decision_date_min=2000-11-01</a></pre>

          Searching by earliest and latest dates (using format YYYY-MM-DD):
          <pre><a href="/api/v1/cases/?decision_date_min=1820-12-01&decision_date_max=1821-12-01">{{ request.build_absolute_uri }}api/v1/cases/?decision_date_min=1820-12-01&decision_date_max=1821-12-01</a></pre>

          Case text in HTML:
          <pre><a href="/api/v1/cases/{{ case_id }}/?full_case=true&body_format=html">{{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/?full_case=true&body_format=html</a></pre>

          Case text in XML:
          <pre><a href="/api/v1/cases/{{ case_id }}/?full_case=true&body_format=xml">{{ request.build_absolute_uri }}api/v1/cases/{{ case_id }}/?full_case=true&body_format=xml</a></pre>

          Here is an example of several of these query parameters together:
          <pre><a href="/api/v1/cases/?full_case=true&jurisdiction=Ill.&decision_date_min=1820-12-01&decision_date_max=1821-12-01&limit=1&body_format=xml">{{ request.build_absolute_uri }}api/v1/cases/?full_case=true&jurisdiction=Ill.&decision_date_min=1820-12-01&decision_date_max=1821-12-01&limit=1&body_format=xml</a></pre>
          This request should return a single case with full text as XML.
        </section>

        <section class="border-bottom">
          <a class="anchor-offset"
           id="other-endpoints-section"
           aria-label="Other endpoints"></a>
          <h2 class="section-title">
            Other endpoints
          </h2>
          <p class="body-text">
            The other API endpoints are:
          </p>
          <p class="body-text">
            <ul class="list-group">
              <li class="list-item">
                <a href="/api/v1/citations/">{{ request.build_absolute_uri }}api/v1/citations</a>
              </li>
              <li class="list-item">
                <a href="/api/v1/jurisdictions/">{{ request.build_absolute_uri }}api/v1/jurisdictions</a>
              </li>
              <li class="list-item">
                <a href="/api/v1/courts/">{{ request.build_absolute_uri }}api/v1/courts</a>
              </li>
              <li class="list-item">
                <a href="/api/v1/volumes/">{{ request.build_absolute_uri }}api/v1/volumes</a>
              </li>
              <li class="list-item">
                <a href="/api/v1/reporters/">{{ request.build_absolute_uri }}api/v1/reporters</a>
              </li>
            </ul>
          </p>
          <p class="body-text">
            These are listed at <a href="/api/v1/">the API's root view</a>.
          </p>
      </section>

      <section class="border-bottom">
        <a class="anchor-offset"
           id="restrictions-and-whitelists-section"
           aria-label="Restrictions & Whitelists"></a>


        <h2 class="section-title">
          Restrictions & Whitelists
        </h2>

        <p class="body-text">
            A temporary restriction in our agreement with Ravel
            Law, Harvard's partner in digitizing all U.S. caselaw,
            stipulates that we may not furnish non-academic-research
            users with more than 500 full-text cases per day.
            Jurisdictions that currently publish caselaw in
            machine-readable form are exempt from this restriction
            and require no API key for access. We call these
            whitelisted jurisdictions. Right now, they are:
        </p>
        <ul>
          {% for jur in whitelisted_jurisdictions %}
          <li>{{ jur.name_long }}</li>
          {% endfor %}
        </ul>
        <p class="body-text">
          You can also see the up-to-date list of whitelisted
          jurisdictions
          <a href="/api/v1/jurisdictions/?whitelisted=true"
            >via the API</a>.
          <br />
          Help us expand this list by asking your courts to publish
            their digital caselaw!
        </p>
        <p class="body-text">
          Metadata is not subject to this restriction&mdash; anonymous
          users may access all metadata without an API
          key.
        </p>
        <p class="body-text">
        If you have questions about the specifics, or think you might
            qualify as an academic user, don't hesitate to
            <a href="mailto:info@capapi.org">email</a> us and ask!
        </p>
      </section>

      <section class="border-bottom">
        <a class="anchor-offset"
           id="bulk-data-section"
           aria-label="Bulk Data"></a>


        <h2 class="section-title">
          Bulk Data
        </h2>

        <p class="body-text">
          We offer bulk data ZIP files by jurisdiction, including XML files for all cases. Download for our whitelisted
          jurisdictions are available without a login. Downloads for remaining jurisdictions are available for academic
          research on request. <a href="{% url "bulk-data" %}">Download bulk data here.</a>
        </p>
      </section>

      <section>
        <a class="anchor-offset"
           id="terms-of-use-section"
           aria-label="Terms of Use"></a>


        <h2 class="section-title">Terms of Use</h2>
        <p class="body-text">
          Your use of the CAP API is subject to your acceptance of our
          <a href="{% url 'terms' %}">Terms of Use</a>.
        </p>
      </section>

    </div>
  </div>

{% endblock %}
