{% extends "base.html" %}

{% block title %} | Terms of Service{% endblock %}

{% block meta_description %}
The Caselaw Access Project API Terms of Use
{% endblock %}

{% block content %}
<div class="header-margin">
  <div class="page-header cont-fixed">
    <div class="row">
      <h1 class="centered-text bold-text"><span class="blue-text">CAP</span> API</h1>
      <h3 class="centered-text semibold-text">Terms of Use</h3>
      <h5 class="centered-text light-text">Effective: June 1, 2017</h5>
    </div>
  </div>
  <div class="separator" style="margin:0px"></div>
  <div class="row cont-reading" id="api-overview">
    <div class="col-sm-4 container api-doc-toc">
      <ul>
        <li class="reading-toc-section"><a href="#intro-section"></a>Overview</li>
        <li class="reading-toc-section"><a href="#overview-section">About the API</a></li>
        <li class="reading-toc-section"><a href="#access-section">Access to API</a></li>
        <li class="reading-toc-section"><a href="#token-section">Authentication Tokens</a></li>
      	<li class="reading-toc-section"><a href="#disclaimer-section">Disclaimer of Any Warranty</a></li>
      	<li class="reading-toc-section"><a href="#release-section">Release, Waiver, and Limitation of Liability</a></li>
        <li class="reading-toc-section"><a href="#indemnity-section">Hold Harmless and Indemnify</a></li>
        <li class="reading-toc-section"><a href="#integration-section">Severability and Integration</a></li>
        <li class="reading-toc-section"><a href="#modifications-section">Modifications</a></li>
      </ul>
    </div>

    <div class="col-sm-8 docs reading-body">
      <section clas="intro-section">
      	<p class="body-text">The Caselaw Access Project is operated by the President and Fellows of Harvard College (“Harvard”) in support of its mission to educate and disseminate knowledge and information. As used in these Terms of Use, “CAP” refers to the Caselaw Access Project and to Harvard more generally.</p>
        <p class="body-text">These Terms of Use constitute an agreement between you (either an individual or an entity, referred to herein as “you”) and CAP and governs your access to and use of the API.</p>
      </section>
      <div class="separator"></div>
      <section class="overview-section">
      	<h2 id="overview-section" class="section-title">About the API</h2>
        <p class="body-text">CAP provides an application programmer interface (API) as a tool for accessing data and digital files made available through the digitization of portions of the collection of the Harvard Law School Library.</p>
        <p class="body-text">Use of the API is contingent on agreeing to the API terms of use.</p>
      </section>
      <div class="separator"></div>
      <section class="access-section">
      	<h2 id="access-section" class="section-title">Access to API</h2>
      	<p class="body-text">CAP reserves the right to limit access or to eliminate access to the API to anyone for any reason, including but not li><p class="body-text"><strong>You shall:</strong></p>
      	<p class="body-text">a.	Comply with the API Terms of Use.</p>
      	<p class="body-text">b.	Comply with any and all legal requirements and restrictions pertaining to the usage of content available through CAP.</b>
      	<p class="body-text"><strong>You shall not:</strong></p>
		<p class="body-text">a.	Misrepresent or conceal your identity or your application’s identity when using or requesting authorization to use the API.</p>
		<p class="body-text">b.	Use the API for any illegal purpose, including, but not limited to, piracy and other violations of intellectual property rights.</p>
		<p class="body-text">c.	Use an unreasonable amount of bandwidth.</p>
		<p class="body-text">d.	Make an unreasonable amount of calls to the API.</p>
		<p class="body-text">e.	Seek to circumvent limits placed on your token pursuant to these terms by creating additional tokens.</p>
		<p class="body-text">f.	Use the API in a manner that adversely impacts the stability of CAP servers or other applications using the API.</p>
		<p class="body-text">g.	Use the API is connection with spyware, malware, or other malicious programs or code.</p>
		<p class="body-text">h.	Attempt to reverse engineer, decompile, disassemble or translate the API, or otherwise attempt to derive source code, trade secrets or know-how in or underlying the API or any portion thereof.</p>
		<p class="body-text">i.	Use the API to replicate or attempt to replace the essential user experience and of CAP.</p>
		<p class="body-text">j.	Sell, lease or sublicense the API, the API key or access thereto.</p>
		<p class="body-text">k.	Falsely indicate the endorsement by CAP or Harvard of your project by any means.</p>
	</section>
	<div class="separator"></div>
	<section class="compliance-section">
		<h2 id="compliance-section" class="section-title">Compliance with Laws</h2>
		<p class="body-text">You are responsible for complying with all applicable laws, rules, regulations and third-party rights in conjunction with your use of the API.</p>
	</section>
	<div class="separator"></div>
	<section class="token-section">
		<h2 id="token-section" class="section-title">Authentication Tokens</h2>
		<p class="body-text">Certain uses of the API may require you to apply for an Authentication Token. An Authentication Token is a type of credential similar to a username/password that indicates a user is entitled to a certain set of permissions.</p>
		<p class="body-text">By applying for an Authentication Token you warrant the information you supply is true and correct. Your use of an Authentication Token is subject to the terms of this agreement.</p>
	</section>
	<div class="separator"></div>
	<section class="disclaimer-section">
		<h2 id="disclaimer-section" class="section-title">Disclaimer of Any Warranty</h2>
		<p class="body-text">By using the API, you agree that the API is provided “as is” and your use of the API is solely at your own discretion and risk. You agree that you will be solely responsible for any damage that results from your use of the API. You agree that CAP is not responsible for providing any support for your use of the API.</p>
		<p class="body-text">CAP may discontinue the availability of some or all of the API, its features, or its services at any time for any reason.</p>
		<p class="body-text">Some of the CAP API may be experimental and not tested in any manner. CAP makes no representations or warranties, express or implied, regarding the operation of the CAP API or the content available through the CAP API.</p>
		<p class="body-text">To the extent permitted by law, CAP disclaims any and all warranties, including but not limited to the warranties of merchantability, fitness for a particular purpose, warranties regarding security, accuracy, timeliness, and performance of the API and the content accessed through the CAP website.</p>
	</section>
	<div class="separator"></div>
	<section class="release-section">
		<h2 id="release-section" class="section-title">Release, Waiver, and Limitation of Liability</h2>
		<p class="body-text">To the maximum extent permitted by applicable law, you release and waive all claims against CAP, its subsidiaries, affiliates and agents from any and all liability for claims, damages, costs and expenses arising from or related to your use of the CAP API.</p>
		<p class="body-text">CAP shall not, under any circumstances, be liable to you for any indirect, incidental, consequential, special, or exemplary damages arising out of or in connection with the use of the API, whether based on breach of contract, breach of warranty, tort, or any other pecuniary loss, whether or not CAP has been advised of the possibility of such damages.</p>
		<p class="body-text">Under no circumstances shall CAP be liable to you for any amount.</p>
	</section>
	<section class="indemnity-section">
		<h2 id="indemnity-section" class="section-title">Hold Harmless and Indemnify</h2>
		<p class="body-text">You agree that CAP will have no liability whatsoever with regard to any third-party claims related to your use of the API. To the maximum extent permitted by applicable law, you agree to hold harmless and indemnify CAP, its subsidiaries, affiliates and agents from any third-party claims, damages, liabilities, costs and fees (including attorney fees) arising from or related to your use of the API.</p>
	</section>
	<div class="separator"></div>
	<section class="integration-section">
		<h2 id="integration-section" class="section-title">Severability and Integration</h2>
		<p class="body-text">If any part of the API Terms of Use is found unenforceable, the rest of the API Terms of Use shall remain enforceable to the maximum extend of the law.</p>
		<p class="body-text">The API Terms of Use constitute the entire agreement between CAP and you with respect to the use of the API. The section headings and subheadings contained in the API Terms of Use are included for convenience only, and shall not limit or otherwise affect the API Terms of Use.</p>
	</section>
	<div class="separator"></div>
	<section class="modifications-section">
		<h2 id="modifications-section" class="section-title">Modifications</h2>
		<p class="body-text">CAP reserves the right to change these API Terms of Use at any time, at its sole discretion.</p>
	</section>
       

{% endblock %}

