{% extends "layouts/full.html" %}
{% load static %}
{% load pipeline %}
{% load api_url %}
{% load snippet %}
{% load render_bundle from webpack_loader %}
{% block row_style %}bg-tan{% endblock %}

{% block extra_head %}
  {% stylesheet 'ngrams' %}
{% endblock %}

{% block top_section_style %}bg-tan simple-section{% endblock %}
{% block title %}Ngrams{% endblock %}
{% block title_section %}
{% endblock %}
{% block meta_description %}
  Ngrams in Caselaw Access Project
{% endblock %}
{% block sidebar_menu %}{% endblock %}

{% block main_content %}
<div id="app" class="content"></div>
<script>
  {% autoescape off %}
  const snippets = {
    jurisdictions: {% snippet 'search_jurisdiction_list' %}
  };
  {% endautoescape %}
</script>
<noscript>
  This ngrams interface requires javascript, even for basic functionality. If you can not or will not use
  javascript, your best bet is to directly use <a href="{% api_url "api-root" %}">the API this search interface
  queries.</a> There is no data available in this search interface that is not available through the API.
</noscript>
{% render_bundle 'ngrams' %}
{% endblock %}
