<div class="col-3 navbar navbar-nav api-doc-toc">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="#overview-section"
        sr-only="Go to the Overview section">
        Overview
      </a>
    </li>
    <li class="list-group-item">
      <a href="#registration-section"
        sr-only="Go to the Registration section">
        Registration
      </a>
    </li>
    <li class="list-group-item">
      <a href="#getting-started-section"
        sr-only="Go to the Getting Started section">
        Getting Started
      </a>
    </li>
    <li class="list-group-item">
      <a href="#whitelisted-jurisdictions-section"
        sr-only="Go to the Whitelisted Jurisdictions section">
        Whitelisted Jurisdictions
      </a>
    </li>

    <li class="list-group-item">
      <a href="#reading-casetext-section"
        sr-only="Go to the Reading Casetext section">
        Reading Casetext
      </a>
    </li>
    <li class="list-group-item">
      <a href="#terms-of-use-section"
        sr-only="Go to the Terms of Use section">
        Terms of Use
      </a>
    </li>
  </ul>
</div>
