<div class="col-3 navbar navbar-nav nav-toc sidebar">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="#overview-section">
        Overview
      </a>
    </li>
    <li class="list-group-item">
      <a href="#registration-section">
        Registration
      </a>
    </li>
    <li class="list-group-item">
      <a href="#getting-started-section">
        Getting Started
      </a>
    </li>
    <li class="list-group-item">
      <a href="#example-endpoints-section">
        Main endpoint examples
      </a>
    </li>
    <li class="list-group-item">
      <a href="#other-endpoints-section">
        Other endpoints
      </a>
    </li>
    <li class="list-group-item">
      <a href="#whitelisted-jurisdictions-section">
        Whitelisted Jurisdictions
      </a>
    </li>
    <li class="list-group-item">
      <a href="#terms-of-use-section">
        Terms of Use
      </a>
    </li>
    <br/>
    <br/>
    <li class="credits">
      This is an experimental workspace.
    </li>
    <li class="credits">
      For more information on this project click <a href="http://lil.law.harvard.edu/projects/caselaw-access-project/" target="_blank"> here</a>.
      If you have ideas, please send us feedback <a href="mailto:lil@law.harvard.edu?Subject=CAP%20API">here </a> or
      file an issue on github <a href="https://github.com/harvard-lil/cap-api" target="_blank"> here</a>.

    </li>
  </ul>

</div>
