<div class="col-md-2 col-xs-3 navbar navbar-nav nav-toc sidebar">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="#overview-section">
        Overview
      </a>
    </li>
    <li class="list-group-item">
      <a href="#registration-section">
        Registration
      </a>
    </li>
    <li class="list-group-item">
      <a href="#getting-started-section">
        Getting Started
      </a>
    </li>
    <li class="list-group-item">
      <a href="#example-endpoints-section">
        Main endpoint examples
      </a>
    </li>
    <li class="list-group-item">
      <a href="#other-endpoints-section">
        Other endpoints
      </a>
    </li>
    <li class="list-group-item">
       <a href="#restrictions-and-whitelists-section">
       Restrictions & Whitelists
      </a>
    </li>
    <li class="list-group-item">
      <a href="#bulk-data-section">
        Bulk Data
      </a>
    </li>
    <li class="list-group-item">
      <a href="#terms-of-use-section">
        Terms of Use
      </a>
    </li>

    <br/>
    <br/>
    {% include "includes/toc-footer.html" %}
  </ul>

</div>
