{% load static %}
<footer class="footer">
  <div class="footer-content container-fluid">
    <img class="cap-logo img-responsive"
         src="{% static "img/logo-small-white.svg" %}"
         alt="Library Innovation Lab"/>

    <h3 class="project-title text-center">CASELAW ACCESS PROJECT</h3>
    <p class="credits text-center">
      {% include "includes/project_message.html" %}
    </p>
    <button id="return" onclick="returnToTop()" class="return-to-top white-button btn">RETURN TO TOP</button>
  </div>
</footer>

<script>
  function returnToTop() {
    window.scrollTo(0, 0);
  }
</script>
