{% load static %}
<footer class="footer">
  <div class="footer-content container-fluid">
    <img class="cap-logo img-responsive"
         src="{% static "img/logo-small-white.svg" %}"
         alt="Library Innovation Lab"/>

    <h3 class="project-title text-center">CASELAW ACCESS PROJECT</h3>
    <p class="credits text-center">
      This is an experimental workspace.
      <br/>
      For more information on this project click <a href="http://lil.law.harvard.edu/projects/caselaw-access-project/"> here</a>.
      If you have ideas, please send us feedback <a href="mailto:lil@law.harvard.edu?Subject=CAP%20API">here </a> or
      file an <a href="https://github.com/harvard-lil/capstone/issues">issue on github</a>.
    </p>
    <button id="return" onclick="returnToTop()" class="return-to-top white-button btn">RETURN TO TOP</button>
  </div>
</footer>

<script>
  function returnToTop() {
    window.scrollTo(0, 0);
  }
</script>
