{% load static %}
<header class="header navbar flex-column flex-md-row">
  <div class="col-12">
    <a href="/" title="CAP mainpage">
      <img class="header-logo"
           src="{% static "img/logo-small-blue.png" %}"
           alt="CAP Logo"/>
      <span class="header-text"> CASELAW ACCESS PROJECT</span>
    </a>
    <a href="https://lil.law.harvard.edu">
      <img class="lil-logo"
           src="{% static "img/LIL-logo.png" %}"
           alt="Library Innovation Lab" />
    </a>
  </div>
</header>
