<div class="col-3 navbar navbar-nav nav-toc sidebar">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="#intro-section">Overview</a>
    </li>
    <li class="list-group-item">
      <a href="#overview-section">About the API</a>
    </li>
    <li class="list-group-item">
      <a href="#access-section">Access to API</a>
    </li>
    <li class="list-group-item">
      <a href="#token-section">Authentication Tokens</a>
    </li>
    <li class="list-group-item">
      <a href="#disclaimer-section">Disclaimer of Any Warranty</a>
    </li>
    <li class="list-group-item">
      <a href="#release-section">Release, Waiver, and Limitation of Liability</a>
    </li>
    <li class="list-group-item">
      <a href="#indemnity-section">Hold Harmless and Indemnify</a>
    </li>
    <li class="list-group-item">
      <a href="#integration-section">Severability and Integration</a>
    </li>
    <li class="list-group-item">
      <a href="#modifications-section">Modifications</a>
    </li>
    {% include "includes/toc-footer.html" %}
  </ul>
</div>
