{% load static %}
{% load compress %}

<html>
    <head>
        <title>Caselaw Access Project</title>
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/_normalize.css" %}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Rajdhani:400,300,500,700' rel='stylesheet' type='text/css'>
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "css/base.sass" %}" />
            <link rel="stylesheet" type="text/x-scss" href="{% static "css/api-docs.sass" %}" />
        {% endcompress %}
    </head>
    <body>
        <header class="header">
          <div class="header-content">
            <a href="/">
              <img class="header-logo" src="{% static "img/logo-small-blue.png" %}" alt="CAP Logo"></img>
            </a>
            <span class="header-text"> CASELAW ACCESS PROJECT</span>
            <a href="http://librarylab.law.harvard.edu" target="_blank">
              <img class="lil-logo" src="{% static "img/LIL-logo.png" %}" alt="Library Innovation Lab"></img>
            </a>
          </div>
          <div class="border-gray"></div>
        </header>


        <div class="container">
          <div class="row">
            {% block content %}{% endblock content %}
          </div>
        </div>
    </body>
    <footer class="footer">
      <div class="footer-content container-fluid">
        <img class="cap-logo img-responsive" src="{% static "img/logo-small-white.svg" %}" alt="Library Innovation Lab"></img>

        <h3 class="project-title text-center">CASELAW ACCESS PROJECT</h3>
        <!-- <h4 class="subheader">
          CAP data from the amazing team at
          <span class="inline-link">
            <a href="http://librarylab.law.harvard.edu/projects/caselaw-access-project" target="_blank">
              Library Innovation Lab
            </a>
          </span> at Harvard University.
        </h4> -->

        <p class="credits text-center">
          This is an experimental workspace.
          <!-- The data is rough, the tools just prototypes. -->
          If you have ideas, please send us feedback <a href="http://librarylab.law.harvard.edu/projects/caselaw-access-project" target="_blank">here </a> or
          file an issue on github <a href="https://github.com/harvard-lil/cap-api" target="_blank"> here</a>.
        </p>
        <button class="return-to-top white-button btn">RETURN TO TOP</button>
      </div>
    </footer>
</html>
