{% extends "base.html" %}

{% block title %} | Developer Docs{% endblock %}

{% block meta_description %}
The Caselaw Access Project API guide
{% endblock %}
{% block content %}
  {% load rest_framework %}
  <div class="container login-form container-full inverse header-margin">
    <div class="row row-centered">
      <div class="col-sm-4 col-centered">
        <h3 >Log in</h3>
        <form class="form-horizontal header-margin" action="/accounts/view_details/" method="POST">
            {% csrf_token %}
            {% render_form serializer %}
            <button type="submit" class="btn btn-default white-button">Sign in</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
