{% extends "base.html" %}

{% block title %} | Success{% endblock %}

{% block meta_description %}
The Caselaw Access Project API guide
{% endblock %}
{% block content %}
<div class="container login-form container-full inverse header-margin">
  <div class="row row-centered">
    {% if errors %}
    <div class="alert alert-warning">
      <div class="col-sm-4 col-centered">
        <strong>Error!</strong> See below for details
      </div>
    </div>
    {% endif %}
    <div class="col-sm-4 col-centered">

      <h3>{% if status %}{{status}}{% endif %}</h3>
      {% if message %}{{ message }}{% endif %}
    </div>
  </div>
</div>
{% endblock content %}
