{% extends "base.html" %}

{% block title %} | Verified! {% endblock %}

{% block meta_description %}
You are a verified user of the Caselaw Access Project API guide
{% endblock %}

{% block content %}
<div class="container login-form container-full inverse header-margin">
  <div class="row row-centered">
    <div class="col-sm-4 col-centered">
      <h3>Thank you for verifying your email address. </h3>
      <p>We will be in touch with you shortly.</p>
    </div>
  </div>
</div>
{% endblock content %}
