staticfiles/
.sass-cache/
.idea/
settings.py
docker-compose.override.yml
__pycache__
.vagrant/
.virtualenvs/

db.sqlite3
celerybeat-schedule.db
celerybeat-schedule

# pytest
.cache
.pytest_cache
.coverage

capstone/bulk-data/
capstone/test_data/zips/
capstone/test_data/pdfs/
capstone/test_data/bulk-data/
capstone/test_data/ngrams/
capstone/test_data/case-images/
capstone/test_data/GeoLite2-City.mmdb
capstone/test_data/downloads/
!capstone/test_data/downloads/fake_volume.pdf
!capstone/test_data/downloads/README.md
*.ipynb*
*.lprof

node_modules/
