staticfiles/
.sass-cache/
.idea/
settings.py
__pycache__
.vagrant/
.virtualenvs/

db.sqlite3
celerybeat-schedule.db

# pytest
.cache
.pytest_cache
tracking_tool.sqlite
.coverage

capstone/bulk-data/
capstone/test_data/zips/
capstone/test_data/pdfs/
capstone/test_data/bulk-data/

*.ipynb*