{% extends "base.html" %}

{% block title %} | Success{% endblock %}

{% block meta_description %}
You have successfully registered to use the Caselaw Access Project API
{% endblock %}

{% block content %}
<div class="container login-form container-full inverse header-margin">
  <div class="row row-centered">
    <div class="col-sm-4 col-centered">

      <h3>{% if status %}{{status}}{% endif %}</h3>
      {% if message %}{{ message }}{% endif %}
    </div>
  </div>
</div>
{% endblock content %}
