{% extends "registration/base.html" %}

{% block title %}Research Scholar Application{% endblock %}
{% block meta_description %}Request unmetered access to the cases made available by the Caselaw Access Project{% endblock %}

{% block main_content %}
  <p>
    Thank you for applying for unmetered access as a research scholar! We will process your application as soon as
    possible and be back in touch. In the meantime, we invite you to explore our open API for metadata and our open
    bulk data, which currently includes all cases from Illinois, Arkansas, New Mexico, and North Carolina.
  </p>
  <p><a href="{% url "user-details" %}">Back to your account page.</a></p>
{% endblock %}
