{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block title %}Harvard Community Member Application{% endblock %}
{% block meta_description %}Request unmetered access to the cases made available by the Caselaw Access Project{% endblock %}

{% block main_content %}
  <p>
    Our contract with LexisNexis allows us to offer unmetered access to members of the Harvard community.
  </p>
  <p>
    To qualify, you must:
  </p>
  <ul class="bullets">
    <li>be a member of the Harvard community;</li>
    <li>have a harvard.edu email address;</li>
    <li>access the site from a Harvard IP address.</li>
  </ul>
  <p class="alert alert-danger">
    <strong>Important:</strong> unmetered access requires you to enter a contract between you, the Harvard
    Law School Library, and LexisNexis. <strong>The contract permits LexisNexis to sue you personally
    if you use caselaw for commercial or non-research purposes or if you share it with others.</strong>
    Please read the contract carefully and consider whether full unmetered
    access is necessary for your project. CAP provides all users with access to 500 cases per day, unlimited metadata,
    and bulk data from whitelisted jurisdictions without entering this contract.
  </p>
  <p>
    <a href="{% url "harvard-research-request" %}">OK, I get it, take me to the contract.</a>
  </p>
{% endblock %}
