{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block title %}Request Unrestricted Access{% endblock %}
{% block meta_description %}Request unrestricted access to the cases made available by the Caselaw Access
  Project{% endblock %}

{% block main_content %}
  <p>
    If you are a research scholar and your work requires access to the full text of more than 500 cases per day,
    you may apply for unrestricted access to the full text of all cases made available by the Caselaw Access Project.
  </p>
  <p>
    To be eligible, you must demonstrate that you are a research scholar and you must enter into a special bulk access
    agreement with LexisNexis, which prohibits you from (1) using the cases for non-research or commercial purposes
    and
    (2) sharing bulk caselaw with others.
  </p>
  <p>
    We offer several ways to obtain unrestricted access:
  </p>

  <h2 class="simple-subtitle">Harvard community members</h2>
  <p>
    If you are a member of the Harvard community with a Harvard email address, you can
    <a href="{% url "harvard-research-request-intro" %}">sign the Harvard bulk access agreement</a>
    and you will immediately have full access from Harvard IP addresses.
  </p>

  <h2 class="simple-subtitle">Other research scholars</h2>
  <p>
    <a href="{% url "research-request" %}">Sign this application to request access</a> and your application
    will be reviewed shortly.
  </p>
  <p>If you would like to explore commercial use of unrestricted data or have other questions, please <a href="{% url "contact" %}">contact us</a>.</p>
{% endblock %}
