{% extends "registration/base.html" %}

{% block title %}Access for Harvard Community Members{% endblock %}
{% block meta_description %}Request unmetered access to the cases made available by the Caselaw Access Project{% endblock %}

{% block main_content %}
  <p>
    Our contract with LexisNexis allows us to offer unmetered access to members of the Harvard community. For unmetered
    access, you must have a harvard.edu email address and access the site from a Harvard IP address.
  </p>
  <p>
    You are not currently using a harvard.edu email address. If you have a harvard.edu email address, please create a
    new account using that address.
  </p>
{% endblock %}