{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block title %}Request Special Access as a Research Scholar{% endblock %}
{% block meta_description %}Register to the Caselaw Access Project{% endblock %}

{% block main_content %}
  <p>Thank you for applying for special access as a research scholar! We will process your application as soon as possible and be back in touch. In the meantime, we invite you to explore our open API for metadata and our open bulk data, which currently includes all cases from Illinois and Arkansas.</p>
  <p><a href="{% url "user-details" %}">Back to your account page.</a></p>
{% endblock %}