{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block title %}Research Scholar Application{% endblock %}
{% block meta_description %}Request unmetered access to the cases made available by the Caselaw Access Project{% endblock %}

{% block main_content %}
  <p>
    Please explain your project as an independent research scholar.
  </p>
  <form class="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
      Request Unmetered Access
    </button>
  </form>
{% endblock %}
