.dropdown {
  position: relative;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 15px;
  clear: both;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown.show .dropdown-menu, .dropdown-menu.show {
  display: block;
  @include media-breakpoint-down(md) {
    position: relative;
  }
}