// buttons
.btn {
  font-family: $font-sans-serif;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 25px;
  border-radius: 0;
  letter-spacing: 1px;
  text-decoration: none !important;
  padding: 5px 10px;
  text-transform: uppercase;
  &:hover, &:active, &:focus {
    transition: none;
    -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
  }
  &:disabled {
    background-color: $color-gray;
    color: $color-medium-gray;
    border: 2px solid $color-gray;
    cursor: default;
  }
}

.btn-default {
  @extend .btn;
  background-color: $color-violet;
  color: $color-white;
  font-weight: $font-weight-semibold;
  border: 2px solid $color-violet !important;
  &:hover, &:active, &:focus {
    background-color: $color-white;
    color: $color-violet;
  }
}

.btn-group {
  margin-bottom: 3rem;
}

.btn-inverse {
  @extend .btn;
  border: 2px solid $color-black;
  color: $color-black;
  background: $color-white;
  &:hover, &:focus, &:active {
    background: $color-yellow;
    border: 2px solid;
    color: $color-black;
  }
}

.inverse button:hover,
.inverse button:active,
.inverse button:focus {
  background-color: $color-light-blue;
  color: $color-black;
  border: $color-black;
}

.inverse a:focus,
.inverse a:active,
.inverse a:hover {
  color: $color-light-blue;
}

.inverse .alert {
  background-color: transparent;
  color: $color-orange;
  border-bottom: 1px solid $color-orange;
  border-radius: 0;
}

.highlighted {
  color: $color-magenta;
  font-weight: $font-weight-semibold;
}

.decorative-arrow {
  margin-left: -3rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-sans-title;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

ol.spacious-list,
ul.spacious-list {
  li {
    margin-bottom: 1.2rem;
  }
}

ol.alpha > li {
  list-style-type: lower-alpha;
  padding-left: 1rem;
}

ol.num > li {
  list-style-type: decimal;
}

ul.bullets, ul.bullets ul {
  padding-left: 1.5em !important;
  li {
    list-style-type: circle;
  }
}

section {
  width: 100%;
}

table {
  margin-bottom: 4rem;
}

table > tbody > tr {
  line-height: 2.5rem;
}

table > tbody > tr > th {
  font-family: $font-serif;
  font-weight: $font-weight-normal;
  min-width: 400px;
}

code {
  color: $color-violet;
  padding: 0 5px;
  font-size: $font-size-base;
  font-family: Monospace;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  border: 0;
}

a {
  text-decoration: none;
  color: $color-magenta;
  border-bottom: 2px solid $color-magenta;
  font-weight: $font-weight-regular;
  &:hover, &:focus, &:active {
    text-decoration: none;
    border-bottom: 2px solid $color-violet;
    color: $color-violet;
    -webkit-transition: border, color 300ms ease-out;
    -moz-transition: border, color 300ms ease-out;
    -o-transition: border, color 300ms ease-out;
  }
}
