@import '_variables.scss';

// buttons
.btn {
  @extend .font-bold;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  padding: 10px;
  text-decoration: none !important;
}

.btn-default {
  @extend .btn;
  background: $color-violet;
  color: $color-white !important;

  &:hover, &:focus, &:active {
    background: $color-red;
  }

}

.btn-inverse {
  @extend .btn;
  border: 2px solid $color-black;
  color: $color-black;
  background: $color-white;
  &:hover, &:focus, &:active {
    background: $color-yellow;
    border: 2px solid;
    color: $color-black;
  }
}

#triple-arrows {
  left: -25px;
  position: absolute;
  top: 17px;
  width: 25px;
}

.pullquote {
  text-indent: -0.4em;
  font-size: 1.5em;
  color: $color-violet-light;
}

.decorative-arrow {
  margin-left: -3rem;
}

