@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';

@import 'font-face';

// Global font styles

body {
  letter-spacing: 0.01em;
  font-weight: normal;
  font-family: $font-sans-serif;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 29px;
  }
  @include media-breakpoint-between(sm, md) {
    font-size: 18px;
    line-height: 24px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 16px;
    line-height: 20px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-sans-title;
}

h1, .h1 {
  font-size: 3.6em;
  font-weight: $font-weight-semibold;
}

h2, .h2 {
  font-size: 3em;
  font-weight: normal;
}

h3, .h3 {
  font-size: 2em;
  font-weight: $font-weight-semibold;
}


strong, b {
  font-weight: $font-weight-semibold;
}

code {
  padding: 0 5px;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
}
