@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-black-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-blackit-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-blackit-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-bold-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-boldit-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-boldit-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-extralight-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-extralightit-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-extralightit-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-it-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-it-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-light-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-lightit-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-lightit-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-regular-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-semibold-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'source-serif';
  src: url('../../fonts/source-serif-pro/sourceserifpro-semiboldit-webfont.woff2') format('woff2'),
  url('../../fonts/source-serif-pro/sourceserifpro-semiboldit-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'source_sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-blackit-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-blackit-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;

}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-boldit-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-boldit-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-extralight-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-extralightit-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-extralightit-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;

}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-it-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-it-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;

}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-lightit-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-lightit-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: url('../../fonts/source-sans-pro/sourcesanspro-semiboldit-webfont.woff2') format('woff2'),
  url('../../fonts/source-sans-pro/sourcesanspro-semiboldit-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-it-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-it-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-light-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-lightit-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-lightit-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-medium-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-mediumit-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-mediumit-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-regular-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-semibold-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'source-code';
  src: url('../../fonts/source-code-pro/sourcecodepro-semiboldit-webfont.woff2') format('woff2'),
  url('../../fonts/source-code-pro/sourcecodepro-semiboldit-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}


// Libre
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../../fonts/LibreBaskerville-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


// Titillium
@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


// Open Sans
@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-LightItalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

