@import 'variables.scss';

.branding {
  padding: 20px;
}

.cap-logo {
  max-width: 140px;
}

#branding-small-screen {
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }
  > a { border-bottom: 0;  }
}

#branding-big-screen {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
  > a { border-bottom: 0;  }
}
nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: $color-black;
  color: $color-white;
  font-weight: $font-weight-semibold;
}

nav > .nav-content {
   @include media-breakpoint-up(lg) {
    -webkit-box-shadow: 0 1px 5px $color-violet-gray-dark;
    -moz-box-shadow: 0 1px 5px $color-violet-gray-dark;
    box-shadow: 0 1px 5px $color-violet-gray-dark;
  }
  @include media-breakpoint-down(md) {
    @include float-right;
    .dropdown-menu {
      background-color: $color-black;
      a {
        color: $color-white;
        border-bottom: 1px solid $color-yellow-light;
        padding-bottom: 15px;
      }
      a:hover, a:focus {
        background-color: $color-violet-gray;
        color: $color-yellow-light;
      }
    }
  }

}

#nav-ul > li.nav-item {
  float: left;
  @include make-col(4);
  @include media-breakpoint-down(md) {
    float: none;
  }
}

#nav-ul > li > a.nav-link {
  border-bottom: 0;
  display: block;
  &:hover, &:active, &:focus {
    color: $color-white;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 15px;
  clear: both;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown.show .dropdown-menu {
  display: block;
  @include media-breakpoint-down(md) {
    position: relative;
  }
}

.nav-content {
  //margin-top: 50px;
}
#burger-icon ~ .nav-content {
  @include media-breakpoint-down(md) {
    text-align: right;
    position: absolute;
    right: -200px;
    background-color: $color-black;
    min-height: 100%;
    padding: 20px;
    transform: translateX(-200);
    transition: 0.5s;
  }
}

#burger-icon.transform ~ .nav-content {
  @include media-breakpoint-down(md) {
    //margin-left: 0;
    transition: 0.5s;
    transform: translateX(200);
    right: 0;
  }
}
/* hamburger menu icon */
#burger-icon {
  z-index: 9999;
  display: inline-block;
  cursor: pointer;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

#burger-icon > .burger-item {
  width: 35px;
  height: 5px;
  background-color: $color-white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

#burger-icon.transform {
  > .burger-item {
    background-color: $color-red;
  }
  :nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  :nth-child(2) {
    opacity: 0;
  }
  :nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}


