@import 'variables';

/* nav branding */
.branding { padding: 20px; }

.branding > a { border-bottom: 0 !important; }

.branding {
   .nav-branding {
     background: url("../../img/cap-logo-black.png") no-repeat;
     background-size: contain;
     display: block;
     width: 140px;
     height: 50px;
     background-position-x: 0;
   }
  &.large-screen {
    .nav-branding {
      background: url("../../img/cap-logo-white.png") no-repeat;
      background-size: contain;
    }
  }
}

.branding.large-screen {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.branding.small-screen { display: none; }

/* on index, display white background logo on small screens
  display black background logo in all other instances */
.page-index {
  .branding-standalone {
    @include media-breakpoint-down(md) {
      min-height: 90px;
    }
  }
  .branding.small-screen {
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  .branding.large-screen {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

/* rest of nav */
nav {
  display: inline-block;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $color-black;
  color: $color-white;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.1em;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    -webkit-box-shadow: 0 1px 5px $color-violet-gray-dark;
    -moz-box-shadow: 0 1px 5px $color-violet-gray-dark;
    box-shadow: 0 1px 5px $color-violet-gray-dark;
  }
  a {
    border-bottom: 0;
  }
}

/* show light border in homepage */
.page-index {
  nav {
    @include media-breakpoint-up(lg) {
      -webkit-box-shadow: 0 0.2px 5px rgba(255,255,255,0.1);
      -moz-box-shadow: 0 0.2px 5px rgba(255,255,255,0.1);
      box-shadow: 0 0.2px 5px rgba(255,255,255,0.1);
    }

  }
}

.nav-content {
  float: right;
  display: inline-table;
  z-index: 1;
  > .nav {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    //padding: $navbar-padding-y $navbar-padding-x;
    margin-left: auto;
  }

  @include media-breakpoint-down(md) {
    position: absolute;
    height: 100%;
    width: 50%;
    //-webkit-box-shadow: 0px 0 5px $color-yellow;
    //-moz-box-shadow: 0px 0 5px $color-yellow;
    //box-shadow: 0px 0 5px $color-yellow;
    background-color: $color-black;
  }

  .dropdown-menu {
    > a {
      font-weight: $font-weight-normal;
      color: $color-white;
      border-bottom: 0.5px solid $color-yellow;
      padding-bottom: 15px;
    }
    > a:hover, a:focus, a:active {
      background-color: $color-yellow;
      color: $color-black;
    }
    > a:last-child { border-bottom: 0 }
    background-color: $color-black;
    @include media-breakpoint-up(lg) {
      margin-top: 26px;
    }
    @include media-breakpoint-down(md) {
      > a:before {
        color: $color-violet;
        content: "\0226B  ";
      }
    }
  }
}

/* show symbols on expand and collapse of dropdowns */
li.nav-item.dropdown {
  > a.nav-link:after {
    content: '\25BE';
  }
  &.show {
    > a:after {
      content: "\02212";
    }
  }
}


.nav-item {
  height: 100%;
  @include media-breakpoint-up(lg) {
    float: left;
    padding: $navbar-padding-x $navbar-padding-y;
  }
  @include make-col(4);
  @include media-breakpoint-down(md) {
    float: none;
    min-width: 100%;
  }
}

.nav-link {
  border-bottom: 0 !important;
  display: block;
  color: $color-white;
  padding: 0.5rem;
  &:hover, &:active, &:focus {
    color: $color-yellow;
  }
  &.selected {
    color: $color-blue;
  }
}

/* hamburger menu icon */

#burger-icon {
  z-index: 9999;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  background-color: $color-black;
  width: 34px;
  height: 30px;
  padding-left: 4px;
  &:focus, &:active {
    outline: 1px solid $color-yellow;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

#burger-icon > .burger-item {
  width: 25px;
  height: 2px;
  background-color: $color-white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

body.hamburger-menu-open {
  #burger-icon {
    :nth-child(1) {
      -webkit-transform: rotate(-45deg) translate(-3.5px, 3px);
      transform: rotate(-45deg) translate(-3.5px, 3px);
    }
    :nth-child(2) {
      opacity: 0;
    }
    :nth-child(3) {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
    > .burger-item {
      background-color: $color-yellow;
    }
  }
}

/* sliding menu on small screen */

body.hamburger-menu-closed {
  overflow-y: scroll;
  .nav-content {
    right: -800px;
    padding: 10px 20px;
    transition: 0.3s;
  }
  .main-content {
    position: relative;
    left: 0;
    transition: 0.5s;
  }

}

body.hamburger-menu-open {
  overflow-y: hidden;
  .nav-link {
    margin-left: 2rem;
  }
  .dropdown-item {
    padding-left: 2rem;
  }
  .nav-content {
      //margin-left: 0;
      transition: 0.3s;
      right: 0;
  }
  .main-content {
    position: relative;
    left: -185px;
    transition: 0.5s;
  }
}
