@import 'variables';

/* nav branding */
.branding { padding: 20px; }

.branding > a { border-bottom: 0 !important; }

.branding {
   .cap-logo { max-width: 140px; }
}

.branding.branding-black-bg {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.branding.branding-white-bg { display: none; }

/* on index, display white background logo on small screens
  display black background logo in all other instances */
.page-index {
  .branding.branding-white-bg {
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  .branding.branding-black-bg {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

/* rest of nav */
nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $color-black;
  color: $color-white;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.1em;
  @include media-breakpoint-up(lg) {
    -webkit-box-shadow: 0 1px 5px $color-violet-gray-dark;
    -moz-box-shadow: 0 1px 5px $color-violet-gray-dark;
    box-shadow: 0 1px 5px $color-violet-gray-dark;
  }
  a {
    border-bottom: 0;
  }
}

/* show border in homepage */
.page-index {
  nav {
    border-bottom: 0.5px solid $color-gray;
  }
}


.nav-content {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  padding: $navbar-padding-y $navbar-padding-x;
  flex-direction: column;
  z-index: 1;
  margin-top: 1rem;

  > .nav { width: 100%; }

  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0;
  }

  @include media-breakpoint-down(md) {
    //-webkit-box-shadow: 0px 0 5px $color-yellow;
    //-moz-box-shadow: 0px 0 5px $color-yellow;
    //box-shadow: 0px 0 5px $color-yellow;
    border-left: 0.5px solid $color-yellow;
    width: 50%;
  }

  .dropdown-menu {
    > a {
      font-weight: $font-weight-normal;
      color: $color-white;
      border-bottom: 0.5px solid $color-yellow;
      padding-bottom: 15px;
    }
    > a:hover, a:focus, a:active {
      background-color: $color-yellow;
      color: $color-black;
    }
    > a:last-child { border-bottom: 0 }
    background-color: $color-black;
    @include media-breakpoint-up(lg) {
      border: 0.5px solid $color-yellow;
    }
    @include media-breakpoint-down(md) {
      > a::before {
        color: $color-violet;
        content: "› ";
      }
    }
  }
}

.nav-item {
  float: left;
  padding: 0 $navbar-padding-x;
  @include make-col(4);
  @include media-breakpoint-down(md) {
    float: none;
    min-width: 100%;
  }
}

.nav-link {
  border-bottom: 0 !important;
  display: block;
  color: $color-white;
  padding: 0.5rem;
  &:hover, &:active, &:focus {
    color: $color-yellow;
  }
}

/* hamburger menu icon */

#burger-icon {
  z-index: 9999;
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 10px;
  margin-top: 10px;
  background-color: $color-black;
  width: 34px;
  height: 30px;
  padding-left: 4px;
  padding-top: 4px;
  &:focus, &:active {
    outline: 1px solid $color-yellow;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

#burger-icon > .burger-item {
  width: 25px;
  height: 2px;
  background-color: $color-white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

#burger-icon.transform {
  :nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-3.5px, 3px);
    transform: rotate(-45deg) translate(-3.5px, 3px);
  }
  :nth-child(2) {
    opacity: 0;
  }
  :nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  > .burger-item { background-color: $color-yellow; }
}


/* sliding menu on small screen */

#burger-icon ~ .nav-content {
  @include media-breakpoint-down(md) {
    height: 100%;
    position: fixed;
    right: -800px;
    //background-color: $color-black;
    //min-height: 100%;
    padding: 20px;
    transform: translateX(-200);
    transition: 0.5s;
  }
}

#burger-icon.transform ~ .nav-content {
  @include media-breakpoint-down(md) {
    //margin-left: 0;
    transition: 0.5s;
    transform: translateX(200);
    right: 0;
  }
}


