@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';

// brand color
$color-blue: #0276FF;

/* any black on site */
$color-black: #2F2F2F;

/* preferred purple — harder to see when it's small */
$color-violet-large-text: #6350FD;

/* use for small text for more contrast */
$color-violet: #4830FD;

/* use as background (with black text)
  for decorative purposes, or highlighting */
$color-yellow: #FFD21B;

/* links & buttons on black*/
$color-magenta: #E878FF;

/* use sparingly, or for decorative purposes.
These colors are difficult for people to see */
$color-red: #FF654D;



/* colors on white */
/* violet, */

// colors
$color-yellow-bright: #FFF650;
$color-white: #ffffff;
$color-gray: #D9D9D9;
$color-medium-gray: #979797;
$color-tan: #F7F6F2;
$color-light-gray: #f7f7f9;
$color-medium-blue: #2C60FF;
$color-light-blue: #D2E7FF;
$color-dark-blue: #004FB3;
$color-orange: #EDA633;
$color-pink: #F9DBFF;

//$color-yellow-light: #FFFDEA;
$color-yellow-light: #EAEAFF;

$color-violet-light: #B3A7FD;

$color-violet-gray: #9797B0;
$color-violet-gray-dark: #474756;

.bg-black { background: $color-black; }

.bg-yellow { background: $color-yellow; }

.bg-tan { background: $color-tan; }

.bg-violet-light { background: $color-violet-light; }

.bg-white-violet {
  background-color: $color-white;
  color: $color-violet;
}

.color-white { color: $color-white; }

.color-violet { color: $color-violet; }

.color-red { color: $color-red; }

.color-yellow { color: $color-yellow; }

.color-yellow-bright { color: $color-yellow-bright; }

.color-orange { color: $color-orange; }

.color-black { color: $color-black; }

.color-gray { color: $color-medium-gray; }


@mixin diagonal_gradient($color1, $color2) {
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(45deg, $color1 0%, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $color1 0%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $color1 0%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
//#a559b3
.bg-gradient {
  @include diagonal_gradient($color-violet,$color-red);
  color: $color-white;
  /* in small screens, simply make background violet */
  @include media-breakpoint-down(sm) {
    background: $color-violet-large-text;
  }
}

@mixin button($color1, $color2, $color3) {
  margin: 0.8em 0;
  &.btn-primary {
    border: 2px solid $color1;
    background-color: $color1;
    color: $color2;
    &:hover, &:active, &:focus {
      background-color: $color3;
      border: 2px solid $color3;
    }
  }
  &.btn-secondary {
    border: 2px solid $color1;
    color: $color1;
    background-color: transparent;
    &:hover, &:active, &:focus {
      border: 2px solid $color3;
      color: $color3;
    }
  }
  &.btn-tertiary {
    color: $color1;
    &:hover, &:active, &:focus {
      color: $color3;
    }
  }
}


// mixins
//////////// general
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-extra-light: 200;

$font-serif: "source-serif", "Baskerville", "Georgia", serif;
$font-sans-serif: "source-sans", sans-serif;
$font-sans-title: "titillium", sans-serif;
$font-serif-fancy: "Libre Baskerville", "Baskerville", serif;
$font-monospace: "source-code", monospace;

$header-margin-size: 4rem;