// Titillium
@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-black-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-extralightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../../fonts/titilliumweb-semibolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/titilliumweb-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


.georgia {
  font-family: "Georgia", serif;
}

//// font
//$font-body: 'titillium', Helvetica, Arial, sans-serif;
////$font-code: 'Fira Mono', monospace;
//$font-header-light: 'titillum', Helvetica, Arial, sans-serif;
//$font-header: 'titillium_regular', Helvetica, Arial, sans-serif;
//$font-header-semibold: 'rajdhanisemibold', Helvetica, Arial, sans-serif;
//$font-header-medium: 'rajdhanimedium', Helvetica, Arial, sans-serif;
//$font-header-bold: 'rajdhanibold', Helvetica, Arial, sans-serif;
//
//$section-subtitle-size: 20px;


// colors
$color-white: white;
$color-gray: #D9D9D9;
$color-medium-gray: #979797;
$color-tan: #F7F6F2;
$color-light-gray: #f7f7f9;
$color-blue: #0075FF;
$color-black: #2F2F2F;
$color-medium-blue: #78B6FF;
$color-light-blue: #D2E7FF;
$color-dark-blue: #22349A;
$color-orange: #EDA633;

$color-yellow: #FFFAB9;
$color-yellow-light: #FFFDEA;
$color-violet: #4326BE;
$color-violet-light: #6666CC;

$color-violet-gray: #9797B0;
$color-violet-gray-dark: #474756;

// purple highlight hover
$color-pink: #E878FF;

.bg-black {
  background: $color-black;
  color: $color-white;
}

.bg-yellow {
  background: $color-yellow-light;
}

.bg-tan {
  background: $color-tan;
}

.bg-violet-light {
  background: $color-violet-light;
}

.color-white { color: white; }

.color-violet { color: $color-violet; }


// mixins
//////////// general
.font-body {
  font-family: 'titillium', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.font-body-bold {
  @extend .font-body;
  font-weight: 600;
}

.font-body-semibold {
  @extend .font-body;
  font-weight: 700;
}

.font-header {
  @extend .font-body;
  font-weight: 700;
}


.font-header-semibold {
  @extend .font-body;
  font-weight: 600;
}

.font-header-bold {
  @extend .font-body;
  font-weight: 700;
}
//
//.font-code {
//  font-family: $font-code;
//}

//.font-code-bold {
//  font-family: $font-code;
//  font-weight: 700;
//}

.inverse {
  background-color: $color-black;
  color: white;
  strong, b, span {
    color: white;
  }
}


//////////// grid / layout
.col-centered {
  margin: 0 auto;
  float: none;
}

.header-margin {
  padding-top: 52px;
}

.container-full {
  width: 100%;
  height: 100%;
}

/////////// text
.centered-text {
  text-align: center;
}

.blue-text {
  color: $color-blue;
}

.bold-text {
  @extend .font-body-bold;
}

.semibold-text {
  @extend .font-body-semibold;
}

.text-primary {
  color: $color-blue;
}

.help-block {
  color: $color-orange;
  text-transform: none;
}

strong, b {
  @extend .font-body-semibold;
}

/////////// buttons
.button {
  @extend .font-header-bold;
  color: $color-blue;
  background: white;
  border: 1px solid $color-blue;
  letter-spacing: 2px;
  height: 35px;
  text-transform: uppercase;
    &:hover {
    background-color: $color-light-blue;
    border: 1px solid $color-blue;
  }
}

.inverse button:hover,
.inverse button:active,
.inverse button:focus {
    background-color: $color-light-blue;
    color: $color-black;
    border: $color-black;
}
.inverse a:focus,
.inverse a:active,
.inverse a:hover {
    color: $color-light-blue;
}

.inverse .alert {
  background-color: transparent;
  color: $color-orange;
  border-bottom: 1px solid $color-orange;
  border-radius: 0;
}

/////////// alerts
.alert {
  border: 0;
  background: $color-orange none;
  color: $color-black;
  padding-left: 0;
  padding-right: 0;
}
