@font-face {
  font-family: 'rajdhanibold';
  src: url('../../fonts/rajdhani-bold-webfont.woff2') format('woff2'),
    url('../../fonts/rajdhani-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

  @font-face {
    font-family: 'rajdhanilight';
    src: url('../../fonts/rajdhani-light-webfont.woff2') format('woff2'),
        url('../../fonts/rajdhani-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

    @font-face {
      font-family: 'rajdhanimedium';
      src: url('../../fonts/rajdhani-medium-webfont.woff2') format('woff2'),
            url('../../fonts/rajdhani-medium-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal; }

      @font-face {
        font-family: 'rajdhaniregular';
        src: url('../../fonts/rajdhani-regular-webfont.woff2') format('woff2'),
                url('../../fonts/rajdhani-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal; }

        @font-face {
          font-family: 'rajdhanisemibold';
          src: url('../../fonts/rajdhani-semibold-webfont.woff2') format('woff2'),
                    url('../../fonts/rajdhani-semibold-webfont.woff') format('woff');
          font-weight: normal;
          font-style: normal; }

          .inverse {
            background-color: #2F2F2F;
            color: white; }

            .col-centered {
              margin: 0 auto;
              float: none; }

              .header-margin {
                padding-top: 52px; }

                .container-full {
                  width: 100%;
                  height: 100%; }

                  .centered-text {
                    text-align: center; }

                    .blue-text {
                      color: #0075FF; }

                      .bold-text {
                        font-family: 'rajdhanibold', Helvetica, Arial, sans-serif; }

                        .semibold-text {
                          font-family: 'rajdhanisemibold', Helvetica, Arial, sans-serif; }

                          .text-primary {
                            color: #0075FF; }

                            .help-block {
                              color: #EDA633;
                              text-transform: none; }

                              strong {
                                font-family: 'rajdhanisemibold', Helvetica, Arial, sans-serif; }

                                .button {
                                  font-family: 'rajdhanibold', Helvetica, Arial, sans-serif;
                                  color: #0075FF;
                                  background: white;
                                  border: 1px solid #0075FF;
                                  letter-spacing: 2px;
                                  height: 35px;
                                  text-transform: uppercase; }
                                  .button:hover {
                                    background-color: #D2E7FF;
                                    border: 1px solid #0075FF; }

.inverse button:hover, .inverse button:active, .inverse button:focus {
  background-color: #D2E7FF;
  color: #2F2F2F;
  border: #2F2F2F; }

  .inverse a:focus, .inverse a:active, .inverse a:hover {
    color: #D2E7FF; }

    .inverse .alert {
      background-color: transparent;
      color: #EDA633;
      border-bottom: 1px solid #EDA633;
      border-radius: 0; }

      .alert {
        border: 0;
        background: #EDA633 none;
        color: #2F2F2F;
        padding-left: 0;
        padding-right: 0; }

        .navbar.navbar-static-top .container {
          padding: 0;
          width: 100%; }

          .page-header h1 {
            font-family: 'rajdhanibold', Helvetica, Arial, sans-serif;
            letter-spacing: 1px; }

            .prettyprint {
              font-size: 13px;
              border-radius: 0;
              border: 0 !important; }
              .prettyprint span.str {
                color: #2F2F2F; }
                .prettyprint a span.str {
                  color: #0075FF; }
                  .prettyprint span.lit {
                    color: #22349A; }
                    .prettyprint span.kwd {
                      color: #EDA633; }

body.modal-open label {
  display: block; }

  .breadcrumb {
    margin-top: 60px;
    font-size: 14px; }
    .breadcrumb li {
      list-style-type: ' / ';
      margin-left: 10px; }

nav {
  margin-bottom: 15px; }

  .pager > .previous, .pager > .next {
    list-style: none;
    border: 1px solid #0075FF;
    float: left;
    width: 70px;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
    background: #0075FF;
    color: white;
    font-size: 14px;
    padding: 3px;
    cursor: pointer; }
    .pager > .previous a, .pager > .next a {
      color: white;
      text-decoration: none; }
      .pager > .previous a:hover, .pager > .next a:hover {
        color: #0075FF; }
    .pager > .previous:hover, .pager > .next:hover {
      background: #D2E7FF;
      color: #0075FF; }
