@import "_variables.scss";

.navbar.navbar-static-top .container {
  padding: 0;
  width: 100%;
}

.page-header h1 {
  font-family: $font-header-bold;
  letter-spacing: 1px;
}

.prettyprint {
  font-size: 13px;
  border-radius: 0;
  border: 0 !important;
  span.str {
    color: $color-black;
  }
  a span.str {
    color: $color-blue;
  }
  span.lit {
    color: $color-dark-blue;
  }
  span.kwd {
    color: $color-orange;
  }
}

///////////// modal
// bootstrap4 changed .in class to .show
// rest_framework still relies on old classes
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

.modal-title {
  display: none;
}

.modal-content {
  font-size: 1rem;
  input, select {
    width: 100%;
  }
  select {
    padding: 2px;
  }
  label {
    text-transform: capitalize;
  }
}


.breadcrumb {
  margin-top: 60px;
  font-size: 14px;
  li {
    margin-left: 10px;
  }
}

nav {
  margin-bottom: 15px;
}

.pager > .previous, .pager > .next {
  list-style: none;
  border: 1px solid $color-blue;
  float: left;
  text-align: center;
  border-radius: 3px;
  margin-left: 5px;
  background: $color-blue;
  color: white;
  font-size: 14px;
  padding: 3px 7px;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $color-blue;
    }
  }
  &:hover {
    background: $color-light-blue;
    color: $color-blue;
  }
}