@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';
@import 'bootstrap/tooltip';
@import 'bootstrap/modal';
@import "variables";

nav {
  padding: 0;
  width: 100%;
}

/* give container closest to nav some padding */
nav[aria-label="main"] ~ .container {
  padding-top: 90px;
}

button, .btn {
  background-color: $color-violet;
  color: $color-white;
  border: 2px solid $color-violet;
  font-weight: $font-weight-semibold;
  &:hover, &:focus, &:active {
    background-color: $color-white;
    color: $color-violet;
    border: 2px solid $color-violet;
  }
}

.container {
  letter-spacing: 0.03em;
  ul, li, a, .prettyprint {
    font-size: 16px;
  }

  .page-header h1 {
    letter-spacing: 1px;
    @extend .h2;
  }

  .pager > .previous,
  .pager > .next {
    list-style: none;
    float: left;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
    background: $color-violet;
    color: $color-white;
    font-size: 14px;
    padding: 3px 7px;
    cursor: pointer;
    border: 2px solid $color-violet;
     > a {
      border-bottom: 0;
      color: $color-white;
      font-weight: $font-weight-semibold;
    }
    &:hover, &:focus, &:active {
      border: 2px solid $color-violet;
      background-color: $color-white;
      > a {
        color: $color-violet;
      }
    }

  }

  .prettyprint {
    border-radius: 0;
    border: 0 !important;
    span.str {
      color: $color-black;
    }
    a span.str {
      color: $color-magenta;
      border-bottom: 2px solid $color-magenta;
      &:hover, &:focus, &:active {
        color: $color-violet;
        border-bottom: 2px solid $color-violet;
      }
    }
    span.lit {
      color: $color-dark-blue;
    }
    span.kwd {
      color: $color-red;
    }
  }

  .breadcrumb {
    margin-top: 60px;
    font-size: 14px;
    li {
      float: left;
      &:last-child {
        float: none;
      }
    }
    li::after {
      display: inline-block;
      content: '\00bb';
      margin: 0 .6em;
      color: $color-medium-gray;
    }
    ul::after {
      display: block;
      clear: both;
    }
  }

}

// hide "Get" button -- button itself doesn't do anything, and dropdown is broken from including bootstrap 4 instead of 3
#get-form {
  display: none;
}

.param-label {
  font-weight: bold;
}

.list-group-item > ul {
  font-size: 14px;
}

li > code {
  background-color: inherit;
}

///////////// modal
// bootstrap4 changed .in class to .show
// rest_framework still relies on old classes
.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

.modal-title {
  display: none;
}

.modal-content {
  font-size: 1rem;
  button.btn:hover,
  button.btn:focus,
  button.btn:active {
    padding: 4px 8px;
  }
  button.close {
    background-color: transparent;
    color: $color-magenta;
    font-weight: $font-weight-bold;
    font-size: 20px;
    &:hover, &:active, &:focus {
      border: 0;
      color: $color-violet;
    }
  }
  input, select {
    width: 100%;
    outline: none;
    border: 1px solid;
    box-shadow: none;
  }
  select {
    padding: 0.5rem;
    cursor: pointer;
  }
  label {
    text-transform: capitalize;
  }
}

