@import '../_normalize.css';
@import 'bootstrap/_functions.scss';
@import 'variables';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';
@import "bootstrap/utilities/display";
@import "bootstrap/utilities/flex";
@import "bootstrap/utilities/position";
@import "bootstrap/utilities/screenreaders";
@import "bootstrap/utilities/spacing";
@import "bootstrap/utilities/text";
@import 'bootstrap/alert';
@import 'bootstrap/buttons';
@import 'bootstrap/card';
@import 'bootstrap/close';
@import 'bootstrap/forms';
@import 'bootstrap/grid';
@import "bootstrap/list-group";
@import "bootstrap/modal";
@import "bootstrap/reboot";
@import "bootstrap/spinners";
@import "bootstrap/tables";
@import 'bootstrap/transitions';
@import "bootstrap/type";

@import 'font-styles';

// The stylesheets that build on top of base.scss but should be included in bases.scss
// are at the bottom of the page

::selection {
  background: $color-yellow-bright; /* WebKit/Blink Browsers */
  color: $color-black;
}

::-moz-selection {
  background: $color-yellow-bright; /* Gecko Browsers */
  color: $color-black;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* push footer to bottom of screen if insufficient main-content to fill page */
  display: flex;
  flex-direction: column;
  color: $color-black;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  // push footer to bottom on short pages
  @extend .d-flex;
  @extend .flex-column;
  height: 100vh;
}

#content-and-footer {
  flex: 1 1 auto;
  overflow-y: auto;
}

// BUTTONS & LINKS
a, button, .btn,
.btn-primary, .btn-secondary, .btn-tertiary {
  cursor: pointer;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

button, .btn,
.btn-primary, .btn-secondary, .btn-tertiary {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-family: $font-sans-serif;
  font-size: 0.7em;
  padding: 0.35em 0.8em;
  border-radius: 0;
  &:disabled {
    background-color: $color-gray;
    color: $color-medium-gray;
    cursor: default;
  }
  @include media-breakpoint-down(md) {
    font-size: 1em;
  }
}

.btn-group {
  margin-bottom: 3rem;
}

.inverse button:hover,
.inverse button:active,
.inverse button:focus {
  background-color: $color-light-blue;
  color: $color-black;
  border: $color-black;
}

.inverse a:focus,
.inverse a:active,
.inverse a:hover {
  color: $color-light-blue;
}

.inverse .alert {
  background-color: transparent;
  color: $color-orange;
  border-bottom: 1px solid $color-orange;
  border-radius: 0;
}

.alert {
  border-radius: 0;
  border: 0;
}

.highlighted {
  color: $color-magenta;
  font-weight: $font-weight-semibold;
}

.decorative-arrow {
  margin-left: -3rem;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

ol.spacious-list,
ul.spacious-list {
  li {
    margin-bottom: 1.2rem;
  }
}

ol.alpha > li {
  list-style-type: lower-alpha;
  padding-left: 1rem;
}

ol.num > li {
  list-style-type: decimal;
}

ul.bullets, ul.bullets ul {
  padding-left: 1.5em !important;
  li {
    list-style-type: circle;
  }
}

section {
  width: 100%;
}

table {
  margin-bottom: 4rem;
}

table > tbody > tr {
  line-height: 2.5rem;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  border: 0;
}

main {
  // push footer to bottom on short pages
  @extend .flex-fill;
  @extend .d-flex;
  @extend .flex-column;
  min-height: 85%;
  > * {
    @extend .flex-fill;
  }
}

.code-block {
  font-size: 0.75em;
  margin-top: -20px;
  line-height: 1.5em;
  background-color: $color-white;
  padding: 1rem;
  font-family: $font-monospace, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  font-weight: $font-weight-normal;
  background-color: $color-white;
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  font-family: $font-monospace, monospace;
}

p {
  top-margin: 1.25rem;
}

/* grid / layout */
.col-centered {
  margin: 0 auto;
  float: none;
}

.container-full {
  width: 100%;
  height: 100%;
}

/////////// text
.centered-text {
  text-align: center;
}

.blue-text {
  color: $color-blue;
}

.text-primary {
  color: $color-blue;
}

.help-block {
  color: $color-orange;
  text-transform: none;
}

.section-subtitle {
  margin-bottom: 1em;
  margin-top: 20px;
}

.section-symbol {
  top: -20px;
}

.list-group-item {
  border-radius: 0 !important;
}

.decorative-arrow {
  margin-left: -2rem;
  color: $color-red;
  &.left {
    margin-left: 0.4rem;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row {
  @extend .no-gutters;
}

.separator {
  border-bottom: 1px solid $color-medium-gray;
  &.color-white {
    border-bottom: 1px solid $color-white;
  }
}

form {
  margin-bottom: 3rem;
}

input.form-control[type="text"],
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  border-radius: 0;
}

.section-intro {
  font-family: $font-serif;
  font-size: 1.25em;
  line-height: 1.7em;
}

li.item-set {
  margin-bottom: 20px;
  list-style: none;
  > .item-title {
    margin-bottom: 0.5em;
  }
  > .item-origin {
    color: $color-black;
  }
  > .item-name {
    font-weight: $font-weight-normal;
  }
  > .item-date {
    color: $color-violet-gray;
    padding-left: 0.5em;
  }
  > .bullet {
    color: $color-red;
  }
}

/* card bootstrap overrides */
.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

/* logos */
footer .lil-logo {
  width: 173px;
  height: 90px;
  display: block;
}

.footer-lil-logo-white {
  background: url("../../img/logos/lil-white.svg") no-repeat;
  background-size: contain !important;
}

.footer-lil-logo-black {
  background: url("../../img/logos/lil-black.svg") no-repeat;
  background-size: contain !important;
}

@import 'bg-variants';
@import 'social';
@import 'a11y';
@import 'dropdown';
@import 'nav';
@import 'footer';
@import 'page-structure';
@import 'markdown';
@import '_print';
