@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins/_grid.scss';
@import 'bootstrap/mixins/_breakpoints.scss';
@import '_variables.scss';
@import '_elements.scss';

::selection {
  background: $color-yellow; /* WebKit/Blink Browsers */
  color: $color-black;
}
::-moz-selection {
  background: $color-yellow; /* Gecko Browsers */
  color: $color-black;
}

body {
  @extend .font-body;
  height: 100%;
  /* push footer to bottom of screen if insufficient main-content to fill page */
  display: flex;
  flex-direction: column;
}

//h1, h2, h3, h4, h5, h6 {
//  @extend .font-header-bold;
//}

section {
  width: 100%;
}


a, button, .btn {
  cursor: pointer;
}

code {
  //@extend .font-code;
  background-color: $color-light-blue;
  color: $color-black;
  padding: 0 5px;
}


pre {
  //@extend .font-code;
  white-space: -moz-pre-wrap;
  //white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  border: 0;
}

a {
  cursor: pointer;
  border-bottom: 0;
  color: $color-blue;
  &:hover, &:focus, &:active {
    color: $color-black;
    border-bottom: 0;
    text-decoration: none;
  }
}

.row {
  max-width: 100%;
  margin-left: 0;
}

.separator {
  border-bottom: 1px solid $color-medium-gray;
  &.color-white {
    border-bottom: 1px solid $color-white;
  }
}

.sidebar-menu {
  .list-group-item {
    border: 0;
    color: $color-black;
    &:hover, &:focus {
      background-color: $color-yellow;
    }
  }
}

// MENU
#main-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $color-black;
  font-weight: 600;
  a.nav-link, a.navbar-dropdown {
    color: white;
    &.selected {
      font-weight: 500;
      color: $color-violet-light;
    }
  }

  .cap-logo {
    padding: 10px;
  }

  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid $color-violet-light;
  }
  @include media-breakpoint-down(md) {
    background-color: transparent;
    #navbar-content, .dropdown-menu {
      background-color: $color-black;
      a {
        color: $color-white;
        border-bottom: 1px solid $color-yellow-light;
        padding-bottom: 5px;
      }
      a:hover, a:focus {
        background-color: $color-violet-gray;
        color: $color-yellow-light;
      }
    }
  }
  .dropdown-menu {
    border-radius: 0;
    margin-top: 10px;
    padding: 0;
    border: 1px solid $color-violet-light;
  }
  .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover, &:focus {
      background: $color-yellow;
    }
  }
  .nav-link {
    &:hover, &:focus {
      font-weight: 500;
      color: $color-violet;
    }
  }
  .nav-item {
    padding: 0 1rem;
  }
  .navbar-toggler {
    background: $color-violet;
    border-radius: 0px;
  }
}

// if header-margin exists, we're in homepage showing a big logo.
// Add top border
.header-margin {
  #main-menu {
    @include media-breakpoint-up(lg) {
      border-top: 1px solid $color-medium-gray;
    }
  }
}

// Typography
.section-subtitle {
  @extend .font-header-semibold;
  letter-spacing: 0;
}

.section-header-text {
  @extend .font-body-semibold;
}

.section-title {
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

section#section-dive-in {
  .row {
    div:nth-child(2) {
      @include media-breakpoint-up(md) {
        margin-top: 3rem !important;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-down(xs) {
    padding-bottom: 0;
    .row {
      div:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }
}

section#section-about {
  .row {
    div:nth-child(1) {
      //@include media-breakpoint-up(lg) {
      //  bac
      //}
    }
    .viz-circles {
      padding-bottom: 6rem;
    }
    .sidebar-content {
      p {
        color: $color-white;
      }

      @include media-breakpoint-up(md) {
        background-color: $color-violet-light;
        h2, h4 {
          color: $color-black;
        }
        .content {
          margin: 0 auto;
        }

      }
      @include media-breakpoint-down(sm) {
        background-color: $color-violet-gray-dark;
        h2, h4 {
          color: $color-white;
        }
      }
    }
    #purple-us-map {
      @include media-breakpoint-only(lg) {
        width: 80%;
      }
    }
  }
}

section#section-links {
  padding-bottom: 30px;
  .item-title {
    margin-bottom: 0;
  }
  .item-set {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
  }
}

.showcase-item-img {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.showcase-item-title {
  color: $color-yellow;
}


.basic-page {
  h1 {
    font-weight: 200;
    color: $color-dark-blue;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
  .subtitle {
    border-bottom: 1px solid $color-violet-gray-dark;
    color: $color-violet;
    line-height: 3rem;
  }
  .page-section {
    margin-bottom: 30px;
  }
}



// FOOTER
footer {
  a {
    color: $color-black;
    font-weight: 700;
    &:hover, &:focus {
      color: $color-blue;
    }
  }
}

.page-about {
  footer {
    background-color: $color-yellow-light
  }
}