@import '../_normalize.css';
@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';
@import "bootstrap/reboot";
@import "bootstrap/type";
@import 'bootstrap/grid';
@import 'bootstrap/alert';
@import "bootstrap/utilities/spacing";
@import "bootstrap/utilities/text";
@import "bootstrap/utilities/display";
@import "bootstrap/utilities/flex";
@import "bootstrap/list-group";
@import 'variables';
@import 'elements';
@import 'a11y';
@import 'dropdown';
@import 'nav';
@import 'footer';
@import 'page-structure';

::selection {
  background: $color-yellow-bright; /* WebKit/Blink Browsers */
  color: $color-black;
}

::-moz-selection {
  background: $color-yellow-bright; /* Gecko Browsers */
  color: $color-black;
}


body {
  @extend .font-body;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* push footer to bottom of screen if insufficient main-content to fill page */
  display: flex;
  flex-direction: column;
  color: $color-black;
  font-size: 20px;
  line-height: 29px;
  font-weight: 400;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  // push footer to bottom on short pages
  @extend .d-flex;
  @extend .flex-column;
  min-height: 100vh;
}

a, button, .btn {
  cursor: pointer;
}

button {
  @extend .btn;
}

button, .btn-white-violet {
  @extend .btn;
  border: 2px solid $color-violet;
  background: $color-white;
  color: $color-violet;
}


main {
  padding-top: 90px;
  // push footer to bottom on short pages
  @extend .flex-fill;
  @extend .d-flex;
  @extend .flex-column;
  > * {
    @extend .flex-fill;
  }
}

.code-block {
  font-size: 0.75em;
  margin-top: -20px;
  line-height: 1.5em;
  background-color: $color-white;
  padding: 1rem;
  font-family: $font-monospace, monospace;
}

code {
  font-weight: $font-weight-normal;
  background-color: $color-white;
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  font-family: $font-monospace, monospace;
}

.list-group-item {
  border-radius: 0 !important;
}

.decorative-arrow {
  margin-left: -2rem;
  color: $color-red;
  &.left {
    margin-left: 0.4rem;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row {
  @extend .no-gutters;
}

.separator {
  border-bottom: 1px solid $color-medium-gray;
  &.color-white {
    border-bottom: 1px solid $color-white;
  }
}

form {
  margin-bottom: 3rem;
}

input.form-control[type="text"],
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  border-radius: 0;
}

/* Section styles */
section {
  padding-top: 5rem;
  padding-bottom: 7rem;
  .section-title {
    font-family: $font-sans-title;
  }

  @include media-breakpoint-down(sm) {
    .section-title {
      color: $color-violet;
    }
    .section-subtitle {
      color: $color-black;
    }
  }
  .section-subtitle {
    font-weight: 300;
  }
}

section > .content {
  margin: 0 auto;
  @include make-col(10);
  @include media-breakpoint-down(md) {
    @include make-col(11);
  }
}

section > .content > .row > .content-left {
  @include media-breakpoint-only(xl) {
    @include make-col(3);
  }
  @include media-breakpoint-only(lg) {
    .decorative-arrow {
      margin-left: -2rem;
    }
    @include make-col(4);
  }
  @include media-breakpoint-only(md) {
    @include make-col(4);
  }
  @include media-breakpoint-down(sm) {
    @include make-col(10);
  }
}

section > .content > .row > .content-right {
  @include media-breakpoint-only(xl) {
    @include make-col(7);
    @include make-col-offset(1);
  }
  @include media-breakpoint-only(lg) {
    @include make-col(6);
    @include make-col-offset(1);
  }
  @include media-breakpoint-only(md) {
    padding-left: 20px;
    @include make-col(6);
    @include make-col-offset(1);
  }
}

li.item-set {
  margin-bottom: 20px;
  list-style: none;
  > .item-title {
    margin-bottom: 0.5em;
  }
  > .item-origin {
    color: $color-black;
  }
  > .item-name {
    font-weight: $font-weight-normal;
  }
  > .item-date {
    color: $color-violet-gray;
    padding-left: 0.5em;
  }
  > .bullet {
    color: $color-red;
  }
}

.github {
  display: inline;
}

.social {
  span {
    float: left;
  }
  a {
    background-position-x: 0;
    border-bottom: none;
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    &:hover, &:active, &:focus {
      background-position-x: -30px !important;
    }
  }
  .email > a {
    background: url('../../img/logos/mail-sprite.svg') no-repeat;
    background-size: auto 30px;
  }
  /* github is not a perfect circle */
  .github > a {
    background: url('../../img/logos/github-sprite.svg') no-repeat;
    background-size: auto 29px;
  }
  .website > a {
    background: url('../../img/arrow-sprite.svg') no-repeat;
    background-size: auto 30px;
  }
  .twitter > a {
    background: url('../../img/logos/twitter-sprite.svg') no-repeat;
    background-size: auto 30px;
  }
}

.social.big {
  .twitter > a, .github > a, .email > a {
    background-size: auto 60px;
    height: 60px;
    width: 60px;
    &:hover, &:active, &:focus {
      background-position-x: -60px !important;
    }
  }
  /* github is not a perfect circle */
  .github > a {
    background-size: auto 58px;
  }
}

.inverse {
  .social {
    .github > a, .website > a {
      background-position-x: -60px;
    }
  }
}

.bg-black, .inverse {
  color: $color-white;
  h1, .section-title {
    color: $color-yellow !important;
  }

  a {
    color: $color-white;
    &:hover, &:focus, &:active {
      border-bottom: 3px solid $color-white;
    }
  }
  .btn, .btn-default, .btn-inverse {
    background-color: $color-white;
    color: $color-black;
    font-weight: $font-weight-semibold;
    &:hover, &:active, &:focus {
      background-color: $color-yellow;
      border-bottom: none;
    }
  }
  .section-subtitle {
    @include media-breakpoint-down(md) {
      color: $color-white;
    }
  }
}

.bg-violet {
  @extend .bg-black;
  background-color: $color-violet-large-text;
  color: $color-white;
  h1, .section-title {
    color: $color-white !important;
  }
}

.bg-violet-dark {
  @extend .bg-black;
  background-color: #3b2668;
}
