@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins/_grid.scss';
@import 'bootstrap/mixins/_breakpoints.scss';
@import '_variables.scss';
@import '_elements.scss';

::selection {
  background: $color-yellow; /* WebKit/Blink Browsers */
  color: $color-black;
}
::-moz-selection {
  background: $color-yellow; /* Gecko Browsers */
  color: $color-black;
}

body {
  @extend .font-body;
  height: 100%;
  /* push footer to bottom of screen if insufficient main-content to fill page */
  display: flex;
  flex-direction: column;
}

//h1, h2, h3, h4, h5, h6 {
//  @extend .font-header-bold;
//}

section {
  width: 100%;
}


a, button, .btn {
  cursor: pointer;
}

code {
  //@extend .font-code;
  background-color: $color-light-blue;
  color: $color-black;
  padding: 0 5px;
}


pre {
  //@extend .font-code;
  white-space: -moz-pre-wrap;
  //white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  border: 0;
}

a {
  cursor: pointer;
  border-bottom: 0;
  color: $color-blue;
  &:hover, &:focus, &:active {
    color: $color-black;
    border-bottom: 0;
    text-decoration: none;
  }
}

.row {
  max-width: 100%;
  margin-left: 0;
}

.separator {
  border-bottom: 1px solid $color-medium-gray;
  &.color-white {
    border-bottom: 1px solid $color-white;
  }
}



// MENU
#main-menu {
  a {
    color: $color-black;
  }

  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid $color-medium-gray;
    border-top: 1px solid $color-medium-gray;
  }
  @include media-breakpoint-down(md) {
    background-color: $color-yellow-light;
    #navbar-content, .dropdown-menu {
      background-color: $color-black;
      a {
        color: $color-white;
        border-bottom: 1px solid $color-yellow-light;
        padding-bottom: 5px;
      }
      a:hover, a:focus {
        background-color: $color-violet-gray;
        color: $color-yellow-light;
      }
    }
  }

  .nav-item {
    padding: 0 1rem;
  }
  .navbar-toggler {
    background: $color-violet;
    border-radius: 0px;
  }
}


// Typography
.section-subtitle {
  @extend .font-header-semibold;
  letter-spacing: 0;
}

.section-header-text {
  @extend .font-body-semibold;
}



.section-title {
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

section#section-dive-in {
  .row {
    div:nth-child(2) {
      @include media-breakpoint-up(md) {
        margin-top: 3rem !important;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-down(xs) {
    padding-bottom: 0;
    .row {
      div:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }
}

section#section-about {
  .row {
    div:nth-child(1) {
      //@include media-breakpoint-up(lg) {
      //  bac
      //}
    }
    .sidebar-content {
      p {
        color: $color-white;
      }

      @include media-breakpoint-up(md) {
        background-color: $color-violet-light;
        h2, h4 {
          color: $color-black;
        }
        .content {
          margin: 0 auto;
        }

      }
      @include media-breakpoint-down(sm) {
        background-color: $color-violet-gray-dark;
        h2, h4 {
          color: $color-white;
        }
      }
    }
  }
}

.showcase-item-img {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.showcase-item-title {
  color: $color-yellow;
}