.bg-white {
  color: $color-black;
  h1, .h1 {
    color: $color-black;
  }
  a {
    color: $color-blue;
    fill: $color-blue;
    &:hover, &:active, &:focus {
      color: $color-dark-blue;
    }

  }
  .decorative-arrow {
    content: url('../../img/violet-arrow-right.svg');
  }
  .btn-primary, .btn-secondary, .btn-tertiary {
    @include button($color-blue, $color-white, $color-dark-blue);
  }
  h2.subtitle {
    color: lighten($color-violet, 5%);
  }
  #sidebar-menu {
    background-color: $color-white;
  }
}

.bg-yellow {
  color: $color-black;
  #sidebar-menu {
    border-right: none;
  }
  .decorative-arrow {
    content: url('../../img/blue-arrow-right.svg')
  }
  a {
    color: $color-dark-blue;
    &:hover, &:active, &:focus {
      color: $color-black;
    }
  }
  .btn-primary, .btn-secondary, .btn-tertiary {
    @include button($color-dark-blue, $color-yellow, $color-black);
  }
}

.bg-black {
  color: $color-white;
  a {
    color: $color-magenta;
    fill: $color-magenta;
    &:hover, &:active, &:focus {
      color: $color-pink;
    }
  }
  g > a {
    fill: transparent;
  }
  .btn-primary, .btn-secondary, .btn-tertiary {
    @include button($color-magenta, $color-black, $color-pink);
  }
  .section-subtitle {
    @include media-breakpoint-down(md) {
      color: $color-white;
    }
  }
  margin-top: 0;
  .title-section > h1.page-title {
    color: $color-white !important;
  }
  .explainer-section > .content {
    color: $color-white;
  }
  li.item-set > .item-origin {
    color: $color-white;
  }
  .decorative-arrow {
    content: url('../../img/violet-arrow-right.svg');
    opacity: 0.8;
  }
}

.bg-tan {
  @extend .bg-white;
  a {
    color: $color-violet;  // contrast ratio > 4.5
  }
  .btn-primary, .btn-secondary, .btn-tertiary {
    @include button ($color-violet-large-text, $color-white, $color-violet-large-text-darkened)
  }
  .btn-secondary {
    background-color: $color-white !important;
  }
  .text-muted { color: darken($text-muted, 5%) !important; }  // contrast ratio > 4.5

  h2.subtitle {
    color: $color-dark-blue;
  }
  .decorative-arrow {
    content: url('../../img/violet-arrow-right.svg')
  }
}
