.bg-white {
  color: $color-black;
  h1, .h1 {
    color: $color-black;
  }
  a {
    color: $color-blue;
    &:hover, &:active, &:focus {
      color: $color-dark-blue;
    }
  }

  .btn-primary, .btn-secondary, .btn-tertiary {
    @include button($color-blue, $color-white, $color-dark-blue);
  }
}

.bg-yellow {
  color: $color-black;
  #sidebar-menu {
    border-right: none;
  }
  a {
    border-bottom: 3px solid $color-violet;
    &:hover, &:active, &:focus {
      color: $color-black;
      border-bottom: 3px solid $color-black;
    }
  }
  .btn {
    &:hover, &:active, &:focus {
      background-color: $color-yellow;
    }
  }
}

.bg-black {
  color: $color-white;
  h1, .section-title {
    color: $color-yellow !important;
  }
  .btn-primary, .btn-secondary, .btn-tertiary {
    @include button($color-magenta, $color-black, $color-pink);
  }
  .section-subtitle {
    @include media-breakpoint-down(md) {
      color: $color-white;
    }
  }
  border-top: 1px solid $color-white;
  margin-top: 0;
  a {
    color: $color-magenta;

  }
  .title-section > h1.page-title {
    color: $color-white !important;
  }
  .explainer-section > .content {
    color: $color-white;
  }
}

.bg-violet {
  @extend .bg-black;
  background-color: $color-violet-large-text;
  color: $color-white;
  h1, .section-title {
    color: $color-white !important;
  }
}