@import "variables";

//*** head matter

h1{
  font-size: 2rem;
}

div#app {
  @import "bootstrap/_nav";
  @import "bootstrap/_navbar";
  .dropdown-item {
    height: 2em;
    background-color: $color-light-gray;
    border-bottom: thin solid $color-medium-gray;
    padding: 0.5em;
  }
  .dropdown-item:hover {
    background-color: $color-medium-gray;
  }

  .dropdown-menu {
    min-width: 100%;
    z-index: 1000;
    border-left: thin solid $color-medium-gray;
    border-right: thin solid $color-medium-gray;
  }
  #searchform {
    margin-top: 3rem;
  }
  .nav-link{
    background-color: $color-light-gray;
    margin-right: .5rem;
  }

  .nav-link.active {
    border-bottom: 0 !important;
  }
  .nav {
    border-bottom: 0;
  }
  .row {
    display: revert;
  }
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
  text-align: center;
}

.loading-gif {
  position: relative;
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.loading-text {
  color: white;
}

.top-section {
  padding-bottom: 2rem;
  border-bottom: none !important;
}

.citation-list .basic-page p, .basic-page ul {
  margin-bottom: 0px;
}

.citation-entry {
  padding-top: 0px;
  padding-bottom: 0px;
}

.queryfield input.form-control[type="text"], input[type="text"], input[type="email"], textarea {
  display: inline-block;
  width: 50%;
}

.addfield {
  width: 100%;
}

.remfield {
  display: inline-block;
}

.field-button{
  background-color: $color-black;
  color: $color-orange;
  border-radius: 100%;
}

.add-field-button{
  background-color: $color-black;
  color: $color-orange;
  width: 100%;
}

.disabled {
  background-color: $color-gray;
  color: $color-light-gray;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
  text-align: center;
}

.loading-gif {
  position: relative;
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.loading-text {
  color: white;
}

.hitcount {
  font-weight: bold;
  margin-bottom: 20px;
  columns: $color-violet;
}

.field_label_container {
}

.field_label_container > select {
  max-width: 100%;
}

.field_value_container {
}

.field_value_container > input {
  width: 100%;
}

.search-button-row {
  margin-top: 1rem;
}

.result {
  margin-bottom: 1.5rem;
  .result-title {
    font-weight: bold;
    color: $color-violet-gray-dark;
    font-size: 1.75rem;
  }
  .result-data {
    font-size: 0.9rem;
  }
  .result-data-label {
    font-weight: bold;
  }
  .page-button {
  }
  .result-name {
    overflow: scroll;
  }
  .result-citation-type {
    font-weight: bold;
  }
}

.result:nth-child(even) {
  background-color: $color-light-gray;
}