@import "variables";

.export-type {
  float: left;
  margin-right: 0.4em;
  margin-bottom: 1em;
}

.file-size {
  margin-top: 0.4em;
}

.section-subtitle {
  font-family: $font-serif;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
