@import "base.scss";

section, article {
  @include make-col(11);
  @extend .col-centered;
  @include media-breakpoint-up(lg) {
    @include make-col(10);
  }
  padding-top: 1em;

}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.court {
  font-family: $font-sans-serif;
  text-align: center;
  margin-bottom: 1em;
  a {
    color: $color-blue;
  }
}

.case-container {
  padding-bottom: 100px !important;
}

.metadata {
  @include make-col(10);
}

p.small-text {
  font-size: 14px;
  font-weight: $font-weight-semibold;
}

.reporter-and-volume {
  font-family: $font-serif;
  color: $color-violet-gray-dark;

}

.case-viewing-error {
  font-family: $font-serif;
  color: $color-violet-gray-dark;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

h4.case-name {
  line-height: 1.4em;
  letter-spacing: 0;
  font-family: $font-serif;
}

.citations, .court {
  font-family: $font-sans-serif;
  font-size: 1.2em;
  line-height: 2em;
}

.docket-number, .decision_date {
  font-size: 1em;
  line-height: 1.5em;
}

#citation_container {
  //@include make-col(6);
  @extend .col-centered;
}

#citation_for_copy {
  font-weight: normal;
  text-align: center;
  padding-left: 8px;
  border: 0;
  outline: none;
}

#citation_copy {
  padding: 4px 10px 3px;
  border: 1px solid $color-violet;
  position: relative;
  top: -2px;
  margin-bottom: 0;
}

#citation_copy > img {
  height: 12px;
  width: 12px;
  margin-top: -7px;
  margin-left: -2px;
  cursor: pointer;
}

section.head-matter {
  padding-bottom: 0;
  p, aside {
    position: relative;
    // on large screens, head matter goes into a narrower column
    margin-top: 1em;
    margin-bottom: 1em;
    &.summary, &.history, &.headnotes {
      margin-top: 0;
      margin-bottom: 0;

      margin-left: 10em;
      // on small screens, don't make head matter narrow
      @media (max-width: 767.98px) {
        margin-left: 6em;
      }
    }
    &.attorneys {
      margin-top: 0;
    }
  }
}

.attorneys {
  font-family: $font-serif;
  letter-spacing: 0;
  margin-bottom: 0.5em;
}

@mixin head-matter-label {
  font-weight: bold;
  color: $color-violet-gray;
  word-break: break-all;
  position: absolute;

  // on large screens, label is right-aligned to left of paragraph
  margin-left: -10em;
  width: 9em;
  text-align: right;

  // on small screens, label is left-aligned to left of paragraph
  @media (max-width: 767.98px) {
    margin-left: -6em;
    width: 5em;
    text-align: left;
  }
}

.parties, .docketnumber, .decisiondate {
  display: none;
}

.attorneys, .judges {
  text-align: center;
  font-size: 1.25rem;
}

.author {
  font-size: 1.25rem;
  color: $color-magenta;
}

.headnotes:before {
  @include head-matter-label;
  content: "Headnote: ";
}

.summary:before {
  @include head-matter-label;
  content: "Summary: ";
}

.history:before {
  @include head-matter-label;
  content: "History: ";
}

.disposition:before {
  @include head-matter-label;
  content: "Disposition: ";
}

.syllabus:before {
  @include head-matter-label;
  content: "Syllabus: ";
}

//*** opinion

.author:before {
  content: "Author: ";
  color: $color-black;
}

.opinion {
  padding-top: 2em;
  &:before {
    content: "Opinion";
    font-weight: bold;
  }

  > p {
    margin-bottom: 15px;
  }
}

.footnotemark {
  border-bottom: 0;
  font-weight: $font-weight-semibold;
  margin-bottom: 5px;
  color: $color-magenta;
}

.footnote {
  font-size: 0.9em;

  > p {
    margin-bottom: 8px;
    margin-left: 2em;
    line-height: $line-height-sm;
  }

  // footnote number
  > a {
    float: left;
    border-bottom: 0;
    font-weight: $font-weight-semibold;
    line-height: $line-height-sm;
    width: 20px;
    text-align: center;
    color: $color-magenta;
  }

  // highlight selected footnote
  &:target {
    background-color: #FFF1F8;
  }
}
