@import "base.scss";
@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';
@import 'bootstrap/tooltip';

@media print {
  #main-nav {
    display: none;
  }
}

.top-section {
  padding: 0;
}
.title-section {
  @include make-col(12);
  @include make-col-offset(0);
  padding: 0;
  letter-spacing: inherit;
}
.case-header {
  padding: 1.25rem;
  font-family: $font-serif;
  font-size: $font-size-base !important;
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 1.3em;
    font-family: $font-serif;
    padding: 0;
    margin: 0;
  }
  .decision-date, .court-name {
    margin-right: 1em;
  }
  .docket-number {}
  .citations {
    line-height: 1em;
  }
}

#sidebar-menu {
  padding: 0;
  font-size: $font-size-sm;
  background: $color-tan;

  h2 {
    font-size: 1.3em;
    font-family: $font-serif;
    font-weight: 700;
    margin: 0;
  }
  h3 {
    font-size: $font-size-sm;
    font-family: $font-serif;
    font-weight: bold;
  }
  .sidebar-section {
    padding: 1em;
    border-bottom: 1px solid #E7E7ED;
  }
  .sidebar-section-contents {}
  ul {
    margin: 0;
  }

  .outline {
    li {
      text-transform: capitalize;
    }
  }

  @include media-breakpoint-down(md) {
    display: block;
    @include make-col(10);
    @include make-col-offset(1);

    .content {
      position: unset;
      height: unset;
    }
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
    @include make-col-offset(0);
  }
}

.casebody {
  img {
    max-width: 100%;
    height: auto;
  }

  section {
    // for .page-label:before absolute positioning
    position: relative;
  }
}

section, article {
  @include make-col(11);
  @extend .col-centered;
  @include media-breakpoint-up(lg) {
    @include make-col(10);
  }
  padding-top: 1em;

}

p {
  margin-top: 0;
  margin-bottom: 0;
}


.tooltip {
  cursor: pointer;
}

.context-menu {
  position: fixed !important;
  width: 130px;
  left: -999em;
  border: 1px solid $color-blue;
  background-color: $color-white;
  z-index: 999;
  text-align: left;
  font-size: 1em;
  font-style: normal;

  li {
    border-bottom: 1px solid $color-blue;

    a {
      z-index: 999;
      width: 100%;
      height: 100%;
      display: inline-block;
      padding: 0.3em;
    }
  }
  .copied-successfully {
    display: none;
    padding: 0.3em;
  }
}

.offscreen {
  position: fixed !important;
  left: -999em;
}

.case-container {
  padding-bottom: 100px !important;
}

.metadata {
  @include make-col(10);
}

section.casebody {
  @include make-col(12);
}

blockquote {
  padding: 0 1em;
}

p.small-text {
  font-size: 14px;
  font-weight: $font-weight-semibold;
}

.reporter-and-volume {
  font-family: $font-serif;
  color: $color-violet-gray-dark;

}

.case-viewing-error {
  font-family: $font-serif;
  color: $color-violet-gray-dark;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

.case-name {
  @include make-col(8);
  @include make-col-offset(2);
  font-family: $font-serif;
  .case-name-v {
    display: block;
    margin: .5em;
    font-style: italic;
  }
}

#citation_container {
  @extend .col-centered;
}

#citation_for_copy {
  font-weight: normal;
  text-align: center;
  padding-left: 8px;
  border: 0;
  outline: none;
}

#citation_copy {
  padding: 4px 10px 3px;
  border: 1px solid $color-violet;
  position: relative;
  top: -2px;
  margin-bottom: 0;
}

#citation_copy > img {
  height: 12px;
  width: 12px;
  margin-top: -7px;
  margin-left: -2px;
  cursor: pointer;
}

section.head-matter {
  padding-bottom: 0;
  p, aside {
    // on large screens, head matter goes into a narrower column
    margin-top: 1em;
    margin-bottom: 1em;
    &.summary, &.history, &.headnotes, &.disposition, &.syllabus {
      margin-top: 0;
      margin-bottom: 0;

      margin-left: 5em;
      // on small screens, don't make head matter narrow
      @media (max-width: 767.98px) {
        margin-left: 6em;
      }
    }
    &.attorneys {
      margin-top: 0;
    }
  }
}

.attorneys {
  font-family: $font-serif;
  letter-spacing: 0;
  margin-bottom: 0.5em;
}

@mixin head-matter-label {
  font-weight: bold;
  color: $color-violet-gray;
  word-break: break-all;
  position: absolute;

  // on large screens, label is right-aligned to left of paragraph
  margin-left: -10em;
  width: 9em;
  text-align: right;

  // on small screens, label is left-aligned to left of paragraph
  @media (max-width: 767.98px) {
    margin-left: -6em;
    width: 5em;
    text-align: left;
  }
}

.parties, .docketnumber, .decisiondate {
  display: none;
}

.attorneys, .judges {
  text-align: center;
  font-size: 1.25rem;
}

mark {
  background: $color-pink;
  padding: 0;
}

.author {
  font-size: 1.25rem;
  color: $color-magenta;
}

.headnotes:before {
  @include head-matter-label;
  content: "Headnote: ";
}

.summary:before {
  @include head-matter-label;
  content: "Summary: ";
}

.history:before {
  @include head-matter-label;
  content: "History: ";
}

.disposition:before {
  @include head-matter-label;
  content: "Disposition: ";
}

.syllabus:before {
  @include head-matter-label;
  content: "Syllabus: ";
}

//*** opinion

.author:before {
  content: "Author: ";
  color: $color-black;
}

.opinion {
  padding-top: 2em;
  &:before {
    content: "Opinion";
    font-weight: bold;
  }

  > p {
    margin-bottom: 15px;
  }
}

.footnotemark {
  border-bottom: 0;
  font-weight: $font-weight-semibold;
  margin-bottom: 5px;
  color: $color-magenta;
  vertical-align: super;
}

.footnote {
  font-size: 0.9em;
  margin-left: 2em;
  line-height: $line-height-sm;
  position: relative;

  > p, > blockquote {
    margin-bottom: .5em;
  }

  // footnote number
  > a {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    padding-right: 1em;
    border-bottom: 0;
    font-weight: $font-weight-semibold;
    color: $color-magenta;
  }

  // highlight selected footnote
  &:target {
    background-color: #FFF1F8;
  }

  // hide floating page label within footnotes
  .page-label:before {
    display: none;
  }
}

.page-label {
  color: $color-medium-gray;
  font-size: .8em;
  padding: .4em;

  &:before {
    display: inline-block;
    content: attr(data-label);
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    padding-right: 1em;
    font-size: 1.2rem;
  }
}

// to position .page-label:before
.head-matter > *, .opinion > * {
  position: relative;
}

.redacted-text {
  &::before {
    content: "[ "
  }
  &::after {
    content: " ]"
  }
  background-color: $color-tan;
  color: $color-black;
  opacity: 0.8;
  font-weight: $font-weight-regular;
  font-style: normal;
  padding: 2px 5px;
}

.elided-text {
  cursor: pointer;
  background-color: $color-tan;
  color: $color-blue;
  padding: 2px 5px;
}

.custom-case-footer {
  width: 100%;
  background-color: transparent;
  font-size: $font-size-sm;
  line-height: 1.7em;
  text-align: center;
}
