@import "base.scss";
@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';
@import 'bootstrap/tooltip';

@import "case_sidebar";

@media print {
  #main-nav {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .main-content {
    padding-top: 0 !important;
  }
  .alert {
    text-align: center;
  }
}

.casebody {
  img {
    max-width: 100%;
    height: auto;
  }

  section {
    // for .page-label:before absolute positioning
    position: relative;
  }

  p {
    font-family: $font-serif;
  }
}

section, article {
  @include make-col(11);
  @extend .col-centered;
  @include media-breakpoint-up(lg) {
    @include make-col(10);
  }
  padding-top: 1em;

}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.case-header {
  font-size: 0.9em;
  font-family: $font-serif-fancy;
  text-align: center;
  padding: 2em 2em 0;
  @include media-breakpoint-up(lg) {
    padding: 0;
    &::after {
      content: '*';
      color: $color-medium-gray;
    }
  }

  > h1 {
    font-family: $font-serif-fancy;
    font-weight: $font-weight-bold;
    font-size: 1.3em;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
  }

  .decision-date, .court-name {
    line-height: 1.4em;
  }

  .citations {
    line-height: 2em;
  }
}

.tooltip {
  cursor: pointer;
}

.offscreen {
  position: fixed !important;
  left: -999em;
}

.case-container {
  padding-bottom: 100px !important;
  padding-top: 0;
}

.metadata {
  @include make-col(10);
}

section.casebody {
  @include make-col(12);
}

blockquote {
  font-family: $font-serif;
  padding: 0 1em;
  background-color: $color-light-gray;
}

p.small-text {
  font-family: $font-serif;
  font-size: 14px;
  font-weight: $font-weight-semibold;
}

.reporter-and-volume {
  font-family: $font-serif;
  color: $color-violet-gray-dark;

}

.case-viewing-error {
  font-family: $font-serif;
  color: $color-violet-gray-dark;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

.case-name {
  @include make-col(8);
  @include make-col-offset(2);
  font-family: $font-serif;
  .case-name-v {
    display: block;
    margin: .5em;
    font-style: italic;
  }
}

#citation_container {
  @extend .col-centered;
}

#citation_for_copy {
  font-weight: normal;
  text-align: center;
  padding-left: 8px;
  border: 0;
  outline: none;
}

#citation_copy {
  padding: 4px 10px 3px;
  border: 1px solid $color-violet;
  position: relative;
  top: -2px;
  margin-bottom: 0;
}

#citation_copy > img {
  height: 12px;
  width: 12px;
  margin-top: -7px;
  margin-left: -2px;
  cursor: pointer;
}

section.head-matter {
  padding-bottom: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  p, aside {
      &.summary, &.history, &.headnotes, &.disposition, &.syllabus, &.attorneys {
        margin-bottom: 0;
        margin-top: 0;
        background-color: $color-light-gray;
        padding: 0rem 2rem 1rem 2rem;
      }
  }

  @mixin head-matter-label {
      padding-left: 0;
      font-family: $font-sans-title;
      font-weight: bold;
      color: $color-medium-gray;
      word-break: break-all;
      text-align: left;
      font-size: 1rem;
      text-transform: uppercase;
      position: absolute;
      top: 1rem;
  }

  :not(.headnotes) + .headnotes:before, :not(.summary) + .summary:before, :not(.history) + .history:before,
  :not(.syllabus) + .syllabus:before, :not(.disposition) + .disposition:before, :not(.attorneys) + .attorneys:before {
    @include head-matter-label;
    content: attr(class);
  }

  :not(.footnote) + .footnote:before {
    @include head-matter-label;
    content: "Head Matter Footnotes";
  }

  :not(.headnotes) + .headnotes, :not(.summary) + .summary, :not(.history) + .history,
  :not(.syllabus) + .syllabus, :not(.disposition) + .disposition, :not(.attorneys) + .attorneys,
  :not(.footnote) + .footnote {
      margin-top: 1rem;
      padding-bottom: 1rem;
      padding-top: 3rem;
  }

  .page-label:before {
    display: none;
    /*
    display: inline-block;
    content: attr(data-label);
    position: absolute;
    transform: translateX(30%);
    padding-right: 0;
    font-size: 1.2rem;
    padding-left: 0;
    padding-top: 2rem;
    */
  }

  .footnote {
        margin-bottom: 0;
        margin-top: 0;
        background-color: $color-light-gray;
        padding: 0rem 2rem 1rem 2rem;
  }

  .footnote > p, footnote > blockquote {
    padding-bottom: .5em;
    margin-bottom: 0;
  }
}

.parties, .docketnumber, .decisiondate {
  display: none;
}

.attorneys, .judges {
  text-align: left;
  font-size: 1.25rem;
}

mark {
  background: $color-pink;
  padding: 0;
}

.author {
  font-size: 1.25rem;
  color: $color-magenta;
}



//*** opinion

.author:before {
  content: "Author: ";
  color: $color-black;
}

.opinion {
  padding-top: 2em;
  &:before {
    content: "Opinion";
    font-weight: bold;
    font-family: $font-serif-fancy;
  }

  > p {
    margin-bottom: 15px;
  }
}

.footnotemark {
  border-bottom: 0;
  margin-bottom: 5px;
  color: $color-magenta;
  vertical-align: super;
  font-size: .75rem;
  font-weight: bold;
}

.footnote {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  padding: 0rem 2rem 1rem 2rem;
  line-height: $line-height-sm;
  position: relative;


  > p, > blockquote {
    margin-bottom: .5em;
    margin-top: 0;
  }

  // footnote number
  > a {
    position: absolute;
    left: 0;
    transform: translateX(30%);
    border-bottom: 0;
    font-weight: $font-weight-bold;
    color: $color-magenta;
    font-family: $font-serif;
    font-size: .75rem;
  }

  // highlight selected footnote
  &:target {
    background-color: #FFF1F8;
  }

  // hide floating page label within footnotes
  .page-label:before {
    display: none;
    text-align: left;
  }
}

.page-label {
  color: $color-medium-gray;
  font-size: .8em;
  padding: .4em;
  font-style: italic;
  &:before {
    display: inline-block;
    content: attr(data-label);
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    padding-right: 1em;
    font-size: 1.2rem;
  }
}

// to position .page-label:before
.head-matter > *, .opinion > * {
  position: relative;
}

.redacted-text {
  &::before {
    content: "[ "
  }
  &::after {
    content: " ]"
  }
  background-color: $color-tan;
  color: $color-black;
  opacity: 0.8;
  font-weight: $font-weight-regular;
  font-style: normal;
  padding: 2px 5px;
}

.elided-text {
  cursor: pointer;
  background-color: $color-tan;
  color: $color-blue;
  padding: 2px 5px;
}

.custom-case-footer {
  width: 100%;
  background-color: transparent;
  font-size: $font-size-sm;
  line-height: 1.7em;
  text-align: center;
}
