@import 'variables';
@import 'bootstrap/mixins/_grid';


.top-section {
  padding: 0;
}
.title-section {
  @include make-col(12);
  @include make-col-offset(0);
  padding: 0;
  letter-spacing: inherit;
}
.case-header {
  font-size: 1.1em;
  font-family: $font-sans-serif;
  h1 {
    font-family: $font-sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
  }
  .decision-date, .court-name {
    margin-right: 1em;
  }
  .docket-number {}
  .citations {
    line-height: 1em;
  }
}

#sidebar-menu {
  padding: 0;
  font-size: $font-size-sm;
  font-family: $font-sans-serif;
  color: $color-violet-gray-dark;
  h2, h3 {
    font-family: $font-sans-serif;
    color: $color-medium-gray;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }
  .content {
    padding: 1em;
  }
  .sidebar-section {
    padding: 0 1rem 1rem 1rem;
    ul {
      margin: 0;
    }
  }
  .sidebar-title {
    text-transform: uppercase;
    padding-left: 0;
  }

  .sidebar-section-contents {
    line-height: 1.25rem;
    letter-spacing: 0.03rem;
  }
  .outline {
    li {
      text-transform: capitalize;
    }
  }

  .btn {
    border: 2px solid $color-blue;
    color: $color-blue;
    font-size: 0.9em;
  }

  hr {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }

  @include media-breakpoint-down(md) {
    display: block;
    text-align: center;
    @include make-col(10);
    @include make-col-offset(1);
    .case-header {
      margin-top: 1em;
    }
    .content {
      position: unset;
      height: unset;
    }
    #format-section,
    #tools-section,
    #analysis-section,
    #info-section,
    #citing-section,
    .sidebar-title,
    hr.rule {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
    @include make-col-offset(0);
  }
}