@import "base.scss";
@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';
@import 'bootstrap/tooltip';

.main-content {
  // undo @include make-col(9); from base
  max-width: unset !important;
  flex: unset !important;
}

section, article {
  @include make-col(11);
  @extend .col-centered;
  @include media-breakpoint-up(lg) {
    @include make-col(10);
  }
  padding-top: 1em;

}
