@import "_variables.scss";

//*** head matter

h1{
  font-size: 2rem;
}

section.head-matter{
  p, aside{
    // on large screens, head matter goes into a narrower column
    margin-left: 10em;
    margin-right: 10em;

    // on small screens, don't make head matter narrow
    @media (max-width: 767.98px) {
      margin-left: 6em;
      margin-right: 0;
    }

    position:relative;
  }
}

@mixin head-matter-label{
  font-weight: bold;
  color: #888;
  word-break: break-word;
  position: absolute;

  // on large screens, label is right-aligned to left of paragraph
  margin-left: -10em;
  width: 9em;
  text-align: right;

  // on small screens, label is left-aligned to left of paragraph
  @media (max-width: 767.98px) {
    margin-left: -6em;
    width: 5em;
    text-align: left;
  }
}

.parties{
  text-align: center;
}

.decisiondate, .attorneys, .judges{
  text-align: center;
  font-size: 1.25rem;
}

.author{
  font-size: 1.25rem;
}
.headnotes:before {
  @include head-matter-label;
  content: "Headnote: ";
}
.summary:before {
  @include head-matter-label;
  content: "Summary: ";
}
.history:before {
  @include head-matter-label;
  content: "History: ";
}

.disposition:before {
  @include head-matter-label;
  content: "Disposition: ";
}

.syllabus:before {
  @include head-matter-label;
  content: "Syllabus: ";
}

//*** opinion

.author:before {
  content: "Author: ";
}

.opinion{
  padding-top: 2em;

  &:before {
    content: "Opinion";
    font-weight: bold;
  }

  > p {
    margin-bottom: 15px;
  }
}

.footnote{
  padding: .3em;

  > p {
    font-size: 0.75rem;
    margin-bottom: 8px;
    margin-left: 2em;
  }

  // footnote number
  > a {
    float: left;
    font-size: 0.75rem;
  }

  // highlight selected footnote
  &:target {
    background-color: #BFEFFF;
  }
}
