@import "base.scss";
@import "bootstrap/breadcrumb";

.breadcrumb {
  border-radius: 0;
  background-color: $color-light-gray;
  font-size: small;
  .breadcrumb-item {
    a {
      color: $color-dark-blue;
    }
    &.active {
      a {
        color: $color-blue;
      }
    }
  }
}

h1.page-title, h4 {
  @extend h4;
  line-height: 1.4em;
  letter-spacing: 0;
  font-family: $font-serif !important;
}

.basic-page {
  background: $color-white;
}

.cite-container {
  @extend .case-container;
  padding-bottom: 100px !important;
  min-width: 85%;
}