@import "base.scss";
@import "bootstrap/breadcrumb";

.breadcrumb {
  border-radius: 0;
  background-color: $color-light-gray;
  font-size: small;
  .breadcrumb-item {
    a {
      color: $color-dark-blue;
    }
    &.active {
      a {
        color: $color-blue;
      }
    }
  }
}

ul.third-party-dbs {
  li {
    margin-bottom: 0.5em;
  }
}

.btn {
  .locked-access {
    height: 14px;
    margin-bottom: 9px;
  }
}

.basic-page {
  background: $color-white;
}

.cite-container {
  @extend .case-container;
  padding-bottom: 100px !important;
  min-width: 85%;
}
