@import 'variables';
@import 'footer/black';

.basic-page {
  background-color: $color-yellow;
  .email-link {
    color: $color-black;
    border-bottom: 4px solid $color-blue;
    &:hover, &:active, &:focus {
      color: $color-blue;
      border-bottom: 4px solid $color-blue;
    }
  }
}

.content {
  width: 100%;
}

form {
  width: 100%;
}

input, textarea {
  border: 0;
}

.errorlist {
  li {
    color: $color-dark-blue;
    font-size: 0.9rem;
  }
}

.contact-form {
  // hide box1 so it will only be filled by spam bots
  label[for="id_box1"] {
    display: none;
  }
  textarea[name="box1"] {
    display: none;
  }
}