@import "variables";

nav {
  padding: 0;
  width: 100%;
}

.page-header h1 {
  letter-spacing: 1px;
}

/* give container closest to nav some padding */
nav[aria-label="main"] ~ .container {
  padding-top: 90px;
}

.param-label {
  font-weight: bold;
}

.list-group-item > ul {
  font-size: 14px;
}

.parameter-name {
  margin-left: -10px;
}

li > code {
  background-color: inherit;
}

.endpoint-link {
  font-weight: bold;
}

dt {
  margin-top: 2rem;
}

lh{
  font-weight: bold;
}

.param-data-type::before {
  font-weight: bold;
  content: "data type: ";
}

.param-description::before {
  font-weight: bold;
  content: "description: ";
}

dt.example-description {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1em;
}

.example-link {
  font-size: 0.65em;
}

h5.list-header {
  font-family: "titillium", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  color: $color-black;
}

li > h5.list-header {
  font-size: 0.9em;
 }

.example-mod-description {
  font-size: 14px;
}

.json-data-type {
  color: $blue;
  font-style: italic;
}

.code-example-casebody-section {
  color: $red;
}

#sidebar-menu {
  background-color: $color-white;
}
