@import "_variables.scss";
.docs {
  @extend .header-margin;
}

section {
  padding: 15px;
}

.nav-toc.sidebar {
  position: fixed;
  background: $color-light-gray;
  min-height: 100%;
  padding-top: 60px;
  padding-left: 15px;
  li {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: $color-black;
    text-align: right;
    list-style: none;
    padding: 10px 0;
    background: transparent;
  }
  li a {
    color: $color-black;
    text-decoration: none;
    &:hover, &:focus, &:active {
      color: $color-blue;
    }
  }
  li.credits{
    font-size: 12px;
    padding-left: 20px;
    a {
      color: $color-blue;
      &:hover {
        border-bottom: 1px solid $color-blue;
      }
    }
  }

  ul {
    min-width: 80%;
  }
}

ul li {
    list-style-type: '- ';
  &.simple-list-item {
    list-style-type: none;
  }
}


.reading-body {
  margin-left: auto !important;
  float: none;
  display: table-cell; }
  .reading-body p {
    max-width: 85%; }

.anchor-offset {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.subsection {
  line-height: 3rem;
  margin-bottom: 0;
}

.json-response {
  border: 1px solid $color-black;
  padding: 10px;
}

