@import "base.scss";
@import "bootstrap/breadcrumb";

.top-section.compressed h1 {
  padding-bottom: 0;
}
ul.download-files-list {
  li{
    list-style-type: none;
    &::before {
      content: "- ";
    }
  }
}

.basic-page .main-content {
  padding-top: 0;
}

nav[aria-label="breadcrumb"] ol {
  border-radius: 0;
}
