footer {
  z-index: 999;
  font-size: 18px;
}

.footer-content > :nth-child(2) {
  text-align: right;
}

.footer-content {
  margin: 0 auto;
  padding: 3rem 0;
  @include make-col(11);
  nav[aria-label="footer"] {
    text-align: right;
  }
  .social {
    margin-top: 2rem;
    width: 200px;
    span {
      margin-left: 0.2rem;
    }
  }
  @include media-breakpoint-down(xs) {
    nav[aria-label="footer"] {
      display: none;
    }
    .col {
      @include make-col(12);
      text-align: center;
    }
    .lil-logo {
      margin: 0 auto;
    }
    .social {
      margin: 2rem auto;
      width: 90px;
    }
  }
  a {
    color: $color-black;
    border-bottom: 0;
    &:hover, &:focus, &:active {
      color: $color-blue;
      border-bottom: 0;
    }
  }
  .links li {
    @extend .fix-list-item;
  }
  .return-to-top {
    @include make-col(12);
    font-weight: $font-weight-normal;
    text-align: center;
    a {
      font-weight: $font-weight-normal;
      border-bottom: 0;
      &:hover, &:active, &:focus {
        color: $color-yellow;
        text-decoration: none;
      }
    }
    .arrow {
      font-size: 2rem;
    }
  }
}
