@import 'social.scss';
/*
                    _
 _ __ ___  __ _  __| |  _ __ ___   ___
| '__/ _ \/ _` |/ _` | | '_ ` _ \ / _ \
| | |  __/ (_| | (_| | | | | | | |  __/
|_|  \___|\__,_|\__,_| |_| |_| |_|\___|
 _           __                           _ _ _   _
| |__   ___ / _| ___  _ __ ___    ___  __| (_) |_(_)_ __   __ _
| '_ \ / _ \ |_ / _ \| '__/ _ \  / _ \/ _` | | __| | '_ \ / _` |
| |_) |  __/  _| (_) | | |  __/ |  __/ (_| | | |_| | | | | (_| |
|_.__/ \___|_|  \___/|_|  \___|  \___|\__,_|_|\__|_|_| |_|\__, |
                                                          |___/

I'm trying out a new format for CSS here. It involves defining and setting up a grid layout
first, and then having styling/padding/spacing/etc below it in a separate section.

I think this separation of concerns will make it easier to understand how our layouts work
at a glance, promote defining a proper layout that accomplishes your broad stroke goals
before diving into details and find adjustments, and makes it easier to see the implications
of overly broad fine adjustments... Is it breaking the actualy layout, or do things just
need to be shifted around a little? I also think it promotes more modular components rather
than having each element be entirely in an island unto itself. I do think it will make
hacks a little more difficult, but hopefully, it'll make them a lot less necessary.

And I'm probably hoping to get way too much out of this, but I'd be love to hear feedback.

-Andy
 */



/*| __ _ _   _  ___  _   _| |_
| |/ _` | | | |/ _ \| | | | __|
| | (_| | |_| | (_) | |_| | |_
|_|\__,_|\__, |\___/ \__,_|\__|
         |___/
grid layout only-- styles below */

footer {
  display: grid;
  height: 22rem;

  @include media-breakpoint-up(lg) {
    height: 30rem;
  }

  //phone
  grid-template-areas: "logo      sitemap"
                       "links     sitemap"
                       "copyright sitemap";
  grid-template-rows: 8rem 7rem 5rem;
  grid-template-columns: 1fr 1fr;

  //tablet or landscape phone
  @include media-breakpoint-up(sm) {
    grid-template-areas: "logo      .         sitemap"
                         "links     .         sitemap"
                         ".         .         ."
                         "copyright copyright copyright";
    grid-template-rows: 9rem 9rem 2rem 2rem;
    grid-template-columns: minmax(155px, 1fr) 1fr 20rem;
  }

  @include media-breakpoint-up(md) {
    grid-template-areas: "links     logo sitemap"
                         ".         .         ."
                         "copyright copyright copyright";
    grid-template-rows: 17rem 2rem 2rem;
    grid-template-columns: minmax(155px, 1fr) 2fr 20rem;
    grid-column-gap: 5rem;
  }

  //desktop or landscape tablet
  @include media-breakpoint-up(lg) {
    grid-template-areas: "links     logo      sitemap"
                         ".         .         .      "
                         "copyright copyright copyright";
    grid-template-rows: 27rem 1rem 2rem;
    grid-template-columns: minmax(155px, 1fr) minmax(120px, 2fr) 35rem;
    grid-column-gap: 5rem;
  }

  @include media-breakpoint-up(xl) {
    grid-template-areas: "links     logo sitemap"
                         "copyright copyright copyright";
    grid-template-rows: 27rem 3rem;
    grid-template-columns: minmax(155px, 2fr) minmax(235px, 4fr) 40rem;
    grid-column-gap: 5rem;
  }

  @include media-breakpoint-up(xxl) {
    grid-template-areas: "links     logo sitemap"
                         "copyright copyright copyright";
    grid-template-rows: 27rem 3rem;
    grid-template-columns: minmax(155px, 2fr) minmax(235px, 4fr) 40rem;
    grid-column-gap: 5rem;
  }


  .links {
    grid-area: links;
    display: grid;
    grid-template-areas: "social" "policy";
    grid-template-rows: 2rem 4rem;
    .social {
      grid-area: social;
    }
    .policy {
      grid-area: policy;
    }
  }
  .logo {
    grid-area: logo;
  }
  .sitemap {
    grid-area: sitemap;
    display: grid;
    /* sitemap links grid layout */
    .gallery {
      grid-area: gallery;
    }
    .docs {
      grid-area: docs;
    }
    .caselaw {
      grid-area: caselaw;
    }
    //xs phone
    grid-template-areas: "docs gallery" "caselaw gallery";
    grid-template-rows: 4fr 5fr;
    grid-template-columns: 1fr 1fr;

    // tablet/desktop
    @include media-breakpoint-up(sm) {
      grid-template-areas: "caselaw gallery docs";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  .copyright {
    grid-area: copyright;
  }
}

/*   _         _ _
 ___| |_ _   _| (_)_ __   __ _
/ __| __| | | | | | '_ \ / _` |
\__ \ |_| |_| | | | | | | (_| |
|___/\__|\__, |_|_|_| |_|\__, |
         |___/           |___/

style & fine spacing adjustments only-- grid layout above */

footer {
    /* resets */
  section {
    padding: 0;
  }
  .social {
    display: unset;
  }

  padding-left: .5rem;
  hyphens: none;
  letter-spacing: 0;
  background-color: $color-black;
  color: $color-white;

  .logo {
    padding-top: .75rem;
    a {
      @extend %footer-lil-logo-white;
      background-size: 10rem !important;
      padding-top: .5rem;
      @include media-breakpoint-up(xl) {
        background-size: 15rem !important;
        width: unset;
        height: 135px;
      }
      @media (min-width: 1600px) {
        background-size: 25rem !important;
        width: unset;
        height: 200px;
      }
    }
  }

  .links {
    .social {
      a {
        background-position: -30px;
        @include media-breakpoint-up(md) {
          background-position: -60px;
        }
      }
    }
    .policy {
      .policylink {
        a {
          font-size: $font-size-sm;
          color: $color-yellow;
            @include media-breakpoint-up(md) {
              font-size: 14pt;
            }
            @include media-breakpoint-up(lg) {
            }
            @include media-breakpoint-up(xl) {
            }
        }
        @include media-breakpoint-up(md) {
          margin-bottom: .5rem;
        }
      }
      .policylink:first-of-type {
        padding-top: .25em;
      }
    }
    @include media-breakpoint-up(md) {
      padding-top: 2rem;
      padding-left: 1rem;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 2rem;
      padding-left: 2rem;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 3rem;
      padding-left: 2rem;
    }
  }

  .sitemap {
    padding-top: 2rem;
    /* sitemap links styling */
    h6{
      font-weight: bold;
      color: $color-yellow;
      margin: 0;
      @include media-breakpoint-up(lg) {
        font-size: 2rem;
        line-height: 1rem;
        margin-bottom: 1rem;
      }
    }
    ul {
      margin-bottom: 0;
      li{
        padding-top: .25rem;
        a {
          font-size: $font-size-sm;
          color: $color-white;
          @include media-breakpoint-up(lg) {
            font-size: $font-size-lg;
          }
        }
        a:hover {
          color: $color-violet-light;
        }


      }
      li:first-of-type{
        padding-top: 0;
      }
    }
    @include media-breakpoint-up(xl) {
      padding-top: 3rem;
    }
  }

  .copyright {
    font-size: 10pt;
    line-height: 9pt;
    padding: .5em;
    align-self: flex-end;
    word-break: break-word;
    text-align: center;
    span {
      display: inline;
    }
  }
}


