@import 'variables';
@import 'footer/yellow';

@include media-breakpoint-down(md) {
  .dropdown-item {
    background-color: $color-white;
    color: $color-black !important;
    border-bottom: $border-width solid $color-black;
  }
}

.subtitle.simple-subtitle {
  &:before {
    content: "";
    margin: 0;
  }
}

.page-section {
  margin-bottom: 4rem !important;
  border-bottom: $border-width solid $color-gray;
  padding-bottom: 3rem;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.project-description {
  @include media-breakpoint-up(lg) {
    @include make-col(8);
    float: right;
  }
}

.project-image {
  > a { border-bottom: 0; }
  @include media-breakpoint-up(lg) {
    @include make-col(3);
     .main-img {
       max-width: 80%;
       margin-top: 25%;
    }
  }
   @include media-breakpoint-down(md) {
     @include make-col(12);
     .main-img {
       display: none;
     }
   }
  .main-img {
    border-radius: 50%;
    border: 1px solid $color-gray;
  }
}

/* project specific style */

.limerick-body {
  font-size: 1.5rem;
  font-weight: $font-weight-light;
  font-style: italic;
}

.wordcloud-item {
  width: 200px !important;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $color-magenta;
  &:hover, &:active, &:focus {
    border: 1px solid $color-violet;
  }
  .year {
    font-weight: $font-weight-semibold;
    margin-top: 1rem;
    text-align: center;
  }
}

