@import 'variables';
@import 'footer/black';

h1 {
  @include sr-only;
}

/*
 * specialized lettering for index page
 */

@mixin header-styles {
  display: block;
  font-family: $font-serif;
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
}

.splash-quote span {
  @extend .h3;
  @include header-styles;
}

.section-title {
  @extend .h1;
  @include header-styles;
  font-weight: $font-weight-normal;
}

.section-subtitle {
  @extend .h5;
  @include header-styles;
  margin-bottom: 1em;
  margin-top: 20px;
}

.number {
  @extend .h1;
  @include header-styles;

  .content-small-screen & {
    font-family: $font-sans-serif;
    font-size: 5rem;
  }
}

.pages-scanned-number, .reporters-number {
  @include header-styles;
  font-size: 3rem;
}

.pages-scanned-number {
  font-family: $font-sans-serif;
}

.label {
  @extend .h5;
  @include header-styles;
  font-family: $font-sans-serif;
  font-weight: $font-weight-semibold;
}

.label-big {
  @include header-styles;
  font-size: 1.8rem;
  font-family: $font-sans-serif;
}

.content-right h3 {
  @extend .h5;
  font-family: $font-sans-serif;
}

/* on index, display white background logo on small screens
  display black background logo in all other instances */
@include media-breakpoint-down(sm) {
  .branding-standalone {
    display: inline-block;
    padding: 0.5rem;
    min-height: 90px;
  }
  
  .branding {
    .nav-branding {
      background: url("../../img/logos/black.svg") no-repeat;
      background-size: contain;
      &:hover, &:focus, &:active {
        background: url("../../img/logos/violet-black.svg") no-repeat;
        background-size: contain;
      }
    }
  }

  nav[aria-label="main"] {
    .branding {
      display: none;
    }
    &.sticky {
      .branding {
        display: inline-block;
      }
    }
  }
}

/* show light border in homepage */
nav[aria-label="main"] {
  border-bottom: 1px solid $color-white;
}
