@import 'variables';
@import 'base.scss';
@import 'map';
@import 'footer/black';

/**************************************************************
*
* == Global Stuff ==
*
* For classes that are basically the same in multiple sections
*
***************************************************************/

.section-separator {
  border-top: 2px solid $color-white;
  width: 75%;
  @include media-breakpoint-up(lg) {
    width: 68%
  }
}

.social {
  display: none;
}

// Stuff in the headline elements
@mixin header-styles {
  display: block;
  font-family: $font-sans-serif;
  font-weight: $font-weight-semibold;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
}

h2.section-title {
  @extend .h1;
  @include header-styles;
  font-family: $font-sans-title;
  letter-spacing: 0.16rem;
  font-size: 2.25rem;
  @include media-breakpoint-only(xl) {
    font-size: 4rem;
  }
  @include media-breakpoint-only(lg) {
    font-size: 3rem;
  }
  @include media-breakpoint-only(md) {
    font-size: 2.5rem;
  }
  @include media-breakpoint-only(sm) {
    font-size: 2.75rem;
    margin-bottom: 0;
  }
  &.long-title {
    @include media-breakpoint-up(lg) {
      font-size: 3.5rem;
      letter-spacing: 0;
      line-height: 1em;
    }
  }
}

.section-intro {
  line-height: 1.75rem;
}

.section-subtitle {
  hyphens: none;
}

// Stuff in the boxcontainer elements
.small-screen-boxcontainer-title {
  font-size: 1.5rem;
  font-weight: $font-weight-semibold;
  margin-bottom: .5rem;
}

.boxcontainer-body {
  p {
    line-height: 1.65rem;
    @include media-breakpoint-down(lg) {
      font-size: 1.125rem;
      line-height: 1.45rem;
    }
  }
}

.boxcontainer-img {
  max-width: 100%;
  border: 1px solid white;
}

.short-standalone-quote {
  font-size: 1.4rem;
  font-family: $font-sans-serif;
  color: $color-white;
  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
  }
}

.item-credit {
  font-size: $font-size-sm;
  font-family: $font-sans-serif;
  color: $color-yellow;
  line-height: 1.25rem;
}

.short-standalone-quote:before {
  content: open-quote;
}

.short-standalone-quote:after {
  content: close-quote;
}

/**************************************************************
*
* == Splash Quote Section ==
*
***************************************************************/

.splash-quote-section {
  h1 {
    @include sr-only;
  }
  #splash-quote {
    @include header-styles;
    letter-spacing: .065rem;
    color: $color-white;
    line-height: 1.26;
    font-family: $font-serif-fancy;
    font-weight: normal;
    font-size: 3.25rem;
    @include media-breakpoint-down(lg) {
      font-size: 2.75rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 2rem;
    }
    hyphens: none;
  }

}

/**************************************************************
*
* == Map Section ==
*
***************************************************************/

.map-section:before {
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 20px solid rgba(0, 0, 0, 0);
  border-top-color: $color-black;
  margin-left: -20px;
  margin-top: -1px;
}

.map-section {
  background-color: $color-black;
  .federal-numbers-boxcontainer {
    max-width: 19rem;
    .boxcontainer-header {
      font-family: $font-sans-serif;
      font-size: 1.75rem;
      letter-spacing: .08rem;
    }
    .boxcontainer-title {
      border-bottom: 1px solid #fff;
      font-family: $font-serif;
    }
    .number-set {
      letter-spacing: .06rem;
      .figure {
        font-size: 1.8rem;
        font-family: $font-serif;
      }
    }
  }

  .state-numbers-boxcontainer {
    max-width: 19rem;
    .boxcontainer-body {
      letter-spacing: 0.05rem;
    }
    .boxcontainer-header {
      font-family: $font-sans-serif;
      font-size: 1.75rem;
      letter-spacing: .08rem;
    }
    .boxcontainer-title {
      border-bottom: 1px solid #fff;
      font-family: $font-serif;
    }
    .number-set {
      letter-spacing: .06rem;
      .figure {
        font-size: 1.3rem;
        font-family: $font-serif;
      }
    }
  }
  .map {
    margin-top: -2rem;
  }
  .content-row {
    margin-bottom: 2rem;
  }
  .small-screen-map-section {
    font-family: $font-sans-title;
    .bignumber {
      font-size: 5em;
      font-weight: $font-weight-black;
      line-height: 6rem;
      margin-bottom: 0;
      @include media-breakpoint-only(sm) {
        font-size: 8em;
        line-height: 9rem;
      }
    }
    .sixtwentyseven {
      font-size: 3.5rem;
      font-weight: $font-weight-bold;
      border-right: 2px solid $color-white;
      line-height: 2rem;
      letter-spacing: .2rem;
      @include media-breakpoint-only(sm) {
        line-height: 4rem;
        border-right: 4px solid $color-white;
        font-size: 6rem;
      }
    }

    .million {
      font-weight: $font-weight-black;
      font-size: 1.5rem;
      @include media-breakpoint-only(sm) {
        font-size: 3rem;
      }
    }
    .uniquecases {
      font-size: 1.2rem;
      font-weight: $font-weight-semibold;
      @include media-breakpoint-only(sm) {
        font-size: 2.15rem;
      }
    }
    .fortym {
      font-weight: $font-weight-extra-light;
      font-family: $font-sans-title;
      font-size: 3.5rem;
      line-height: 2rem;
      @include media-breakpoint-only(sm) {
        line-height: 4rem;
        font-size: 6rem;
      }
    }
    .bottom-text {
      letter-spacing: .075rem;
      font-size: 1.1rem;
      font-weight: $font-weight-semibold;
      @include media-breakpoint-only(sm) {
        font-size: 1.85rem;
      }
    }
    .bottom-text-border {
      border-right: 2px solid $color-white;
      @include media-breakpoint-only(sm) {
        border-right: 4px solid $color-white;
      }
    }
    .vseparator {
      border-top: 2px solid $color-white;
      @include media-breakpoint-only(sm) {
        border-top: 4px solid $color-white;
      }
    }

  }
}

.map-section:after {
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 50px solid rgba(0, 0, 0, 0);
  border-top-color: $color-black;
  margin-left: -50px;
  margin-top: -8rem;
  transform: rotate(180deg);
  display: inline-block;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

/**************************************************************
*
* == Dive-In Section ==
*
***************************************************************/
/*
.dive-in-section {
  .boxcontainer-body {
    p {
      @include media-breakpoint-down(lg){
        font-size: 1rem;
      }
    }
  }

}
*/

/**************************************************************
*
* == Contact Section ==
*
***************************************************************/

.contact-section {

  label[for=id_email] {
    @include sr-only;
  }

  #id_email {
    border: 0;
  }

  form.email_form {
    margin-bottom: 0;
    .alert {
      font-size: $font-size-sm;
      padding: .25rem;
    }
    button.close {
      display: none;
    }
    .invalid-feedback {
      display: none;
    }
  }

  .follow {
    font-family: $font-serif;
    font-size: $font-size-base;
    line-height: 1.25rem;
  }

  .add {
    font-family: $font-sans-serif;
    font-size: $font-size-sm;
    line-height: 1.25rem;
    @include media-breakpoint-down(md) {
      font-size: $font-size-base;
    }
  }

  .promise {
    font-family: $font-sans-serif;
    font-size: $font-size-sm;
    line-height: 1.25rem;
  }
  .social-top {
    @extend .social;
  }
}
