@import "variables";



#labs-nav {
  padding-left: .5rem;
  padding-top: .5rem;
  display: grid;
  grid-template-areas: "logo . project-title . links";
  grid-template-columns: 187px 1fr 5fr 1fr 20rem;
  background-color: #2f2f2f;
  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    grid-template-areas: "project-title . hamburger";
    grid-template-columns: 4fr 1fr;
  }
  .hamburger {
    grid-area: hamburger;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.lab-nav-content {
  grid-area: links;
  display: grid;
  grid-template-areas: "about account linkback";
  .nav-item {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
  }
  #nav-account {
    grid-area: account;
  }
  #nav-about {
    grid-area: about;
  }
  #nav-linkback {
    grid-area: linkback;
  }
  .mini-branding {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    transition: .2s;
    .nav-branding {
      background: url("../../img/logos/cap-logo-harvard-white.svg") no-repeat;
      background-size: contain;
      width: 93px;
      height: 36px;
      transition: .2s;
      display: block;
      background-position-x: 0;
      &:hover, &:focus, &:active {
        background: url("../../img/logos/cap-logo-harvard-hover.svg") no-repeat;
        background-size: contain;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.project-title {
  color: $color-white;
  grid-area: project-title;
  font-size: $font-size-lg;
  padding-left: 1rem;
  display: flex;
  align-items: center; /* Vertical center alignment */
  .labs-label {
    font-weight: $font-weight-black;
  }
  .project-name {
    font-weight: $font-weight-extra-light;
  }
}

.labs-logo {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  grid-area: logo;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  .nav-branding {
    background: url(../../img/labs/labs-logo-animate-once.gif) no-repeat;
    background-size: contain;
    width: 187px;
    height: 72px;
    display: block;
    background-position-x: 0;
    &:hover, &:focus, &:active {
      background: url(../../img/labs/labs-logo-animated.gif) no-repeat;
      background-size: contain;
    }
  }
}


