@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaizman\/Documents\/capstone\/capstone\/static\/css\/scss\/login\.scss}line{font-family:\000032}}
.login-form {
  letter-spacing: 1px;
  width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaizman\/Documents\/capstone\/capstone\/static\/css\/scss\/login\.scss}line{font-family:\000036}}
  .login-form form {
    text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaizman\/Documents\/capstone\/capstone\/static\/css\/scss\/login\.scss}line{font-family:\0000311}}
h3 {
  margin-left: -20px;
  border-bottom: 1px solid white;
  padding-bottom: 5px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aaizman\/Documents\/capstone\/capstone\/static\/css\/scss\/login\.scss}line{font-family:\0000317}}
  .logged-in-page {
    padding: 20px 0; }
