
.login-form {
  letter-spacing: 1px;
  width: 100%;

  form {
    text-transform: uppercase;
  }
}

  h3 {
    margin-left: -20px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }

.logged-in-page {
  padding: 20px 0;
}
