@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities/align";
@import "base.scss";

.row {
  padding-bottom: 0.5em;
}

.alert-danger {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

label {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  margin-right: 0.5em;
  color: $color-violet-gray-dark;
}

input[type="number"] {
  max-width: 20%;
}

input {
  border: 0;
}

input.dropdown-toggle.btn-secondary {
  color: $color-violet-gray-dark !important;
  border: 2px solid $color-violet-gray-dark !important;
}

.page-title {
  h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
  }
}

.description {
  color: $color-violet-gray;
}

.top-section {
  padding-top: 0;
}

.form-group-elements {
  margin: 0.8em 0;
}

.text-to-graph, input[type="number"] {
  padding-left: 0.5em !important;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.main-content {
  padding-bottom: 0;
}

.graph-container {
  background-color: $color-white;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: 1px solid $color-violet-gray;
  width: 100%;
  max-height: 15em;
  overflow-y: scroll;
  z-index: 999;
  .dropdown-item {
    color: $color-black;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;
    text-transform: capitalize;
    font-size: inherit;
    font-weight: inherit;
    &:hover, &:active, &:focus {
      background-color: $color-yellow;
    }
    &.active {
      background-color: $color-yellow-light;
    }
  }
}

.selected-jur {
  background-color: $color-violet-gray;
  color: $color-white;
  border-radius: 5em;
  margin: 0.5em;
  font-size: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  &:hover, &:focus, &:active {
    background-color: $color-yellow;
    color: $color-black;
  }

}