@import "base.scss";
@import "bootstrap/forms";
@import "footer/black";

.top-section.compressed {
  @include media-breakpoint-up(md) {
    border-bottom: 1px solid #E7E7ED;
  }
}
.main-content {
  padding-top: 2.5rem;
  @include media-breakpoint-down(md) {
    padding-top: 1rem !important;
  }
}

.h5 {
  font-weight: $font-weight-bold;
}
.content {
  margin: 0 auto;
  @include make-col(9);
  @include media-breakpoint-down(md) {
    @include make-col(12);
  }
  a:hover, a:focus, a:active {
    color: $color-blue;
  }
}

label {
  font-family: $font-serif;
}

#sidebar-menu {
  border-right: 0;
}

.user-information {
  input {
    border: 0;
    color: $color-violet;
    margin-bottom: 1rem;
  }
  .row {
    margin-bottom: 1.2rem;
  }
}

.delete-account-link {
  color: $color-red !important;
}

.btn {
  margin-top: 1.5rem;
  &.btn-delete {
    margin-top: 0;
  }
}

.simple-subtitle {
  @include media-breakpoint-up(lg) {
    font-size: 45px;
  }
}

.approval-contract {
  .col {
    padding: 1em !important;
    margin: 1em;
  }
}

.approval-contract-text {
  height: 15em;
  overflow: scroll;
  border: 1px black solid;
}

.case-number {
  font-weight: $font-weight-bold;
  color: $color-violet-gray-dark;
}
