@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';
@import "bootstrap/variables";
@import "bootstrap/buttons";
@import "bootstrap/forms";
@import "variables";
@import "footer/black";

.content {
  margin: 0 auto;
  @include make-col(9);
  @include media-breakpoint-down(md) {
    @include make-col(12);
  }
  a:hover, a:focus, a:active {
    color: $color-blue;
  }
}

label {
  font-family: $font-serif;
}

#sidebar-menu {
  border-right: 0;
}

.user-information {
  input {
    border: 0;
    color: $color-violet;
    margin-bottom: 1rem;
  }
  .row {
    margin-bottom: 1.2rem;
  }
}

.btn {
  margin-top: 1.5rem;
}

.simple-subtitle {
  color: $color-violet;
  @include media-breakpoint-up(lg) {
    font-size: 45px;
  }
}

.approval-contract {
  .col {
    padding: 1em !important;
    margin: 1em;
  }
}

.approval-contract-text {
  height: 15em;
  overflow: scroll;
  border: 1px black solid;
}