@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/mixins';

@import "bootstrap/variables";
@import "bootstrap/forms";
@import "variables";

footer {
  background-color: $color-violet;
  color: $color-white;
  a:hover, a:focus, a:active {
    color: $color-yellow;
  }
}

.content {
  margin: 0 auto;
  padding: 3rem 0;
  @include make-col(9);
  @include media-breakpoint-down(md) {
    @include make-col(12);
  }
  a:hover, a:focus, a:active {
    color: $color-blue;
  }
}

