@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "base.scss";
@import 'footer/yellow';
@import "search_results";

$color-search-gray-light: #ced4da;

.row.alert-danger {
  padding: 10px 0;
  margin: 10px 0;
}

/* end safari rounding bug hack */
.main-content {
  margin: 0 !important;
  min-width: 100%;
  padding: 0 !important;
}

//*** head matter
form {
  &.col-md-4 {
    border-right: 1px solid $color-search-gray-light;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .input-group {
    padding: 0;
  }
  input, input[type="date"] {
    border-radius: 0;
  }
}


.page-title {
  @extend h3;
  font-weight: $font-weight-bold;
  margin-left: 0;
  top: -8px;
  position: relative;
  @include media-breakpoint-up(lg) {
    margin-left: -0.4em;
  }
}

.search-form-contents {
  float: right;
}

#search-routes-dropdown {
  border: 1px solid $color-search-gray-light;
}
.dropdown-search-routes {
  width: 100%;
  > .dropdown-title {
    @extend h6;
    min-width: 100%;
    display: inline-block;
    color: $color-medium-blue;
    font-family: $font-sans-title;
    font-weight: 400;
    background-color: rgba(220, 220, 220, 0.35);
    text-align: left;
    text-transform: capitalize;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      margin-top: 15px;
    }

    &:after {
      float: right;
      content: url("../../img/arrows/expand-arrow-blocked.svg");
      display: inline-block;
    }
  }

  > .dropdown-menu {
    padding: 0;
    border-radius: 0;
    border-left: 1px solid $color-search-gray-light;
    border-bottom: 1px solid $color-search-gray-light;
    border-right: 1px solid $color-search-gray-light;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    .dropdown-item {
      color: $color-black;
      border-bottom: 1px solid $color-gray;
      text-transform: capitalize;
      font-size: inherit;
      font-weight: inherit;
      background-color: $color-white;

      &:hover, &:active, &:focus, &.active {
        background-color: $color-yellow;
      }
    }
  }

  &.show {
    .dropdown-title::after {
      transform: rotate(180deg);
      margin-top: 5px;
    }
  }
}

.main-content {
  #searchform {
    margin-top: 3rem;
  }

}

.search-form-container,
.results-list-container {
  padding-bottom: 2rem;
}

// search disclaimer
.search-disclaimer {
  font-size: 0.8em;
  line-height: 1.5em;
  //@include media-breakpoint-up(lg) {
  //  padding-left: 20px !important;
  //}
  margin-top: 15px;

  p {
    margin-bottom: 0.2em;
  }

  .bold {
    font-weight: 600;
  }
}

// search fields

.field-table {
  margin-top: 36px;
}

.field-row {
  small {
    line-height: 1.3;
    display: block;
    margin-bottom: 10px;
    font-size: 60%;
    letter-spacing: 0.01em;
  }
}

.field_label_container {
  padding-right: 10px !important;
}

.queryfield {
  border: 1px solid $color-violet-gray;
  outline: 0;
  float: right;
  margin-top: -5px;

  &:focus, &:active {
    border: 1px solid $color-blue;
  }
}

.results-loading-container {
  padding-top: 3rem;
}

.loading-gif {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-text {
  text-align: center;
}

.top-section {
  padding-bottom: 2rem;
  border-bottom: none !important;
  padding-top: 0;
}

.citation-list .basic-page p, .basic-page ul {
  margin-bottom: 0;
}

.citation-entry {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  -webkit-appearance: none;
  /*webkit browsers */
  -moz-appearance: none;
  /*Firefox */
  appearance: none;
  /* modern browsers */
  border-radius: 0;
}

select, .queryfield {
  width: 100%;
  border: 1px solid $color-search-gray-light;
  padding: 5px;
  margin-bottom: 10px;
  background-color: $color-white;
}

.btn-submit {
  float: right;
}
//
//.submit-button-group {
//  float: right;
//}

.addfield {
  float: right;

  > button {
    border: 1px solid $color-violet;
    margin-bottom: 10px;
    margin-top: 10px;

    &:after {
      content: url("../../img/plus_sign_violet.svg");
      display: inline-block;
    }

    &:active, &:hover, &:focus {
      &:after {
        content: url("../../img/plus_sign_violet.svg");
        display: inline-block;
      }
    }
  }

  .dropdown-menu {
    right: 0;
    border-radius: 0;
    border: 1px solid $color-violet-gray;

    .dropdown-item {
      border-bottom: 1px solid $color-gray;
      color: $color-black;
      font-size: inherit;
      text-transform: capitalize;
      font-weight: inherit;

      &:hover, &:active, &:focus {
        background-color: $color-yellow;
      }
    }
  }
}

.disabled {
  background-color: $color-gray;
  color: $color-light-gray;
}

.hitcount {
  color: $color-medium-gray;
  margin-bottom: 20px;
  columns: $color-violet;
}

.field_label_container {
}

.field_label_container > select {
  max-width: 100%;
}

.field_value_container {
}

.field_value_container > input {
  width: 100%;
}

.search-button-row {
  margin-top: 1rem;
}

.query-explainer {

  a {
    text-decoration: underline;
    font-size: $font-size-sm;
    color: $color-violet-gray-dark;
  }

  .api_url_segment:hover {
    @extend .highlight-parameter;
  }

  .api_url_active {
    font-weight: bold;
  }

  small {
    line-height: 1.3;
    display: block;
    margin-bottom: 10px;
    font-size: 60%;
    letter-spacing: 0.01em;
  }

}

.url-block {
  background-color: $color-white;
}

.queryfield input.form-control[type="text"], input[type="text"], input[type="email"], textarea {
  display: inline-block;
  width: 100%;
}

.queryfield input.form-control[type="date"] {
  //display: inline-block;
  width: 50%;
}

.queryfield_highlighted {
  @extend .highlight-parameter;
}

.queryfield {
  margin-left: 0.3em;
}

.querylabel_highlighted {
  font-weight: bold;
  color: $color-violet-gray-dark;
}

.highlight-parameter {
  color: $color-white;
  background-color: $color-violet-gray-dark;
}

#query-explainer-button {
  @extend .btn-tertiary;
  border: 0;
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-top: 0;

  &.active {
    &:hover, &:active, &:focus {
      background-position-x: -26px !important;
    }
  }
}