@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "variables";

.row.alert-danger {
  padding: 10px 0;
  margin: 10px 0;
}

/* end safari rounding bug hack */
.main-content {
  margin: 0 !important;
  min-width: 100%;
  padding-left: 0 !important;
}

//*** head matter

.dropdown-toggle::after {
  display: none;
}

.search-form-contents {
  float: right;
}

.dropdown-search-routes{
  @include make-col(11);
  > .dropdown-title {
    @extend h5;
    min-width: 100%;
    display: inline-block;
    margin-left: 10px;
    color: $color-violet;
    font-family: $font-sans-title;
    font-weight: 400;
    background-color: rgb(220, 220, 220);
    text-align: left;
    text-transform: capitalize;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    &:after {
      float: right;
    }
  }

  > .dropdown-menu {
    width: 91%;
    margin-left: 10px;
    padding: 0;
    border-radius: 0;
    border: 1px solid $color-violet;
    .dropdown-item {
      color: $color-violet;
      border-bottom: 1px solid $color-gray;
      text-transform: capitalize;
      font-size: inherit;
      font-weight: inherit;
      &:hover, &:active, &:focus, &.active {
        background-color: $color-yellow;
      }
    }
  }
}

.dropdown-search-routes.dropdown,
.addfield.dropdown {
  .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
  }
  .dropdown-item {
    background-color: $color-white;
  }
}

.main-content {
  #searchform {
    margin-top: 3rem;
  }

}

.search-form-container,
.results-list-container {
  padding-bottom: 2rem;
}

// SEARCH AND RESULTS CONTAINERS
@include media-breakpoint-up(lg) {
  .search-form-container,
  .results-list-container {
    @include make-col(8)
  }
}

@include media-breakpoint-down(md) {
  .search-form-container,
  .results-list-container {
    @include make-col(10)
  }
}

@include media-breakpoint-up(lg) {
  .search-form-container {
    padding-left: 100px;
  }
}

// search disclaimer
@include media-breakpoint-up(lg) {
  .search-disclaimer {
    @include make-col(3);
  }
}

@include media-breakpoint-down(md) {
  .search-disclaimer {
    @include make-col(10);
    margin: 0 auto;
  }
}

@include media-breakpoint-only(xs) {
  .search-disclaimer {
    display: none;
  }
}

.search-disclaimer {
  font-size: 0.8em;
  line-height: 1.5em;
  a {
    border-bottom: 1px solid $color-blue;
  }
  p {
    margin-bottom: 0.2em;
  }
  .bold {
    font-weight: 600;
  }
}

// search fields

.field-table {
  margin-top: 36px;
}

.field_label_container {
  padding-right: 10px !important;
}

.queryfield {
  border: 1px solid $color-violet-gray;
  outline: 0;
  float: right;
  margin-top: -5px;
  &:focus, &:active {
    border: 1px solid $color-blue;
  }
}

.results-loading-container {
  padding-top: 3rem;
}

.loading-gif {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-text {
  text-align: center;
}

.top-section {
  padding-bottom: 2rem;
  border-bottom: none !important;
}

.citation-list .basic-page p, .basic-page ul {
  margin-bottom: 0px;
}

.citation-entry {
  padding-top: 0px;
  padding-bottom: 0px;
}

.queryfield input.form-control[type="text"], input[type="text"], input[type="email"], textarea {
  display: inline-block;
  width: 100%;
}

select {
  width: 100%;
  border: 1px solid $color-violet;
}

.btn-submit {
  float: right;
  border: 1px solid $color-violet !important;
  width: 100px;
  font-weight: $font-weight-semibold;
}

.addfield {
  width: 100%;
  > button {
    border: 1px solid $color-violet;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    &:active, &:hover, &:focus {
      background-color: $color-yellow;
    }
  }
  .dropdown-menu {
    right: 0;
    top: 44px;
    border-radius: 0;
    border: 1px solid $color-violet;
    position: absolute !important;
    .dropdown-item {
      border-bottom: 1px solid $color-gray;
      color: $color-violet;
      font-size: inherit;
      text-transform: capitalize;
      font-weight: inherit;
      &:hover, &:active, &:focus {
        background-color: $color-yellow;
      }
    }
  }
}

.remfield {
  margin-left: 5px;
  background: transparent;
  vertical-align: middle;
  height: 100%;
}

.field-button {
  border: 0;
  background: transparent url("../../img/search/remove-circle-sprite.svg") no-repeat;
  background-size: auto 26px;
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
  &.active {
    &:hover, &:active, &:focus {
      background-position-x: -26px !important;
    }
  }
  &.disabled {
    background-color: transparent;
    background-size: auto 26px;
    background-position-x: -52px;
    cursor: default;
    border: 0;
  }
}

.add-field-button {
}

.disabled {
  background-color: $color-gray;
  color: $color-light-gray;
}

.hitcount {
  color: $color-medium-gray;
  margin-bottom: 20px;
  columns: $color-violet;
}

.field_label_container {
}

.field_label_container > select {
  max-width: 100%;
}

.field_value_container {
}

.field_value_container > input {
  width: 100%;
}

.search-button-row {
  margin-top: 1rem;
}

/* RESULTS */

.result {
  @extend h6;
  margin-bottom: 3rem;
  .row {
    margin-bottom: 5px;
    @include media-breakpoint-down(sm) {
      div {
        @include make-col(12);

      }
    }
    /* Make every first div larger
    and every second div text-align right */
    @include media-breakpoint-up(md) {
      div:first-child {
        @include make-col(8);
      }
      div:nth-child(2) {
        @include make-col(4);
        text-align: right;
      }
    }
  }
  .result-data-label {
    color: $color-violet-gray;
    font-weight: $font-weight-semibold;
  }
  .result-title {
    font-size: 1.2em;
    a {
      border-bottom: 2px solid $color-blue;
    }
  }
  .result-citation {
      color: $color-black;
    }
  .volume {
    color: $color-violet-gray;
  }
  .decision-date {
    font-size: 0.7em;
  }
  .result-name {
    overflow: scroll;
  }
  .see-cases {
    color: $color-violet;
    border-bottom: 2px solid $color-violet;
  }
}
