@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "dropdown";
@import "variables";

.main-content {
  margin: 0 !important;
  min-width: 100%;
  padding-left: 0 !important;
}

//*** head matter
.dropdown-search-routes {
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-search-routes > .dropdown-title {
  @extend h3;
  display: inline-block;
  margin-left: 10px;
  border-bottom: 2px solid $color-violet;
  border-radius: 0;
  color: $color-violet;
  font-weight: $font-weight-semibold;
  text-transform: capitalize;
  width: 91%;
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  &:after {
    float: right;
  }
}

.fancy-for {
  font-family: $font-serif;
  font-style: italic;
  font-size: 24px;
  float: right;
}

.dropdown-search-routes.dropdown,
.addfield.dropdown {
  .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
  }
  .dropdown-item {
    background-color: $color-white;
  }
}

.dropdown-search-routes > .dropdown-menu {
  width: 91%;
  margin-left: 10px;
  padding: 0;
  border-radius: 0;
  border: 1px solid $color-violet;
  .dropdown-item {
    color: $color-violet;
    border-bottom: 1px solid $color-gray;
    text-transform: capitalize;
    &:hover, &:active, &:focus, &.active {
      background-color: $color-yellow;
    }
  }
}

.main-content {
  #searchform {
    margin-top: 3rem;
  }

}

.search-form-container,
.results-list-container {
  padding-bottom: 50px;
}

// SEARCH AND RESULTS CONTAINERS
@include media-breakpoint-up(lg) {
  .search-form-container,
  .results-list-container {
    @include make-col(8)
  }
}

@include media-breakpoint-down(md) {
  .search-form-container,
  .results-list-container {
    @include make-col(10)
  }
}

@include media-breakpoint-up(lg) {
  .search-form-container {
    padding-left: 100px;
  }
}

// search fields

.field-table {
  margin-top: 36px;
}

.field_label_container {
  text-align: right;
  padding-right: 10px !important;
}

.queryfield {
  border: 1px solid $color-violet;
  outline: 0;
  &:focus, &:active {
    border: 1px solid $color-blue;
  }
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7); /*dim the background*/
  text-align: center;
}

.loading-gif {
  position: relative;
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.loading-text {
  color: $color-white;
}

.top-section {
  padding-bottom: 2rem;
  border-bottom: none !important;
}

.citation-list .basic-page p, .basic-page ul {
  margin-bottom: 0px;
}

.citation-entry {
  padding-top: 0px;
  padding-bottom: 0px;
}

.queryfield input.form-control[type="text"], input[type="text"], input[type="email"], textarea {
  display: inline-block;
  width: 100%;
}

select {
  width: 100%;
  border: 1px solid $color-violet;
}

.btn-submit {
  float: right;
  border: 1px solid $color-violet !important;
  width: 100px;
  font-weight: $font-weight-semibold;
}

.addfield {
  width: 100%;
  button {
    float: right;
    border: 1px solid $color-violet;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    &:active, &:hover, &:focus {
      background-color: $color-yellow;
    }
  }
  .dropdown-menu {
    right: 0;
    top: 44px;
    border-radius: 0;
    border: 1px solid $color-violet;
    position: absolute !important;
    .dropdown-item {
      border-bottom: 1px solid $color-gray;
      color: $color-violet;
      &:hover, &:active, &:focus {
        background-color: $color-yellow;
      }
    }
  }
}

.remfield {
  display: grid;
  margin-left: 5px;
  background: transparent;
  vertical-align: middle;
  height: 100%;
}

.field-button {
  border: 0;
  background: transparent url("../../img/search/remove-circle-sprite.svg") no-repeat;
  background-size: auto 26px;
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
  &.active {
    &:hover, &:active, &:focus {
      background-position-x: -26px !important;
    }
  }
  &.disabled {
    background-color: transparent;
    background-size: auto 26px;
    background-position-x: -52px;
    cursor: default;
    border: 0;
  }
}

.add-field-button {
}

.disabled {
  background-color: $color-gray;
  color: $color-light-gray;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7); /*dim the background*/
  text-align: center;
}

.loading-gif {
  position: relative;
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.loading-text {
  color: $color-white;
}

.hitcount {
  color: $color-medium-gray;
  margin-bottom: 20px;
  columns: $color-violet;
}

.field_label_container {
}

.field_label_container > select {
  max-width: 100%;
}

.field_value_container {
}

.field_value_container > input {
  width: 100%;
}

.search-button-row {
  margin-top: 1rem;
}

/* RESULTS */

.result {
  @extend h6;
  margin-bottom: 3rem;
  .row {
    margin-bottom: 5px;
    @include media-breakpoint-down(sm) {
      div {
        @include make-col(12);

      }
    }
    /* Make every first div larger
    and every second div text-align right */
    @include media-breakpoint-up(md) {
      div:first-child {
        @include make-col(8);
      }
      div:nth-child(2) {
        @include make-col(4);
        text-align: right;
      }
    }
  }
  .result-data-label {
    color: $color-violet-gray;
    font-weight: $font-weight-semibold;
  }
  .result-title {
    @extend h5;
    line-height: 1.5em;
    a {
      color: $color-violet;
      border-bottom: 0;
    }
    .result-citation {
      color: $color-violet-gray;
    }
  }
  .decision-date, .volume {
    color: $color-violet-gray;
  }
  .result-name {
    overflow: scroll;
  }
  .see-cases {
    color: $color-violet;
    border-bottom: 2px solid $color-violet;
  }
}
