@import "_variables.scss";

h3 {
  border-bottom: 1px solid $color-black;
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: $color-black;
}

h5.selected-jurisdiction {
  font-family: $font-header-semibold;
  font-size: 1rem;
  padding-bottom: 2px;
  color: $color-black;
}


// DROPDOWN

.dropdown {
  .helper-text {
    position: relative;
    top: 5px;
  }
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-toggle {
  display: inherit;
  border-bottom: 1px solid;
  color: $color-black;
  font-family: $font-header-bold;
  padding-bottom: 7px;
  &:hover {
    border-bottom: 1px solid;
    color: $color-blue;
  }
  &::after {
    float: right;
  }
}

.dropdown-toggle[aria-expanded="true"] {
  border-bottom: 1px solid;
}

.dropdown-jurisdiction-item {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid $color-gray;
}

.dropdown-ul {
  padding: 10px;
}

.viz-content {
  margin-left: auto;
}

@media (min-width: 992px) {
  .viz-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.viz-section {
  padding-bottom: 10px;
}

.hidden {
  display: none !important;
}

.list-group, .list-group-item {
  background-color: transparent;
}


.list-group-item {
  @extend .font-header;
  border-radius: 0 !important;
  border: 0px;
  border-bottom: 1px solid $color-gray;
  &:last-child {
    border-bottom: 0px;
  }
  &.data-item {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 0;
  }
  .count {
    @extend .blue-text;
    @extend .font-header-bold;
    float: right;
  }
}

.a-item-totals > li {
  border-bottom: 1px solid $color-gray;
}

.jurisdiction-list {
  border: 1px solid $color-gray;
  padding: 10px;
}

.helper-text {
  font-size: 12px;
  color: $color-medium-gray;
}

.first-figures {
  .first-figure {
    height: 50px;
  }
  .helper-text {
    bottom: 0;
    position: absolute;
  }
}

#first-year {
  @extend .font-header-bold;
  color: $color-blue;
  font-size: 25px;
}

#first-case, #first-reporter {
  border-bottom: 1px solid;
  padding-bottom: 3px;
  cursor: pointer;
}

#US-all {
  top: 20px;
  display: none;
  position: absolute;
  stroke-width: 3;
  &.active {
    display: block;
  }
}
.land {
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
  &.active {
    fill-opacity: 1;
    fill: $color-blue;
    //stroke: $color-blue;
    //stroke-opacity: 1;
    //stroke-width:1;
  }
}

.land-total {
  fill: #fff;
  fill-opacity: 1;
  &.level-1 {
    fill: $color-black;
  }
  &.level-2 {
    fill: $color-blue;

  }
  &.level-3 {
    fill: $color-medium-blue;

  }
  &.level-4 {
    fill: $color-light-blue;
  }
  &:hover {
    fill: $color-orange;
  }
}

.jurisdiction-list-group {
  a.list-group-item:hover,
  a.list-group-item:focus,
  a.list-group-item:active {
    background-color: $color-blue !important;
    color: #fff;
  }
}

.jurisdiction-list {
  height: 360px;
  overflow: scroll;
  width: 200px;
}

// chart
.chart-container {
  position: relative;
  margin: auto;
  width: 80vw;
  height: 300px;
}


// svg
svg.us_territories {
  display: block;
  margin: 0 auto;
}
