.navbar.navbar-static-top .container {
  padding: 0px;
  width: 100%; }

.page-header h1 {
  font-weight: 700;
  letter-spacing: 1px; }

.prettyprint {
  font-size: 13px;
  border-radius: 0px;
  border: 0px !important; }
  .prettyprint span.str {
    color: #2f2f2f; }
  .prettyprint a span.str {
    color: #0075ff; }
  .prettyprint span.lit {
    color: #22349a; }
  .prettyprint span.kwd {
    color: #eda633; }

body.modal-open label {
  display: block; }
