.api-doc-toc {
  background: #f7f7f9;
  float: none;
  display: table-cell;
  min-width: 250px; }
  .api-doc-toc li {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #2f2f2f;
    text-align: right;
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid #e8e8e8; }
    .api-doc-toc li a {
      color: #2f2f2f;
      text-decoration: none; }

.reading-body {
  float: none;
  display: table-cell; }
  .reading-body p {
    max-width: 85%; }
