{% extends "main_base.html" %}
{% load static %}

{% block content %}
  <div class="basic-page">
    <div class="full-content {% block full_content_style %}{% endblock %}">
      <div class="top-section {% block top_section_style %}{% endblock %}{% if top_section_style %}{{ top_section_style }}{% endif %}">
        <div class="title-section">
          {% block title_section %}
            <h1 class="page-title" id="overview">
              <span alt="" aria-hidden="true" class="decorative-arrow"/></span>
              {% block content_title %}{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}{% endblock %}
            </h1>
          {% endblock %}
        </div>
        <div class="section-intro">
          <div class="content">{% block explainer %}{% if explainer %}{{ explainer }}{% endif %}{% endblock %}</div>
        </div>
      </div>
      <div class="row {% block row_style %}{% endblock %}{% if row_style %} {{ row_style }}{% endif %}">
        {% block sidebar_menu %}{% endblock %}
        <div class="main-content {% block main_content_style %}{% if main_content_style %}{{ main_content_style }}{% endif %}{% endblock %}">{% block main_content %}{% if main_content %}{{ main_content }}{% endif %}{% endblock %}</div>
      </div>
    </div>
  </div>
{% endblock %}
