@import _variables.sass

a
  cursor: pointer
  outline: none
  border-bottom: 0px
.blue-text
  color: $blue

.header-margin
  margin-top: 60px

.centered-text
  text-align: center

.bold-text
  font-weight: $font-bold

.semibold-text
  font-weight: $font-semibold

.separator
  border-bottom: 1px solid $gray

h1
  letter-spacing: 3px

.section-title
  font-size: $section-subtitle-size
  font-weight: $font-bold
  text-transform: uppercase
  letter-spacing: 0.8px

.page-header
  border-bottom: 0px

.blue-button
  font: 14px $font-name
  font-weight: $font-bold
  color: $blue
  letter-spacing: 2px
  background: white
  border: 1px solid $blue
  height: 35px
  padding: 0px 14px
  border-radius: 5px

body
  font-family: $font-name
  color: $black
  header.header
    width: 100%
    padding: 20px 0px 0px 20px
    position: fixed
    z-index: 10
    top: 0px
    background-color: white
    border-bottom: 1px solid $gray
  .header-content
    padding: 0px 20px 10px 20px

  .header-logo, .lil-logo
    height: 32px
    width: 24px
  .lil-logo
    float: right
  .header-text
    font: $font-name, sans-serif
    font-weight: $font-bold
    font-size: 14px
    left: 10px
    letter-spacing: 1.5px
    position: relative
    top: -12px
