{% extends "rest_framework/base.html" %}
{% load pipeline %}
{% load static %}
{% load fullurl %}
{% block style %}
  {% stylesheet 'api' %}
  {% javascript 'base' %}
{% endblock %}

{% block meta %}
    {{ block.super }}
    {# social #}
    <meta name="twitter:image" content="{% fullstatic "img/og_images/api.jpg" %}">
    <meta property="og:image"  content="{% fullstatic "img/og_images/api.jpg" %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@caselawaccess">
    <meta name="twitter:creator" content="@HarvardLIL">
    <meta property="og:title" content="CAPAPI: {{ page_title }}">
    <meta name="twitter:title" content="CAPAPI: {{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta name="twitter:description" content="{{ page_description }}">

    {% if page_url %}
      <meta property="og:url" content="{{ page_url }}">
    {% endif %}

    <meta property="og:type" content="article">
{% endblock %}

{% block title %}{% if name == "Api Root" %}Root | {% elif name %}{{ name }} | {% endif %}API | Caselaw Access Project{% endblock %}

{% block navbar %}

  {% include "includes/nav.html" %}
{% endblock %}

{% block description %}
  {% if name == "Api Root"%}{% else %}{{ block.super }}{% endif %}
{% endblock %}
