version: '2'
services:
    db:
        build:
          context: ../services/docker
          dockerfile: extended-postgres.dockerfile
        image: capstone-postgres:0.1
        environment:
            POSTGRES_PASSWORD: password
        volumes:
          - db_data:/var/lib/postgresql/data:delegated
    redis:
        image: redis:4
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.8.1
        environment:
          - node.name=es01
          - bootstrap.memory_lock=true
          - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
          - discovery.type=single-node
        ulimits:
          memlock:
            soft: -1
            hard: -1
        volumes:
          - esdata01:/usr/share/elasticsearch/data
        ports:
          - 127.0.0.1:9200:9200
    web:
        build: .
        image: capstone:0.3.100-0b5f618351abdc3543b1e8f19bb50b13
        volumes:
            # NAMED VOLUMES
            - node_modules:/app/node_modules:delegated
            # MOUNTS
            - .:/app
            - ../services:/services
        depends_on:
            - redis
            - db
        command: /bin/bash
        tty: true
        environment:
            # let Django load Docker-specific settings conditionally
            - DOCKERIZED=True
        extra_hosts:
          - "case.test:127.0.0.1"
          - "api.case.test:127.0.0.1"
        ports:
            - 127.0.0.1:8000:8000
            - 127.0.0.1:8080:8080
        # allow profiling with py-spy
        # https://github.com/benfred/py-spy#how-do-i-run-py-spy-in-docker
        cap_add:
            - SYS_PTRACE

volumes:
    db_data:
    node_modules:
    esdata01:
      driver: local
