# After updating this file, run `pip-compile` to update requirements.txt.

# general
tqdm                # script progress bars

# celery
celery[redis]       # task queue
pycurl              # let celery talk to SQS queue
-e git://github.com/jcushman/celery-resource-autoscaler.git@master#egg=celery-resource-autoscaler  # autoscale celery processes

# xml
lxml
xmltodict
pyquery

# database
psycopg2            # postgres connector
mysqlclient         # mysql connector
redis               # redis connector

# Django stuff
Django
django-storages     # abstract file access
boto3               # for django-storages to talk to s3
django-bulk-update  # bulk update of models

# Admin stuff
pip-tools           # freeze requirements.txt
Fabric3             # project automation

# Testing
pytest-django       # testing
pytest-xdist        # run tests in parallel with pytest -n
pytest-cov          # record code coverage
pytest-redis        # redisdb fixture
moto                # mocking s3 access
flake8              # linting
factory-boy         # mocking

# API
beautifulsoup4
django-extensions
django-filter
django-libsass
django-pipeline
djangorestframework-filters
djangorestframework

# Tasks
celery             # run parallel tasks