# After updating this file, run `pip-compile` to update requirements.txt.

# general
tqdm # script progress bars
wrapt # object proxying
nltk # tokenizing for ngrams
netaddr # checking IP address in range

# celery
celery[redis,sqs] # task queue
pycurl # let celery talk to SQS queue
flower # monitoring

# xml
lxml
xmltodict
-e git://github.com/jcushman/pyquery.git@115173a#egg=pyquery # Fix issues related to 1.4.x branch (https://github.com/harvard-lil/capstone/issues/745)

# database
psycopg2 # postgres connector
mysqlclient # mysql connector
redis # redis connector

# Django stuff
django==2.0.8
django-storages==1.6.6 # abstract file access
boto3==1.7.48 # for django-storages to talk to s3
django-bulk-update==2.1.0 # bulk update of models
whitenoise==3.3.1 # serve static assets
#django-model-utils  # FieldTracker for tracking changed fields on model instances
# upgrade to master is blocking on https://github.com/jazzband/django-model-utils/issues/331
-e git://github.com/jcushman/django-model-utils.git@d34043f#egg=django-model-utils
django-simple-history==2.1.1 # model versioning
django-partial-index==0.4.0 # create partial postgres indexes
django-redis==4.9.0 # use redis as Django cache backend
django-hosts==3.0 # URL routing across subdomains
django-webpack-loader==0.6.0 # include assets from webpack

# Admin stuff
pip-tools==2.0.1 # freeze requirements.txt
fabric3==1.14.post1 # project automation

# Testing
pytest==3.7.0 # Fix issues related to 4.x branch (https://github.com/harvard-lil/capstone/issues/745)
pytest-django==3.3.3 # testing
pytest-xdist==1.16.0 # run tests in parallel with pytest -n
pytest-cov==2.5.1 # record code coverage
pytest-redis==1.3.2 # redisdb fixture
moto==1.3.6 # mocking s3 access
flake8==3.4.1 # linting
factory-boy==2.11.1 # mocking
pytest-factoryboy==2.0.1 # inject factory-boy factories into pytest fixtures
bagit==1.6.4 # validate BagIt bag

# SCSS
libsasscompiler==0.1.5 # for compiling scss in pipeline

# API
beautifulsoup4==4.6.0
django-extensions==2.0.6
django-libsass==0.7
django-pipeline==1.6.14
djangorestframework-filters==1.0.0.dev0 # Remove pinned version on next release (noted 12/26/18)
djangorestframework==3.8.2
django-bootstrap4==0.0.6 # render bootstrap forms in django templates
drf-yasg==1.7.1 # expose API specification
flex==6.13.1 # both used for spec validation
swagger-spec-validator==2.1.0 # by drf-yasg
-e git://github.com/jcushman/email-normalize.git@6b5088bd05de247a9a33ad4e5c7911b676d6daf2#egg=email-normalize

# pdf generation
pypdf2
reportlab
img2pdf

# maintenance page
webpage2html # save target page as string
mincss # remove unused css styles
