<p>
  Good news! You now have unmetered access to Caselaw Access Project data. Your completed access agreement with the
  Harvard Law School Library and LexisNexis is below.
</p>
<p>
  To get started, log in using your CAP API account. If you run into any questions or obstacles, share them with us at
  {{ contact_url }}.
</p>
<p>
  We're excited to hear about how you use this dataset. Once you have something you'd like to share, tell us about it.
  We'd love to help spread the word!
</p>
<p>
  Thanks!<br>
  The CAP Team
</p>
<hr>
<p>You signed this contract on: {{ signed_date|date:"F j, Y" }}</p>
{{ contract_html|safe }}