Good news! You now have unrestricted access to <a href="https://case.law/">Caselaw Access Project</a> data.

To get started, <a href="https://case.law/user/login/">log in</a> using your account. Once you're in, you can start by accessing the <a href="https://case.law/docs/site_features/api">CAP API</a>, <a href="https://cite.case.law/">browsing cases</a>, and <a href="https://case.law/download/">viewing downloads</a> like our <a href="https://case.law/download/citation_graph/">citation graph</a>
, <a href="https://case.law/download/PDFs/">case PDFs</a>, and more. If you run into any questions or obstacles, share them with us
at our <a href="https://case.law/contact/">contact page</a> or by replying to this email.

We're excited to hear about how you use the Caselaw Access Project. Once you have something you'd like to share, tell us about it! We'd love to help spread the word. We're sharing examples of how people are using CAP data in our <a href="https://case.law/gallery/">gallery</a>. 

To share your research and find new collaborators, join the <a href="https://capresearchcommunity.slack.com/">CAP Research Community</a> on Slack. Stay in the loop on news and updates about the Caselaw Access Project with our newsletter, <a href="https://law.us3.list-manage.com/subscribe?u=4290964398813d739f2398db0&id=e097736c6f">Lawvocado</a>. 

Thanks!
The CAP Team
---
Caselaw Access Project
Harvard Law School Library
