.top-section, .main-content {
  padding: 0 !important;
}

h3 {
  font-family: $font-monospace;
}

.btn-tertiary {
  font-weight: $font-weight-regular;
  text-decoration: underline;
  font-family: $font-monospace;
}

