
input.form-control, textarea.form-control {
  background-color: $color-light-gray;
  border: 0;
  outline: none;
  border-radius: 0;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, .8);
}

.modal-header .close {
  background-color: $color-white;
  padding: 0.68rem 1rem;
  margin: -0.5rem -1rem -1rem auto;
  border-left: 2px solid $color-black;
}

.modal-header .modal-title {
  font-family: $font-monospace;
  font-size: 1.2rem;
  font-weight: $font-weight-semibold;
}

.modal-dialog {
  font-family: $font-monospace;
  border: 2px solid $color-black;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.36);
  max-width: 700px;

  form {
    margin-bottom: 0;
  }

  .dropdown-title, .dropdown-item {
    font-weight: 400;
    font-size: 16px;
    background-color: $color-light-gray;
    width: 100%;
    text-align: left;
    padding-left: 0.6em;
  }

  .dropdown-menu {
    position: absolute !important;
    max-height: 300px;
    overflow-y: scroll;
  }

  .dropdown-item {
    padding: 8px;

    &:hover, &:focus, &:active {
      background-color: $highlight;
      cursor: pointer;
    }
  }

}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  top: -35px;
  color: $color-medium-gray !important;
  font-size: 10px;
}

.modal-header, .modal-footer {
  border-radius: 0;
}

.modal-header {
  font-weight: $font-weight-semibold;
  font-size: 20px;
  background-color: #efefef;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid $color-black;
}

.modal-body {
  font-size: 16px;
}

.modal-footer {
  border-top: 0;
}

label, textarea::placeholder {
  font-size: 16px;
  color: $color-black !important;
}

#add-case-modal {

  #form-add-case {
    display: grid;
    grid-template-areas:
          "link        .    short"
          "name        .    long"
          "citation    .    long"
          "date        .    long"
          "jur         .    long"
          "reporter    .    long";
  }

  .form-label-group {
    margin-bottom: 0.5em;
  }

  #field-group-search {
    grid-area: search;
    display: grid;
    grid-template-areas:
            "input input input input input input search";

    #field-search-cap {
      grid-area: input;
    }

    .button-container {
      grid-area: search;
      text-align: center;
    }
  }

  #field-group-url {
    grid-area: link;
  }

  #field-group-name {
    grid-area: name;
  }

  #field-group-citation {
    grid-area: citation;
  }

  #field-group-short {
    grid-area: short;
  }

  #field-group-long {
    grid-area: long;

    textarea {
      min-height: 14em;
    }
  }

  #field-group-date {
    grid-area: date;
  }

  #field-group-jurisdiction {
    grid-area: jur;
  }

  #field-group-reporter {
    grid-area: reporter;
  }

  .results-list {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid $color-black;
    margin-bottom: 0;

    .result-container {
      cursor: pointer;

      &:nth-child(even) {
        background-color: $color-light-gray;
      }
    }

    .result-container.chosen {
      .result {
        background-color: $highlight;
      }
    }

    .result {
      font-family: $font-serif-fancy;
      padding: 0.3em 1em;

      &:hover, &:active, &:focus {
        background-color: $highlight;
        cursor: pointer;
      }

      br {
        display: none;
      }
    }

    .result-title, .result-citation, .court, .jurisdiction {
      font-size: 15px;
    }

    .decision-date {
      text-align: right;
      font-family: $font-monospace;
    }

    .previews {
      font-size: 12px;

      .preview, .preview_set_elipsis {
        display: none;

        &:nth-child(2) {
          display: block;
          line-height: 1.5em;
        }
      }
    }
  }
}

#add-event-modal {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2em;
    grid-gap: .5em;
  }
  #field-event-long-description {
    min-height: 5em;
  }
}

