.sidebar {
  position: fixed;
  left: -25rem;
  height: 100%;
  border-right: 1px solid $color-black;
  transition: all 0.5s;
  font-family: $font-sans-serif;
  padding: 1em;
  background-color: $color-light-gray;


  &.expanded {
    left: 0;
    transition: all 0.5s;
    width: 25rem;
  }

  .sidebar-content {
    .h2o-error-container {
      height: 11.5rem;
      overflow-y: scroll;
      border: 1px solid black;
      padding: 0.5em;
      font-size: 0.7em;
      line-height: 1.5em;
    }
  }

  svg {
    margin-top: -0.5em;
  }

  .chart-container {
    margin-top: 1em;

    h6 {
      margin: 0 1em 0.2em 1em;
      text-align: center;
    }

    .small {
      font-size: 0.6em;
      margin: 0;
      font-style: italic;
      text-align: center;
    }

    .chart {
      padding: 20px;
      background-color: $color-white;
      border: 1px solid lightgray;
    }
  }


}

@include media-breakpoint-down(sm) {
  .sidebar {
    display: none;
  }
}