{% load startswith %}
{% load static %}

<ul class="nav">
{% for item in toc %}
    <li>
        {% if item.children %}
                <div class="row">
                    {% if req_doc_path|startswith:item.url %}
                        <a class="py-1 current-branch interior-directory-link" href="#menu_{{ item.uid }}" data-toggle="collapse" data-target="#menu_{{ item.uid }}" onclick="toggle_arrow('arrow_{{ item.uid }}');">{{ item.label }}</a>
                    {% else %}
                        <a class="collapsed py-1 interior-directory-link" href="#menu_{{ item.uid }}" data-toggle="collapse" data-target="#menu_{{ item.uid }}" onclick="toggle_arrow('arrow_{{ item.uid }}');">{{ item.label }}</a>
                    {% endif %}
                </div>
               {% if req_doc_path|startswith:item.url %}
                   <div class="collapse show" id="menu_{{ item.uid }}" aria-expanded="false">
               {% else %}
                   <div class="collapse" id="menu_{{ item.uid }}" aria-expanded="false">
               {% endif %}
                        <ul class="top-level-item pl-0">
                            <li class="interior-directory">
                                {% include "includes/docs_toc.html" with toc=item.children %}
                            </li>
                        </ul>
                    </div>
        {% elif req_doc_path == item.url %}
            <ul class="doc-toc-entry">
                <li class="current-document py-1">{{ item.label }}</li>
                 {{ item.doc_toc }}
            </ul>
        {% else %}
            {% if req_doc_path|startswith:item.url %}
                   <a class="current-branch py-1" href="{% url "docs" item.url %}">{{ item.label }}</a>
            {% else %}
                   <a class="py-1" href="{% url "docs" item.url %}">{{ item.label }}</a>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>
