{% load static %}
<footer class="footer">
  <div class="footer-content container-fluid pt-5">
    <div class="row">
      <div class="col-4">
          {# lil logo  #}
      </div>
      <div class="col-8 text-right">
        <ul class="list-inline links">
          <li class="list-inline-item">
            <a href="/about">ABOUT</a>
          </li>
          <li class="list-inline-item">
            <a href="/tools">TOOLS</a>
          </li>
          <li class="list-inline-item">
            <a href="/showcase">SHOWCASE</a>
          </li>
          <li class="list-inline-item">
            <a href="/login">LOG IN</a>
          </li>
          <li class="list-inline-item">
            <a href="/contact">CONTACT</a>
          </li>
        </ul>
        <p class="credits color-violet">
          ©2017 The President and Fellows of Harvard University
          {#            {% include "includes/project_message.html" %}#}
        </p>
        <p class="credits">
          The content on this site is covered under a Creative Commons
          <br/>
          Attribution-ShareAlike 3.0 Unported license unless otherwise noted
        </p>
      </div>

      <div class="col-12 text-center">
        <button id="return" onclick="returnToTop()" class="return-to-top white-button btn">RETURN TO TOP</button>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
    <img class="img-fluid align-bottom"
         alt="stylized mountains"
         src="{% static "img/mountains.png" %}">
  </div>


</footer>

<script>
  function returnToTop() {
    window.scrollTo(0, 0);
  }
</script>
