<nav id="main-menu" class="navbar navbar-expand-lg p-0">
  {% if page_name != 'index' %}
    <a class="navbar-brand" href="#">Caselaw Access Project</a>
  {% endif %}
  <button class="navbar-toggler pull-xs-right p-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-content"
          aria-controls="navbar-content"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav mx-auto list-inline">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          ABOUT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="#">Overview</a>
          <a class="dropdown-item" href="#">What data?</a>
          <a class="dropdown-item" href="#">Usage & access</a>
          <a class="dropdown-item" href="#">Press</a>
          <a class="dropdown-item" href="#">Contributors</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          TOOLS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="#">Overview</a>
          <a class="dropdown-item" href="#">API</a>
          <a class="dropdown-item" href="#">Bulk Data</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          SHOWCASE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="#">Overview</a>
          <a class="dropdown-item" href="#">Limericks</a>
          <a class="dropdown-item" href="#">Wordclouds</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">LOG IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>









