{% load static %}
<nav id="main-menu" class="navbar navbar-expand-lg pl-0 pr-0">
  {% if page_name != 'index' %}
    <a href="/">
      <img id="cap-logo-long"
       class="img-fluid"
       alt="CAP logo"
       src="{% static "img/cap-logo-final-long-small.png" %}">
    </a>
  {% endif %}
  <button class="navbar-toggler pull-xs-right p-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-content"
          aria-controls="navbar-content"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav mx-auto list-inline">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if page_name == 'about' %}selected{% endif %}"
           href="#" id="navbar-dropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          ABOUT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="/about">Overview</a>
          <a class="dropdown-item" href="/about#data">What data?</a>
          <a class="dropdown-item" href="/about#usage">Usage & access</a>
          <a class="dropdown-item" href="/about#press">Press</a>
          <a class="dropdown-item" href="/about#contributors">Contributors</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if page_name == 'tools' %}selected{% endif %}"
           href="#" id="navbar-dropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          TOOLS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="/tools#">Overview</a>
          <a class="dropdown-item" href="/tools#">API</a>
          <a class="dropdown-item" href="/tools#">Bulk Data</a>
        </div>
      </li>
      <li class="nav-item dropdown {% if page_name == 'showcase' %}selected{% endif %}">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          SHOWCASE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="#">Overview</a>
          <a class="dropdown-item" href="#">Limericks</a>
          <a class="dropdown-item" href="#">Wordclouds</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if page_name == 'login' %}selected{% endif %}" href="#">LOG IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page_name == 'contact' %}selected{% endif %}" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>









