{% load static %}
{% load pipeline %}
{% load api_url %}

{% load render_bundle from webpack_loader %}

<a class="skip" href="#main">Skip to main content</a>
<nav id="main-nav" aria-label="main">
  <div class="branding">
    <a class="nav-branding" href="{% url 'home' %}" aria-label="Caselaw Access Project Home"></a>
  </div>
  <button id="burger-icon">
    <div class="burger-item"></div>
    <div class="burger-item"></div>
    <div class="burger-item"></div>
  </button>

  <div class="nav-content">
    <ul class="nav">
      <li class="nav-item nav-search-item">
        <form onsubmit="searchCAP();">
          <input id="cap-query" placeholder="Search caselaw">
          <input type="submit" class="submit" hidden/>
          <span class="search-icon"></span>
        </form>

      </li>
      <li class="nav-item dropdown" id="nav-tools">
        <noscript>
          <a class="nav-link" href="{% url 'tools' %}">Caselaw</a>
        </noscript>
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown-tools"
           role="button"
           aria-haspopup="true"
           aria-expanded="false"
           data-toggle="dropdown">
          Caselaw
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown-tools">
          <a class="dropdown-item" href="{% url 'tools' %}">Tools overview</a>
          <a class="dropdown-item" href="{% url 'trends' %}">Trends</a>
          <a class="dropdown-item" href="{% api_url 'api-root' %}v1/">API</a>
          <a class="dropdown-item" href="{% url 'cite_home' host 'cite' %}">Read Caselaw</a>
          <a class="dropdown-item" href="{% url 'download-files' '' %}">Bulk Data</a>
          <a class="dropdown-item" href="{% url 'search' %}">Search</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="nav-contact">
        <noscript>
          <a class="nav-link" href="{% url 'docs' '' %}">Support/docs</a>
        </noscript>

        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown-docs"
           role="button"
           aria-haspopup="true"
           aria-expanded="false"
           data-toggle="dropdown">Support/docs </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown-docs">
          <a class="dropdown-item" href="{% url 'docs' '' %}">Docs Overview </a>
          <a class="dropdown-item" href="{% url 'docs' '' %}site_features/api">API</a>
          <a class="dropdown-item" href="{% url 'docs' '' %}site_features/bulk">Bulk Data</a>
          <a class="dropdown-item" href="{% url 'docs' '' %}site_features/search">Search</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="nav-gallery">
        <noscript>
          <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
        </noscript>
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown-gallery"
           role="button"
           aria-haspopup="true"
           aria-expanded="false"
           data-toggle="dropdown">
          Gallery
        </a>

        <div class="dropdown-menu" aria-labelledby="navbar-dropdown-gallery">
          <a class="dropdown-item" href="{% url 'gallery' %}">Gallery home</a>
          <a class="dropdown-item" href="{% url 'labs:labs' %}">CAP Labs</a>
          <a class="dropdown-item" href="{% url 'gallery' %}#research-results">Research Results</a>
          <a class="dropdown-item" href="{% url 'gallery' %}#coursework">Coursework</a>
          <a class="dropdown-item" href="{% url 'gallery' %}#fun-stuff">Fun Stuff</a>
          <a class="dropdown-item" href="{% url 'gallery' %}#applications">Applications</a>
          <a class="dropdown-item" href="{% url 'gallery' %}#applications-third-party">Applications Third Party</a>
          <a class="dropdown-item" href="{% url 'gallery' %}#tutorials">Tutorials</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="nav-about">
        <noscript>
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </noscript>
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown-about"
           role="button"
           aria-haspopup="true"
           aria-expanded="false"
           data-toggle="dropdown">
          About
        </a>

        <div class="dropdown-menu" aria-labelledby="navbar-dropdown-about">
          <a class="dropdown-item" href="{% url 'about' %}">About CAP</a>
          <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
        </div>
      </li>
      <li class="nav-item" id="nav-account">
        {% if user.is_authenticated %}
        <a href="{% url 'user-details' %}" class="nav-link nav-link-icon">
          <div class="user-account-img"></div>
          <div class="x-small">Account</div>
        </a>
        {% else %}
        <a href="{% url 'login' %}{% if request %}?next={{ request.build_absolute_uri }}{% endif %}"
           class="nav-link nav-link-icon">
          <div class="user-account-img"></div>
          <div class="x-small">Log in</div>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>

<script>
    let search_url = "{% url 'search' %}";
    let query = '';

    function searchCAP() {
        query = document.getElementById("cap-query").value;
        setTimeout(function () {
            // need fake timeout for Chrome
            window.location.href = search_url + '#/cases?search=' + query + '&page=1&ordering=relevance';
        }, 500);
    }

    // showing dropdowns and search bar for JS enabled browsers
    let dropdowns = document.getElementsByClassName('dropdown-toggle')
    for (let i = 0; i < dropdowns.length; i++) {
        dropdowns[i].style.display = 'block';
    }
    let searchBar = document.getElementsByClassName('nav-search-item')[0]
    searchBar.style.display = 'block';
</script>


