{% load static %}
{% load pipeline %}
{% load api_url %}

{% load render_bundle from webpack_loader %}

<a class="skip" href="#main">Skip to main content</a>
<div id="nav-app"></div>
<script>
    const nav_urls = {
        home: "{% url 'home' %}",
        api_root: "{% api_url 'api-root' %}v1/",
        docs: "{% url 'docs' parent.url %}",
        search_docs: "{% url 'search-docs' %}",
        bulk: "{% url 'download-files' '' %}",
        search: "{% url 'search' %}",
        gallery: "{% url 'gallery' %}",
        labs: "{% url 'labs:labs' %}",
        tools: "{% url 'tools' %}",
        about: "{% url 'about' %}",
        cite: "{% url 'cite_home' host 'cite' %}",
        contact: "{% url 'contact' %}",
        login: "{% url 'login' %}{% if request %}?next={{ request.build_absolute_uri }}{% endif %}",
        user_details: "{% url 'user-details' %}"
    };

    const nav_user = {
        id: "{{ user.id }}",
        is_authenticated: "{{ request.user.is_authenticated }}"
    }

</script>
{% render_bundle 'nav' %}

