{% load static %}
<!-- On small screens, show logo on its own row --->
<div class="row">
  <div class="branding branding-white-bg">
    <a class="nav-branding" href="/">
      <img class="cap-logo img-fluid"
         alt="CAP logo"
         src="{% static "img/cap-logo-black.png" %}">
    </a>
  </div>
</div>

<nav role="navigation">
    <div class="branding branding-black-bg">
      <a class="nav-branding" href="/">
        <img class="cap-logo img-fluid"
           alt="CAP logo"
           src="{% static "img/cap-logo-white.png" %}">
      </a>
    </div>



    <button id="burger-icon">
      <div class="burger-item"></div>
      <div class="burger-item"></div>
      <div class="burger-item"></div>
    </button>
    </a>
  <div class="nav-content">
    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if page_name == 'about' %}selected{% endif %}"
           href="#" id="navbar-dropdown"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          ABOUT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="/about">Overview</a>
          <a class="dropdown-item" href="/about#data">What data?</a>
          <a class="dropdown-item" href="/about#usage">Usage & access</a>
          <a class="dropdown-item" href="/about#press">Press</a>
          <a class="dropdown-item" href="/about#contributors">Contributors</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if page_name == 'tools' %}selected{% endif %}"
           href="#" id="navbar-dropdown"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          TOOLS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="/tools#">Overview</a>
          <a class="dropdown-item" href="/tools#">API</a>
          <a class="dropdown-item" href="/tools#">Bulk Data</a>
        </div>
      </li>
      <li class="nav-item dropdown {% if page_name == 'showcase' %}selected{% endif %}">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbar-dropdown"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          SHOWCASE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <a class="dropdown-item" href="#">Overview</a>
          <a class="dropdown-item" href="#">Limericks</a>
          <a class="dropdown-item" href="#">Wordclouds</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if page_name == 'login' %}selected{% endif %}" href="#">LOG IN</a>
      </li>
    </ul>
  </div>

</nav>
