{% extends "registration/base.html" %}
{% load static %}

{% block title %}Password reset complete | {% endblock %}

{% block meta_description %}
  Password reset complete
{% endblock %}


{% block registration_content %}
  <div class="top-section compressed">
    {% include "includes/page-title.html" with title="Password set successfully" %}
  </div>
  <div class="row">
    <div class="main-content">
      <p>
        Your password has been set.
        You may go ahead and log in now.
      </p>
      <p>
        <a href="{% url "login" %}">
          Log in
        </a>
      </p>
    </div>
  </div>
{% endblock %}
