{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block title %}Password change{% endblock %}
{% block meta_description %}Password change form{% endblock %}

{% block main_content %}
  <form class="form" method="post">
    {% csrf_token %}

    {% if form.errors %}
      <div class="alert alert-warning">Please correct the error below.</div>
    {% endif %}

    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

    {% bootstrap_form form %}
    <button type="submit" class="btn btn-secondary white-button">Change my password</button>
  </form>
{% endblock %}
