{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block registration_content %}
  {% if validlink %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form class="form" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-default white-button">Change my password</button>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
  {% endif %}
{% endblock %}
