{% extends "registration/base.html" %}
{% load static %}

{% block title %} — Password reset complete{% endblock %}

{% block meta_description %}
Password reset complete
{% endblock %}


{% block registration_content %}
  <h1>
    <img alt="›"
         src='{% static "img/red-arrow-right.svg" %}'
         class="decorative-arrow"/>
    Password set successfully
  </h1>
  <div class="content">
    <p>
      Your password has been set.
      You may go ahead and log in now.
    </p>
    <p>
      <a href="{{ login_url }}">
        Log in
      </a>
    </p>O
  </div>
{% endblock %}
