{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block title %}Forgotten your password?{% endblock %}
{% block meta_description %}Reset password for Caselaw Access Project{% endblock %}

{% block main_content %}
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <form class="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-default white-button">Reset my password</button>
  </form>
{% endblock %}
