{% extends "registration/base.html" %}
{% load static %}

{% block title %}Password change successful | {% endblock %}

{% block meta_description %}
  Password change successful
{% endblock %}

{% block registration_content %}
  <div class="top-section compressed">
    {% include "includes/page-title.html" with title="Password change successful" %}
  </div>
  <div class="row">
    <div class="main-content">
      <p>
        Your password was changed.
      </p>
    </div>
  </div>
{% endblock %}
