{% extends "registration/base.html" %}
{% load static %}
{% block title %} — Password reset success{% endblock %}

{% block meta_description %}
Password reset successful
{% endblock %}

{% block registration_content %}
    <h1>
    <img alt=""
         aria-hidden="true"
         src='{% static "img/red-arrow-right.svg" %}'
         class="decorative-arrow"/>
    Password email sent
  </h1>
  <div class="content">
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
{% endblock %}
