{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %} — Register {% endblock %}

{% block meta_description %}
Register to the Caselaw Access Project
{% endblock %}

{% block registration_content %}
  <h1>
    <img alt=""
         aria-hidden="true"
         src='{% static "img/red-arrow-right.svg" %}'
         class="decorative-arrow"/>
    Register
  </h1>
  <div class="content">
    <form class="form" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <br/>
      <button type="submit" class="btn btn-default">
        Register
      </button>
    </form>
  </div>
{% endblock %}
