{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block title %}Resend verification{% endblock %}
{% block meta_description %}Verify your email address{% endblock %}

{% block main_content %}
  {% if error %}
    <div class="alert alert-warning">{{ error }}</div>
  {% else %}
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <br/>
      <button type="submit"
              class="btn btn-primary">
        Resend verification email
      </button>
    </form>
  {% endif %}
{% endblock %}
