{% extends "base.html" %}

{% block title %} | Your Account{% endblock %}

{% block content %}
<div class="logged-in-page container-full header-margin inverse">
  <div class="row row-centered">
    <div class="col-6 col-centered">
      <h3>Profile details</h3>
      <div class="form-group row">
          <label for="user_email"
                 class="col-sm-4 col-form-label col-form-label-sm">
            Email
          </label>
          <div class="col-sm-8">
            <span class="user_email form-control form-control-sm">
              {{ request.user.email }}
            </span>
          </div>
          <label for="user_api_key"
                 class="col-sm-4 col-form-label col-form-label-sm">
            API Key
          </label>
          <div class="col-sm-8">
            <span class="user_api_key form-control form-control-sm">
            {{ request.user.get_api_key }}
            </span>
          </div>
          {% if unlimited %}
            <label for="unlimited_access_until"
                   class="col-sm-4 col-form-label col-form-label-sm">
              Unlimited access until
            </label>
            <div class="col-sm-8">
              <span class="unlimited_access_until form-control form-control-sm">
                {{ request.user.unlimited_access_until }}
              </span>
            </div>
          {% else %}

          <label for="user_case_allowance_remaining"
                 class="col-sm-4 col-form-label col-form-label-sm">
            Cases left to view today
          </label>
          <div class="col-sm-8">
            <span class="user_case_allowance_remaining form-control form-control-sm">
              {{ request.user.case_allowance_remaining }}
            </span>
          </div>
          <label for="user_total_case_allowance"
                 class="col-sm-4 col-form-label col-form-label-sm">
            Total case allowance (updated daily)
          </label>
          <div class="col-sm-8">
            <span class="user_total_case_allowance form-control form-control-sm">
              {{ request.user.total_case_allowance }}
            </span>
          </div>
          {% endif %}
      </div>
      <div class="btn-group float-right">
        <a href="{% url "password_reset" %}">
          <button type="submit" class="btn btn-default white-button">
            CHANGE PASSWORD
          </button>
        </a>
        &nbsp;
        <a href="{% url "logout" %}">
          <button type="submit" class="btn btn-default white-button">
            LOGOUT
          </button>
        </a>
      </div>
    </div>
  </div>
{#  </div>#}
</div>
{% endblock content %}
