{% extends "base.html" %}
{% load pipeline %}
{% load static %}
{#{% block style %}#}
{#  {% stylesheet 'viz' %}#}
{#{% endblock %}#}
{##}
{% block extra_head %}
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="{% static "js/chart.js" %}"></script>
  <script src="{% static "js/data-totals.js" %}"></script>
  <script src="{% static "js/nouislider.js" %}"></script>
  {% stylesheet 'viz_total' %}
{% endblock %}
{% block meta_description %}
  The Caselaw Access Project Data Visualization
{% endblock %}
{% block content %}
  <div class="container header-margin">
    <div class="row">
      <h3>CAP Data visualized</h3>

    </div>
  <div class="row">
    <div class="col-12">
      <div id="slider" class="noUi-target noUi-ltr noUi-horizontal"></div>
    </div>
  </div>
    <div class="row">

      <div class="col-12">

        {% include 'includes/us/usaTerritories2Low.svg' %}
      </div>
    </div>

  <script>
    let jurisdiction_data = JSON.parse("{{ jurisdictions|escapejs }}");
    let case_count_per_year = JSON.parse("{{ case_count_per_year|escapejs }}");
    let case_count = JSON.parse("{{ case_count|escapejs }}");
  </script>

{% endblock %}

