{% load bootstrap4 %}
<h2>CAP BULK ACCESS AGREEMENT</h2>

{% block user_info %}
  {% bootstrap_form form %}
{% endblock %}

<p>
  This agreement is made by and among the Harvard Law School Library (the "Library"), LexisNexis, a division of
  RELX Inc., and the above-named research scholar ("you"). It governs the terms and conditions of bulk access to caselaw data
  made available by the Library’s Caselaw Access Project ("CAP").
</p>

<h3>Eligibility for Bulk Access to CAP Cases</h3>
<p>To be eligible for bulk access to CAP cases, you must be:</p>
<ul class="bullets">
  <li>A member of the Harvard community with a valid, current Harvard ID, or</li>
  <li>A research scholar with an official affiliation with an educational or non-profit research institution</li>
</ul>
<p>
  If you do not meet one of these criteria, then you are not eligible for bulk access to CAP cases. By signing
  this agreement, you represent that the information you provide above is true and that you meet at least one of
  these criteria.
</p>

<h3>Restrictions on Data Usage and Distribution</h3>
<p>
  The CAP cases are being made available by the Library pursuant to its agreement with LexisNexis, a division of
  RELX Inc., which has certain exclusive rights to make use of the cases for purposes other than education and
  research. As such, the CAP cases are subject to the following important restrictions on usage and distribution,
  all of which you must accept in order to receive bulk access to them:
</p>
<ul class="bullets">
  <li>You may use the CAP cases only in connection with educational or research purposes.</li>
  <li>You may not use the CAP cases in connection with any other purposes, including any commercial purposes.</li>
  <li>
    You may not publish, disseminate, distribute or share the CAP cases, except:
    <ul>
      <li>
        In furtherance of your educational or research purposes, you may publish, distribute, disseminate or
        share no more than 500 cases per day;
      </li>
      <li>
        In furtherance of your educational or research purposes, you may publish, distribute, disseminate or
        share the CAP cases with other researchers who are eligible for comprehensive bulk access to CAP cases
        and who have signed this agreement.
      </li>
    </ul>
</ul>
<p>
  By signing this agreement, you accept these restrictions. If you do not accept these restrictions, then you
  cannot receive comprehensive bulk access to CAP cases.
</p>
<h3>Consequences of Violating This Agreement</h3>
<p>
  LexisNexis, a division of RELX Inc., is a third-party beneficiary of this agreement. Any violation of its
  restrictions may result in legal action against you by LexisNexis, a division of RELX Inc., to enforce these
  restrictions.
</p>
