{% extends "layouts/base.html" %}
{% load pipeline %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load api_url %}
{% load redaction %}

{% load capweb_static %}

{% block base_css %}{% stylesheet 'case' %}{% endblock %}
{% block title %}{{ full_citation|elide:db_case|striptags }}{% endblock %}
{% block meta_description %}Full text of {{ full_citation|elide:db_case|striptags }} from the Caselaw Access Project.{% endblock %}
{% block extra_footer %}
  <script>
    const templateVars = {
      urls: {
        {% if request.user.is_staff %}
          djangoAdmin: "{% url 'admin:capdb_casemetadata_change' db_case.id %}",
        {% endif %}
        caseEditor: "{% url 'case_editor' db_case.id host 'cite' %}",
        search: "{% url "search" %}#/cases",
        redact: "{% url "redact_case" db_case.id host 'cite' %}",
        about: "{% url "about" %}",
        api: "{% api_url "api-root" %}v1/",
        apiDocs: "{% url "api" %}",
        caseApi: "{% api_url 'cases-detail' db_case.id %}{% if request.user.is_authenticated or es_case.jurisdiction.whitelisted %}?full_case=true{% endif %}",
        casePdf: "{% if can_render_pdf %}{{ db_case.get_pdf_url|elide:db_case|striptags }}{% endif %}",
        citedBy: "{% url "case_cited_by" db_case.id host 'cite' %}"
      },
      fullCite: "{{ full_citation|redact:db_case }}",
      isStaff: {% if request.user.is_staff %}true{% else %}false{% endif %},
      canEdit: {% if perms.capdb.correct_ocr %}true{% else %}false{% endif %},
      jurisdictionName: "{{ es_case.jurisdiction.name_long }}",
      caseYear: "{{ db_case.decision_date.year }}",
      caseId: {{ db_case.id }},
      analysis: {{ analysis|safe }}
    };
  </script>
  {% render_bundle 'case' %}
{% endblock %}

{% block title_section %}
  {% if not request.user.is_authenticated %}
    <div class="alert alert-success m-0" role="alert">
      Welcome to the Caselaw Access Project! We allow free access to up to 500 cases per person per day &mdash; see
      our
      <a href="{% url 'terms' %}">terms of use</a> for details. <a href="{% url 'register' %}">Sign up for an
      account</a>
      to use our API or apply for unlimited research scholar access.
    </div>
  {% endif %}
  <div class="sr-only sr-only-focusable" tabindex="0">
    Press Ctrl + / (Windows, Chrome OS) or ⌘ + / (Mac) to jump to the Tools menu.
    Press escape to return to last selected case text.
  </div>
{% endblock %}

{% block sidebar_menu %}
  <aside id="sidebar-menu" tabindex="-1" aria-label="Tools">
    <div class="content">

  {% include "cite/case_header.html" with case=db_case %}
    <div id="sidebar-menu-content"></div>
      </div>
  </aside>
{% endblock %}

{% block main_content %}
  <div class="case-container header-margin">
    <div class="metadata text-center col-centered">
      <div class="case-name">
        {{ formatted_name|elide:db_case|safe }}
      </div>
    </div>

    {% if status == 'error_auth_required' %}
      <div class="name">
        <div class="alert-warning text-center">
          <h6 class="case-viewing-error">
            You must be signed in to see the full case.
          </h6>
        </div>
      </div>
    {% elif status != 'ok' %}
      <div class="alert-warning text-center">
        <h6 class="case-viewing-error">Could not load case body: {{ status }}</h6>
      </div>
    {% else %}
      {{ case_html|elide:db_case|safe }}
      {% if db_case.custom_footer_message %}
        <footer class='custom-case-footer'>{{db_case.custom_footer_message}}</footer>
      {% endif %}
      {% if db_case.no_index_redacted %}
        <footer class='custom-case-footer'>Some text has been redacted.</footer>
      {% endif %}
      {% if db_case.no_index_elided %}
        <footer class='custom-case-footer'>
          Some text has been hidden for privacy from automated systems, but can be revealed by clicking the elided text.
        </footer>
      {% endif %}
    {% endif %}
  </div>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id":"{{ db_case.get_full_frontend_url }}"
      },
      "headline": "{{ db_case.name_abbreviation|elide:db_case|striptags }}",
      {% if not es_case.jurisdiction.whitelisted %}
        "hasPart": {
          "@type": "WebPageElement",
          "isAccessibleForFree": "False",
          "cssSelector": ".casebody"
        },
      {% endif %}
      "author": {
        "@type": "Organization",
        "name": "{{ es_case.court.name }}"
        },
      "genre": "Law",
      "keywords": "{{ db_case.citations_by_type|join:", " }}, {{ db_case.name_abbreviation|elide:db_case|striptags }}",
      "publisher": {
        "@type": "Organization",
        "name": "Harvard Law School Library Innovation Lab",
        "logo": {
          "@type": "ImageObject",
          "url":"{% capweb_static "img/lil-logo-black.png" %}",
          "width": 693,
          "height": 361
        }
      },
      "image": "{% capweb_static "img/og_image/api.jpg" %}",
      "datePublished": "{{ db_case.decision_date }}",
      "dateModified": "2018-10-29",
      "dateCreated": "{{ db_case.decision_date }}",
      "description": "{{ formatted_name|elide:db_case|striptags }}"
    }
  </script>
{% endblock %}
