{% load redaction %}
<div class="sidebar-section">
    <h2 class="sidebar-title">Citation</h2>
    <div class="case-header">
        <h1>{{ full_citation|elide:case }}</h1>
        <div>
            <span class="decision-date">{{ case.formatted_decision_date }}</span>
            <span>&middot;</span>
            <span class="court-name">{{ case.court.name }}</span>
            {% if case.docket_number %}
            <span>&middot;</span>
            {% endif %}
            <span class="docket-number">{{ case.docket_number }}</span>
        </div>
        <div class="citations">
            {{ case.citations_by_type|join:", " }}
        </div>
    </div>
</div>
