{% extends "layouts/base.html" %}
{% load pipeline %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load api_url %}
{% load capweb_static %}

{% block base_css %}{% stylesheet 'case_editor' %}{% endblock %}
{% block explainer %}{{ citation_full|striptags }}{% endblock %}
{% block meta_description %}Editing {{ citation_full|striptags }} from the Caselaw Access Project.{% endblock %}

{% block main_content %}
    <div id="app">
    </div>

    <script>
        {% autoescape off %}
            const import_processed_pages_from_django_template = new Map(Object.entries({{ processed_pages }}));
            // Get page info from django template vars
            const import_case_info_from_django_template = {{ json_case }}[0];
            // Get page info from django template vars
        {% endautoescape %}
    </script>
    {% render_bundle 'case-editor' %}

{% endblock %}
