{% extends "layouts/narrow.html" %}
{% block title %}
  {% if not citations %}Read Caselaw: {{ full_cite }}
  {% else %}Read Caselaw: {{ citations.0 }}{% endif %}
{% endblock %}
{% block meta_description %}Caselaw Access Project cases{% endblock %}

{% block main_content %}
  <div class="page-section">
    {% if not citations %}
      Citation "{{ full_cite }}" not found. <a href="https://scholar.google.com/scholar?as_sdt=40000006&q={{ full_cite }}">Click here to search Google Scholar</a>.
    {% else %}
      Multiple cases match "{{ full_cite }}":
      <ul>
        {% for citation in citations %}
          <li><a href="{% url 'series' series_slug=reporter.short_name_slug volume_number=volume.volume_number case_id=citation.case_id host 'cite' %}">{{ citation.case }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
