{% extends "layouts/centered.html" %}
{% load render_bundle from webpack_loader %}
{% load pipeline %}

{% block base_css %}{% stylesheet 'cite' %}{% endblock %}

{% block title %}
  {% if not cases %}
    {{ full_cite }}
  {% else %}
    {{ cases.0.citations.0.cite }}
  {% endif %}
{% endblock %}
{% block meta_description %}Caselaw Access Project cases{% endblock %}

{% block content %}
  <div class="cite-container header-margin">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Browse</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/{{ series_slug }}">
            Reporter {{ series }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="/{{ series_slug }}/{{ volume_number_slug }}">
            Volume {{ volume_number_slug }}
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="/{{ series_slug }}/{{ volume_number_slug }}/{{ page_number }}">Page {{ page_number }}</a>
        </li>
      </ol>
    </nav>
    <div class="content-centered">
      {% if not cases %}
        <h3>Citation "{{ full_cite }}" was not found.</h3>
        <p>Check for the case in other databases:</p>
        <ul class="third-party-dbs">
          <li>
            <a class="btn btn-primary"
               target="_blank"
               href="https://www.courtlistener.com/c/{{ series }}/{{ volume_number_slug }}/{{ page_number }}">
              CourtListener
            </a>
          </li>
          <li>
            <a class="btn btn-primary"
               target="_blank"
               href="https://scholar.google.com/scholar?as_sdt=40000006&q={{ full_cite }}">
              Google Scholar
            </a>
          </li>
        </ul>
      {% else %}
        <h4 class="case-name">Multiple cases match "{{ full_cite }}"</h4>
        <ul>
          {% for case in cases %}
            <li>
              <a href="{% url 'citation' series_slug=series_slug volume_number_slug=volume_number_slug page_number=page_number case_id=case.id host 'cite' %}">{{ case.full_cite }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
