{% extends "layouts/full.html" %}

{% block title %}Read Caselaw{% endblock %}
{% block meta_description %}Caselaw Access Project cases{% endblock %}

{% block explainer %}
  <p class="mb-4">Browse all volumes of the Caselaw Access Project below.</p>
  <form id="search" class="form-inline mb-4">
    <label for="q">Search the collection:</label>
    <input type="text" class="form-control flex-fill ml-2" id="q">
    <input type="submit" class="btn btn-primary" value="Search">
  </form>
  <script>
    document.getElementById('search').addEventListener('submit', function(e) {
      document.location = '{% url "search" %}#/cases?page=1&search=' + encodeURIComponent(document.getElementById('q').value);
      e.preventDefault();
    })
  </script>
  <p class="mb-0">View a <a href="{% url "random" host "cite" %}">random case</a>.</p>
{% endblock %}

{% block sidebar_menu_items %}
  {% for jurisdiction, reporters in jurisdictions %}
    <li>
      <a class="list-group-item" href="#{{ jurisdiction.slug }}">
        <span class="text">{{ jurisdiction }}</span>
      </a>
    </li>
  {% endfor %}
{% endblock %}

{% block main_content %}
  {% for jurisdiction, reporters in jurisdictions %}
    <h2 class="subtitle" id="{{ jurisdiction.slug }}">
      {{ jurisdiction }}
    </h2>
    <ul>
      {% for reporter in reporters %}
        <li>
          <strong><a href="{% url 'series' series_slug=reporter.short_name_slug host 'cite' %}">{{ reporter.short_name }}</a>:</strong>
          {{ reporter.full_name }} ({{ reporter.start_year|default:"" }}-{{ reporter.end_year|default:"" }})
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
