{% extends "layouts/full.html" %}

{% block title %}Read Caselaw{% endblock %}
{% block meta_description %}Caselaw Access Project cases{% endblock %}

{% block explainer %}
  Browse the collection of the <a href="{% url 'home' %}">Caselaw Access Project</a>.
{% endblock %}

{% block sidebar_menu %}
  <nav id="sidebar-menu" aria-label="table of contents">
    <div class="content">
      <ul class="list-group">
        {% for jurisdiction, reporters in jurisdictions %}
          <li>
            <a class="list-group-item" href="#{{ jurisdiction.slug }}">
              <span class="text">{{ jurisdiction }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block main_content %}
  <div class="page-section">
    {% for jurisdiction, reporters in jurisdictions %}
      <h2 class="subtitle" id="{{ jurisdiction.slug }}">
        {{ jurisdiction }}
      </h2>
      <ul>
        {% for reporter in reporters %}
          <li>
            <strong><a href="{% url 'series' series_slug=reporter.short_name_slug host 'cite' %}">{{ reporter.short_name }}</a>:</strong>
            {{ reporter.full_name }} ({{ reporter.start_year }}-{{ reporter.end_year }})
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock %}
