{% load static %}{% load pipeline %}{% load capweb_static %}{% load render_bundle from webpack_loader %}{% load capture_tags %}<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# title #}
    {% capture as title_out silent %}{% block title %}{% if title %}{{ title }}{% endif %}{% endblock title %}{% block title_suffix %} | Caselaw Access Project{% endblock title_suffix %}{% endcapture %}
    <title>{{ title_out }}</title>
    <meta property="og:title" content="{% if og_title %}{{ og_title }}{% else %}{{ title_out }}{% endif %}">
    <meta property="twitter:title" content="{% if og_title %}{{ og_title }}{% else %}{{ title_out }}{% endif %}">

    {# description #}
    {% capture as meta_description_out silent %}{% block meta_description %}{% if meta_description %}{{ meta_description }}{% else %}Explore American Caselaw{% endif %}{% endblock meta_description %}{% endcapture %}
    <meta name="description" content="{{ meta_description_out }}">
    <meta property="og:description" content="{% if og_description %}{{ og_description }}{% else %}{{ meta_description_out }}{% endif %}">
    <meta name="twitter:description" content="{% if og_description %}{{ og_description }}{% else %}{{ meta_description_out }}{% endif %}">

    {# social #}
    {% capture as page_image_out silent %}{% block page_image %}{% if page_image != None %}{{ page_image }}{% else %}img/og_image/api.jpg{% endif %}{% endblock %}{% endcapture %}
    {% capture as page_image_out silent %}{% if page_image_out|slice:":4" == 'http' %}{{ page_image_out }}{% else %}{% capweb_static page_image_out %}{% endif %}{% endcapture %}
    {% if page_image_out %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ page_image_out }}">
      <meta property="og:image"  content="{{ page_image_out }}">
    {% endif %}

    <meta name="twitter:site" content="@caselawaccess">
    <meta name="twitter:creator" content="@HarvardLIL">

    {% if page_url %}
      <meta property="og:url" content="{{ page_url }}">
    {% else %}
      {% if request %}<meta property="og:url" content="{{ request.build_absolute_uri }}">{% endif %}
    {% endif %}

    <meta property="og:type" content="article">

    {# extra meta tags #}
    {% if meta_tags %}
      {% for meta_tag in meta_tags %}
        <meta
          {% for k, v in meta_tag.items %}
            {{ k }}="{{ v }}"
          {% endfor %}
        >
      {% endfor %}
    {% endif %}

    {# favicon #}
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "img/favicon/android-chrome-144x144.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon/favicon.ico" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#0075FF">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{% static "img/favicon/mstile-150x150.png" %}">
    <meta name="theme-color" content="#ffffff">

    {# if a stylesheet has to import base.scss, it should override this block instead of going in extra_head to avoid double import #}
    {% block base_css %}{% stylesheet "labs" %}{% endblock %}
    {% render_bundle 'chunk-common' %}
    {% render_bundle 'base' %}
    {% if extra_head %}{{ extra_head }}{% endif %}
    {% block extra_head %}{% endblock %}
  </head>
  <body class="hamburger-menu-closed" tabindex="-1">

    <a class="skip" href="#main">Skip to main content</a>

    <nav id="labs-nav" aria-label="main" {% if nav_class %}class="{{nav_class}}"{% endif %}>
      <div class="labs-logo">
            <a class="nav-branding" href="{% url 'labs:labs' %}" aria-label="CAP Labs Home"></a>
      </div>
      <div class="hamburger">
          <button id="burger-icon">
            <div class="burger-item"></div>
            <div class="burger-item"></div>
            <div class="burger-item"></div>
          </button>
      </div>

      <div class="project-title">
          <span class="labs-label">
            CAP LABS
          </span>
              <span class="project-name">
                 |{% block project_name %} {% endblock %}
          </span>
      </div>

      <div class="lab-nav-content">
          <div class="nav-item" id="nav-account">
            {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url "user-details" %}">
                ACCOUNT
              </a>
            {% else %}
              <a class="nav-link "
                 href="{% url "login" %}{% if request %}?next={{ request.build_absolute_uri }}{% endif %}">
                LOG IN
              </a>
            {% endif %}
          </div>
          <div class="nav-item" id="nav-about">
              <a class="nav-link" href="{% url "labs:labs" %}">
                LABS
              </a>
          </div>
          <div class="nav-item" id="nav-linkback">
              <div class="mini-branding">
                    <a class="nav-branding" href="{% url "home" %}" aria-label="CAP Labs Home"></a>
              </div>
          </div>
      </div>

    </nav>


    <div id="content-and-footer" tabindex="-1">
      <main class="all-content flex-xl-nowrap {% block all_content_style %}{% endblock %}" id="main">
        <div class="extended-content row {% block row_style %}{% endblock %}{% if row_style %} {{ row_style }}{% endif %}">
          <div class="main-content extended">
            {% block main_content %}{% if main_content %}{{ main_content }}{% endif %}{% endblock %}
          </div>
        </div>
      </main>

      {% if not hide_footer %}
        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock %}
      {% endif %}
      {% block extra_footer %}{% endblock %}
    </div>
  </body>
</html>




